<div class="offers">
	<div class="container">
		<div class="offers__columns">
			<div class="offers__banner">
				{% include 'banner/banner-sale-offers/banner-sale-offers.html' %}
			</div>
			<div class="offers__banner">
				{% include 'banner/banner-special-offers/banner-special-offers.html' %}
			</div>
			<div class="offers__banner">
				{% include 'banner/banner-promocode/banner-promocode.html' %}
			</div>
			<div class="offers__banner">
				{% include 'banner/banner-sale-pink/banner-sale-pink.html' %}
			</div>
		</div>
	</div>
	
</div>