.offers {
	padding-top: 27px;
	background-color: #fff;
	&__columns {
		margin: 0 -9px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__banner {
		min-height: 371px;
		width: calc(50% - 18px);
		margin: 0 9px 18px;
	}
	@media(max-width: $breakpoint1000) {
		& {
			padding-top: 15px;
		}
		&__columns {
			margin: 0 -4px;
		}
		&__banner {
			display: none;
			width: calc(50% - 8px);
			margin: 0 4px 0;
			min-height: 111px;
			&:nth-child(1), &:nth-child(2) {
				display: block;
			}
		}
	}
	@media(max-width: $breakpoint680) {
		& {
			padding-top: 26px;
		}
		& .container {
			padding-left: 0;
			padding-right: 0;
		}
		& .banner__frame {
			border-radius: 0;
		}
		& .banner-special-offers {
			padding-bottom: 10px;
		}
		&__columns {
			margin: 0;
		}
		&__banner {
			width: 100%;
			margin: 0 0 17px;
			min-height: auto;
		}
	}
}