.load-more {
	width: 100%;
	cursor: pointer;
	padding: 20px;
	text-align: center;
	border-radius: 32px;
	background-color: #8ab95f;
	color: #ffffff;
	font-family: $font-family-VagWorld;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.18px;
}