.banner-promocode {
	height: 100%;
	position: relative;
	padding: 40px 33px 15px;
	background: #eca0a8 url(banner-promocode-bg.png) no-repeat;
	background-size: contain;
	background-position: bottom left;
	color: #fff;
	font-family: $font-family-VagWorld;
	text-align: right;
	&__code {
		font-size: 72px;
		font-weight: 700;
		line-height: 0.9;
		letter-spacing: 0.72px;
	}
	&__title {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.16px;
		margin-bottom: 12px;
	}
	&__text {
		width: 286px;
		margin-left: auto;
	}
	@media(max-width: $breakpoint1100) {
		&__text {
			width: 255px;
		}
	}
}