<div class="banner__frame banner-promocode">
	<div class="banner-promocode__code">В302</div>
	<h2 class="banner-promocode__title">Промокод на <br> бесплатную доставку</h2>
	<div class="banner-promocode__text">Жители Новой Зеландии очень гордятся своей знаменитой птичкой киви. Однако этот остров больше не может претендовать</div>
	<a href="#" class="banner__full-link"></a>
</div>