<div class="rubric">
	<a href="#" class="rubric__link rubric__link_selected"><i class="icon icon_fire rubric__icon"></i>Горячее</a>
	<a href="#" class="rubric__link">Свежее</a>
	<span class="rubric__sep"></span>
	<a href="#" class="rubric__link">Детский сад</a>
	<a href="#" class="rubric__link">Груднички</a>
	<a href="#" class="rubric__link">Кровати</a>
	<a href="#" class="rubric__link">Беременным</a>
</div>