.rubric {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -20px -13px;
	&__link {
		display: flex;
		align-items: center;
		color: #a4a4a4;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 700;
		margin-left: 20px;
		margin-bottom: 13px;
		&_selected {
			color: #9d90c8;
		}
	}
	&__icon {
		margin-right: 10px;
	}
	&__sep {
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background-color: #e4e4e4;
		margin-left: 24px;
		margin-bottom: 13px;
	}
}