.content-links {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-bottom: 20px;
	&__item {
		margin-left: 15px;
	}
	&__link {
		color: #9ea2a5;
		font-family: $font-family;
		font-size: 12px;
		font-weight: 400;
		&_active {
			color: #7a7d7f;
			font-weight: 700;
			line-height: 24px;
		}
	}
}