<ul class="content-links">
	<li class="content-links__item">
		<a href="#" class="content-links__link content-links__link_active">Доставка</a>
	</li>
	<li class="content-links__item">
		<a href="#" class="content-links__link">Возврат</a>
	</li>
	<li class="content-links__item">
		<a href="#" class="content-links__link">Контакты</a>
	</li>
	<li class="content-links__item">
		<a href="#" class="content-links__link">Сервис</a>
	</li>
	<li class="content-links__item">
		<a href="#" class="content-links__link">Условия продажи</a>
	</li>
	<li class="content-links__item">
		<a href="#" class="content-links__link">О компании</a>
	</li>
	<li class="content-links__item">
		<a href="#" class="content-links__link">Ответы на вопросы</a>
	</li>
</ul>