<div class="person">
	<div class="person__profession-img-wrap">
		<img src="{{src}}review-img.png" alt="">
	</div>
	<div class="person__desc">
		<div class="person__profession-name">Наталья К.</div>
		<div class="person__profession">Психолог</div>
	</div>
</div>