.person {
	display: flex;
	align-items: center;
	&__flex-column {
		flex-direction: column;
	}
	&__img-wrap {
		width: 26px;
		height: 26px;
		border-radius: 50%;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			margin: 0 !important;
		}
	}
	&__name {
		font-size: 14px;
		font-weight: 700;
		margin-left: 10px;
	}
	&__desc {
		margin-left: 16px;
		line-height: 1.2;
		&-bottom {
			padding-top: 10px;
			width: 100%;
			margin-left: 0;;
		}
	}
	&__profession {
		font-size: 12px;
		font-weight: 400;
		&-img-wrap {

		}
		&-name {
			font-size: 16px;
			font-weight: 700;
		}
	}
}