<div class="small-icons">
        <div class="small-icons__item">{% include 'date/date.html' %}</div>
        <div class="small-icons__item">{% include 'view-icon/view-icon.html' %}</div>
        <div class="small-icons__item">{% include 'chat-icon/chat-icon.html' %}</div>
</div>