.small-icons {
    display: flex;
    align-items: center;
    color: gray;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    &__item {
        margin-left: 15px;
        &:first-child {
            margin-left: 0;
        }
	}
	@media(max-width: $breakpoint900) {
		& {
			font-size: 11px;
		}
	}
}
.banner__frame {
	& .small-icons {
		color: #d4d4d4;
	}
}