.filter-tags {
	margin-left: -8px;
	&__link {
		margin-left: 8px;
		cursor: pointer;
		display: inline-block;
		padding: 13px 18px;
		color: #a5abad;
		font-family: $font-family;
		font-size: 12px;
		font-weight: 700;
		line-height: 1.2;
		border-radius: 20px;
		background-color: #e6e9ea;
		margin-bottom: 10px;
		&_active {
			background-color: #fc9c4a;
			color: #fff;
		}
	}
}