<div class="filter-tags">
	<div class="filter-tags__link filter-tags__link_active">Все</div>
	<div class="filter-tags__link">Коляски</div>
	<div class="filter-tags__link">Комоды</div>
	<div class="filter-tags__link">Автокресла</div>
</div>