.journal {
	&__link {
		display: flex;
		align-items: center;
		line-height: 1;
		color: #808080;
		font-family: $font-family-VagWorld;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.33px;
		&::before {
			content: '';
			display: inline-block;
			background: url("newspaper.png") no-repeat;
			background-size: cover;
			width: 20px;
			height: 20px;
			margin-right: 12px;
    	}
	}

	@media(max-width: $breakpoint1050) {
		&__link {
			font-size: 11px;
			&::before {
				margin-right: 7px;
			}
		}
	}
	@media(max-width: $breakpoint940) {
		&__link {
			font-size: 10px;
			vertical-align: middle;
			&::before {
				margin-right: 7px;
				width: 13px;
				height: 13px;
			}
		}
	}

}