.banner-special-offers {
	height: 100%;
	position: relative;
	padding: 46px 32px 15px;
	color: #fff;
	font-family: $font-family-VagWorld;
	background: #de6262 url(banner-special-offers-bg.png) no-repeat;
	background-size: cover;
	background-position: right top;
	&__big-text {
		font-size: 87px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.17px;
		margin-bottom: 6px;
	}
	&__title {
		display: inline-block;
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0.05px;
		margin-bottom: 26px;
	}
	&__date-end {
		width: 132px;
		height: 18px;
		color: #ffd34f;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.03px;
		margin-bottom: 26px;
	}
	@media(max-width: $breakpoint1000) {
		& {
			padding: 20px 22px 15px;
			background-image: url(banner-special-offers-small-bg.png);
			&__big-text {
				font-size: 60px;
				line-height: 0.9;
				margin-bottom: 0;
			}
			&__title {
				font-size: 17px;
				margin-bottom: 17px;
				line-height: 17px;
			}
			&__date-end {
				margin-bottom: 17px;
			}
		}
	}
	@media(max-width: $breakpoint900) {
		& {
			padding-bottom: 20px;
			&__text {
				font-size: 10px;
				line-height: 10px;
			}
		}
	}
	@media(max-width: $breakpoint680) {
		& {
			min-height: 170px;
			background: url(banner-special-offers-bg-mobile.png) right bottom, url(banner-special-offers-bg-mobile-icons.png) bottom;
			background-size: contain, 100% 133px;
			background-repeat: no-repeat;
			background-color: #de6262;
			&__big-text {
				line-height: 1.2;
				font-size: 58px;
			}
			&__title {
				line-height: 1.2;
				margin-bottom: 10px;
			}
			&__date-end {
				font-size: 13px;
			}
			&__text {
				width: 90%;
				font-size: 13px;
				line-height: 1.2;
				margin-bottom: 20px;
			}
		}
	}
}