<div class="banner__frame banner-special-offers">
	<div class="banner-special-offers__big-text">Акция</div>
	<h2 class="banner-special-offers__title">Жаркие скидки на <br> все коляски</h2>
	<div class="banner-special-offers__date-end">До 30.01.2018</div>
	<div class="banner-special-offers__text">Жители Новой Зеландии очень гордятся своей знаменитой птичкой киви. Однако этот остров больше не может претендовать на звание исторической родины киви.</div>
	<a href="#" class="banner__full-link"></a>
</div>