.product-status {
	color: #9a9a9a;
	font-family: $font-family;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	display: flex;
	align-items: center;
	&::before {
		content: '';
		display: inline-block;
		margin-right: 8px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
	}
	&_active {
		&::before {
			background-color: #a5c46c;
		}
	}
	&_unactive {
		&::before {
			background-color: #bebebe;
		}
	}
}