<div class="exchange-of-goods content-wrap-page">
	<div class="container">
		<div class="content-wrap clearfix">
			<div class="content-right-block content-right-block_form">
				<form action="#" class="exchange-of-goods-form">
					<h4 class="exchange-of-goods-form__title">Оформление возврата</h4>
					<input type="text" class="exchange-of-goods-form__input" placeholder="Имя*" required>
					<span data-phone="+7" class="exchange-of-goods-form__phone-wrap">
						<input type="tel" class="exchange-of-goods-form__input" placeholder="900 - 959 - 17 - 09" required pattern="[0-9]{3}\s[0-9]{3}-[0-9]{2}-[0-9]{2}">
					</span>
					<input type="text" class="exchange-of-goods-form__input" placeholder="Ваш e-mail*" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
					<textarea class="exchange-of-goods-form__textarea" placeholder="Опишите ситуацию*" required></textarea>
					<div class="exchange-of-goods-form__bottom">
						<label class="exchange-of-goods-form__checkbox js-exchange-of-goods-form-checkbox-validate">
							<input type="checkbox" class="exchange-of-goods-form__checkbox-input js-exchange-of-goodss-form-checkbox-input">
							<span class="exchange-of-goods-form__checkbox-icon"></span>
							<span class="exchange-of-goods-form__checkbox-text">Подтверждаю <br> согласие на обработку данных</span>
						</label>
						<label class="exchange-of-goods-form__file">
							<input type="file" class="exchange-of-goods-form__file-input">
							<span class="exchange-of-goods-form__file-icon"></span>
						</label>
					</div>
					<button type="sumbit" class="exchange-of-goods-form__submit js-exchange-of-goods-form-send">Отправить</button>
				</form>
			</div>
			<div class="content-page-top">
				<h2 class="content-page-title">Возврат товара</h2>
				<i class="icon icon_refresh content-page-title-icon"></i>
			</div>
			{% include 'content-links/content-links.html' %}
			<div class="content">
				<h3>Возврат или обмен товара надлежащего качества</h3>
				<p>Закон РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» предусматривает право на обмен товара а также отказ от товара в любое время до его передачи и в течение семи дней после момента передачи.</p>
				<p>При возврате или обмене качественного товара должны быть сохранены товарный вид, целостность упаковки и комплектация. Внимание! Наличие следов эксплуатации может стать основанием для отказа.</p>
				<p>Закон РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» предусматривает право на обмен товара а также отказ от товара в любое время до его передачи и в течение семи дней после момента передачи.</p>
				<h3>Возврат или обмен товара ненадлежащего качества</h3>
				<p>Закон РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» предусматривает право на обмен товара а также отказ от товара в любое время до его передачи и в течение семи дней после момента передачи.</p>
				<p>При возврате или обмене качественного товара должны быть сохранены товарный вид, целостность упаковки и комплектация. Внимание! Наличие следов эксплуатации может стать основанием для отказа.</p>
				<h3>Возврат или обмен товара ненадлежащего качества</h3>
				<p>Закон РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» предусматривает право на обмен товара а также отказ от товара в любое время до его передачи и в течение семи дней после момента передачи.</p>
				<br>
				<div class="content__columns">
					<h3 class="content__columns-title">Пакет документов</h3>
					<ol>
						<li>Заявление с подписью и полной информацией о заказе</li>
						<li>Заключение авторизованного сервисного центра о технической неисправности.</li>
						<li>Фотографии повреждений.</li>
						<li>Фотографии упаковки (в случае если товар не подошел).</li>
						<li>Накладная или кассовый и товарный чеки.</li>
						<li>Документ, подтверждающий гарантию.</li>
					</ol>
					<a href="#" class="content__file">
						<span class="content__file-name">Sparco F500k инструкция на русском языке</span>
						<span class="content__file-size">8.6 мб</span>
					</a>
				</div>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>