@mixin exchangeOfGoodsPlaceholder() {
	opacity: 0.7;
	color: #c9cacb;
	font-family: $font-family;
	font-size: 16px;
	font-weight: 700;
}
.exchange-of-goods {
	&-form {
		&__title {
			color: $gray-color;
			font-family: $font-family-VagWorld;
			font-size: 26px;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 21px;
		}
		&__input, &__textarea {
			appearance: none;
			border: none;
			outline: none;
			width: 100%;
			background-color: #fff;
			border-radius: 23px;
			padding-left: 27px;
			font-family: $font-family;
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 15px;
			&:focus {
				outline: none;
			}
			&::-webkit-input-placeholder {
				@include exchangeOfGoodsPlaceholder();
			}
			&::-moz-placeholder {
				@include exchangeOfGoodsPlaceholder();
			}
			&:-moz-placeholder {
				@include exchangeOfGoodsPlaceholder();
			}
			&:-ms-input-placeholder {
				@include exchangeOfGoodsPlaceholder();
			}
		}
		&__input {
			height: 46px;
		}
		&__textarea {
			padding-top: 15px;
			height: 150px;
			resize: none;
			margin-bottom: 20px;
		}
		&__phone-wrap {
			position: relative;
			display: block;
			margin-bottom: 15px;
			&:before {
				content: attr(data-phone);
				position: absolute;
				width: 60px;
				height: 31px;
				line-height: 31px;
				top: 50%;
				left: 9px;
				z-index: 1;
				margin-top: -15.5px;
				border-radius: 16px;
				background-color: #e6e9ea;
				color: #909495;
				font-family: PtSans,sans-serif;
				font-size: 14px;
				font-weight: 700;
				text-align: center;
			}
			input {
				margin-bottom: 0;
				padding-left: 77px;
			}
		}
		&__submit {
			cursor: pointer;
			appearance: none;
			outline: none;
			border: none;
			text-align: center;
			border-radius: 30px;
			background-color: #89b85f;
			padding: 20px 0;
			width: 100%;
			color: #fff;
			font-family: $font-family-VagWorld;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 0.2px;
			&:focus {
				outline: none;
			}
		}
		&__bottom {
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
		}
		&__checkbox {
			display: flex;
			align-items: center;
			cursor: pointer;
			&-input {
				visibility: hidden;
				position: absolute;
				left: 0;
				top: 0;
			}
			&-icon {
				flex-shrink: 0;
				display: inline-block;
				position: relative;
				width: 17px;
				height: 17px;
				border-radius: 50%;
				background-color: #ced2d3;
			}
			&-input:checked ~ &-icon {
				&::before {
					content: '';
					width: 11px;
					height: 11px;
					border-radius: 50%;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -5.5px;
					margin-left: -5.5px;
					background-color: #89b85f;
				}
			}
			&-input:checked ~ &-text {
				text-decoration: underline;
			}
			&-text {
				margin-left: 13px;
				line-height: 1;
				opacity: 0.65;
				color: $gray-color;
				font-family: $font-family;
				font-size: 14px;
				font-weight: 400;
			}
			&_required &-icon { // класс &_required добавляется через js
				border: 1px solid red; 
			}	
		}
		&__file {
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;
			&-input {
				visibility: hidden;
				position: absolute;
				width: 0;
				height: 0;
				left: 0;
				top: 0;
			}
			&-icon {
				flex-shrink: 0;
				background: url(photo-camera-icon.png) no-repeat;
				background-position: center;
				width: 43px;
				height: 43px;
				display: inline-block;
				border-radius: 50%;
				background-color: #cdd2d3;
			}
		}
	}
	@media (max-width: $breakpoint1000) {
		&-form {
			&__title {
				font-size: 19px;
			}
		}
	}
	@media (max-width: $breakpoint900) {
		&-form {
			&__submit {
				text-align: left;
				padding: 11px 0 11px 52px;
				font-size: 16px;
				font-weight: 700;
				letter-spacing: 0.16px;
			}
			&__checkbox-text {
				margin-right: 15px;
			}
		}
	}
	@media (max-width: $breakpoint768) {
		&-form {
			&__submit {
				text-align: center;
				padding-left: 0;
			}
		}
	}
}