.not-found {
	padding: 100px 0;
	background-color: #fff;
	&__content {
		text-align: center;
	}
	&__top {
		margin-bottom: 19px;
	}
	&__number, &__img {
		display: inline-block;
	}
	&__number {
		color: #3b3b3b;
		font-family: $font-family-VagWorld;
		line-height: 187px;
		font-size: 254px;
		font-weight: 700;
		letter-spacing: 2.16px;
	}
	&__img {
		width: 190px;
		height: 190px;
		border-radius: 50%;
		background: #89b85f url(404.png) no-repeat;
		background-position: bottom center;
	}
	&__title {
		color: #3b3b3b;
		font-family: $font-family-VagWorld;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__text {
		color: #3b3b3b;
		font-family: $font-family;
		font-size: 20px;
		font-weight: 400;
	}
	&__green-color, &__link {
		color: #89b85f;
		font-weight: 700;
	}
	@media (max-width: $breakpoint700) {
		&__top {
			display: flex;
			justify-content: center;
			margin-bottom: 0;
		}
		&__number {
			font-size: 129px;
			line-height: 0.9;
			letter-spacing: 0.69px;
		}
		&__img {
			width: 102px;
			height: 102px;
			background-size: 65px 85px;
		}
		&__title {
			font-size: 17px;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 8px;
		}
		&__text {
			font-size: 13px;
		}
	}
}