<div class="not-found">
	<div class="container">
		<div class="not-found__content">
			<div class="not-found__top">
				<div class="not-found__number">4</div>
				<div class="not-found__img"></div>
				<div class="not-found__number">4</div>
			</div>
			<h3 class="not-found__title">Такой страницы не существует</h3>
			<p class="not-found__text">Через<span class="not-found__green-color"><span id="js-not-found-timer">5</span>&nbsp;секунд&nbsp;</span>вы будете перенаправлены на <a href="/" class="not-found__link">главную страницу</a></p>
		</div>
	</div>
</div>
<script>
	setInterval(function() {
		var div = document.querySelector("#js-not-found-timer");
		var count = div.textContent * 1 - 1;
		div.textContent = count;
		if (count <= 0) {
			window.location.href="/";
		}
	}, 1000);
</script>