.popular-products {
    background-color: #e6e9ea;
	padding: 44px 0 48px;
	overflow: hidden;
	&__top {
		display: flex;
		justify-content: space-between;
	}
    &__items {
        display: flex;
        flex-wrap: wrap;
		margin: 0 -7px;
		width: auto !important; // нужен чтобы товары занимали правильно всю ширину контейнера
    }
    &__item {
		width: calc(25% - 14px);
		margin: 0 7px 14px;
	}
	@media(max-width: $breakpoint1120) {
		&__item {
			width: calc(33.33% - 14px);
		}
	}
	@media(max-width: $breakpoint900) {
		& {
			padding: 36px 0;
		}
	}
	@media(max-width: $breakpoint850) {
		&__item {
			margin: 0 3.5px 7px;
			width: calc(33.33% - 7px);
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			padding: 30px 0 38px;
		}
		&__items {
			flex-wrap: nowrap;
			margin: 0;
		}
		&__item {
			flex-shrink: 0;
			width: 45%;
			margin: 0;
		}
	}
	@media(max-width: $breakpoint580) {
		&__item {
			width: 48%;
		}
	}
	@media(max-width: $breakpoint450) {
		&__item {
			width: 75%;
		}
	}
}