<div class="popular-products">
    <div class="container">
		<div class="popular-products__top">
			<h2 class="title-block">Популярные товары</h2>
			{% import "link-to-catalog/link-to-catalog.html" as linkToCatalog %}
			{{ linkToCatalog.linkToCatalog() }}
			<div class="popular-products__slider-buttons border-slider-buttons-visible">
				{% include 'border-slider-button/border-slider-button.html' %}
			</div>
		</div>
		<div class="popular-products-swiper">
       		<div class="popular-products__items swiper-wrapper">
				<div class="popular-products__item mobile-slider-item">
					{% include 'card/card.html' %}
				</div>
				<div class="popular-products__item  mobile-slider-item">
					{% include 'card/card.html' %}
				</div>
				<div class="popular-products__item  mobile-slider-item">
					{% include 'card/card.html' %}
				</div>
				<div class="popular-products__item  mobile-slider-item">
					{% include 'card/card.html' %}
				</div>
				<div class="popular-products__item  mobile-slider-item">
					{% include 'card/card.html' %}
				</div>
				<div class="popular-products__item  mobile-slider-item">
					{% include 'card/card.html' %}
				</div>
			</div>
		</div>
    </div>
</div>