.banner-sale {
	background: #df6262 url("banner-sale-bg.png") no-repeat;
	background-position: right top;
	background-size: cover;
	padding: 39px 50px 20px 28px;
	&__title {
		font-size: 85px;
		font-weight: 700;
		margin-bottom: 0;
		line-height: 0.9;
		font-family: $font-family-VagWorld;
	}
	&__text {
		font-family: $font-family-VagWorld;
		font-size: 24px;
		font-weight: 700;
		line-height: 1;
	}
	@media(max-width: $breakpoint900) {
		& {
			padding-left: 19px;
			&__title {
				font-size: 54px;
			}
			&__text {
				font-size: 15px;
			}
		}
	}
	@media(max-width: $breakpoint580) {
		& {
			background-size: 100% 100%;
			padding-bottom: 40px;
			&__title {
				font-size: 64px;
			}
			&__text {
				font-size: 18px;
			}
		}
	}
}