<div class="banner__frame banner__small-height banner-sale">
    <h1 class="banner-sale__title">40%</h1>
	<h4 class="banner-sale__text">на все коляски</h4>
	<a href="#" class="banner__full-link"></a>
</div>