.view-icon {
    &::before {
        content: '';
        display: inline-block;
        background:url("eyeball-icon.png") no-repeat;
        width: 21px;
        height: 12px;
        margin-right: 9px;
    }
}