<div class="contacts content-wrap-page">
	<div class="container">
		<div class="content-wrap clearfix">
			<div class="content-right-block">
				<h4 class="content-right-block__title">Телефоны</h4>
				<a href="tel:+74951913829" class="content-right-block__phone">+7 (495) 191-38-29</a>
				<div class="content-right-block__small-text">Ежедневно с 9:00 до 22:00</div>
				<a href="tel:88003330536" class="content-right-block__phone">8 800 333-05-36</a>
				<div class="content-right-block__small-text">Ежедневно с 9:00 до 22:00</div>
				<div class="content-right-block__text">Наши менеджеры ответят на любые вопросы и помогут подобрать нужный товар, оформить доставку и подключение.</div>
			</div>
			<div class="content-page-top">
				<h2 class="content-page-title">Контакты</h2>
				<i class="icon icon_phone content-page-title-icon"></i>
			</div>
			{% include 'content-links/content-links.html' %}
			<div class="content">
				<div class="content__table">
					<div class="content__table-row">
						<div class="content__table-cell">Заказ и консультации:</div>
						<div class="content__table-cell"><strong>+7 495 191-38-29</strong></div>
					</div>
					<div class="content__table-row">
						<div class="content__table-cell">Время работы:</div>
						<div class="content__table-cell"><strong>с 09:00 до 22:00</strong></div>
					</div>
					<div class="content__table-row">
						<div class="content__table-cell">Электронная почта:</div>
						<div class="content__table-cell"><strong>shop@techno-pride.ru</strong></div>
					</div>
					<div class="content__table-row">
						<div class="content__table-cell">Служба контроля качества:</div>
						<div class="content__table-cell"><strong>sk@techno-pride.ru</strong></div>
					</div>	       							
				</div>
				<h3>Москва</h3>
				<p>Гарантийное обслуживание на крупную и малую бытовую технику DeLonghi составляет 1 год. На кофемашины DeLonghi распространяется гарантия сроком 2 года и сервисное обслуживание, действующее в течение 3-х лет после окончания гарантии.</p>
				<h3>Москва</h3>
				<p>Гарантийное обслуживание на крупную и малую бытовую технику DeLonghi составляет 1 год. На кофемашины DeLonghi распространяется гарантия сроком 2 года и сервисное обслуживание, действующее в течение 3-х лет после окончания гарантии.</p>
				<br>
			</div>
		</div>
	</div>
</div>