<div class="related-products">
	<div class="container">
		<h2 class="title-block">Похожие товары</h2>
		<div class="related-products__slider">
			<div class="swiper-wrapper related-products__flex">
				<div class="swiper-slide">{% include 'card/card.html' %}</div>
				<div class="swiper-slide">{% include 'card/card.html' %}</div>
				<div class="swiper-slide">{% include 'card/card.html' %}</div>
				<div class="swiper-slide">{% include 'card/card.html' %}</div>
				<div class="swiper-slide">{% include 'card/card.html' %}</div>
				<div class="swiper-slide">{% include 'card/card.html' %}</div>
			</div>
			{% include 'swiper-scrollbar/swiper-scrollbar.html' %}
		</div>
	</div>
</div>