.related-products {
	padding-top: 20px;
	padding-bottom: 40px;
	&__slider {
		position: relative;
		overflow: hidden;
		padding-bottom: 32px;
	}
	&__flex {
		display: flex;
	}
	.card {
		padding-left: 27px;
		padding-right: 27px;
	}
	.swiper-slide {
		width: calc(25% - 12px);
	}
	@media (max-width: $breakpoint1100) {
		& .swiper-slide {
			width: 31%;
		}
	}
	@media (max-width: $breakpoint900) {
		& {
			padding-bottom: 30px;
		}
		& .swiper-slide {
			width: 32%;
		}
		&__slider {
			padding-bottom: 0;
		}
		& .swiper-scrollbar {
			display: none;
		}
	}
	@media(max-width: $breakpoint768) {
		& .swiper-slide {
			width: 45%;
		}
	}
	@media(max-width: $breakpoint500) {
		& .swiper-slide {
			width: 58%;
		}
	}
	@media(max-width: $breakpoint400) {
		& .swiper-slide {
			width: 78%;
		}
	}
}