<div class="article-block">
	<h3 class="article-block__title">Читайте также</h3>
	<div class="article-block__slider">
		<div class="swiper-wrapper">
			<div class="article-block__item">
				<div class="article-block__img-wrap">
					<a href="#">
						<img src="{{src}}article-blog.png" alt="">
					</a>
				</div>
				<a href="#" class="article-block__link">Первый вариант звучит абсурдно, но рациональное зерно</a>
				<div class="article-block__statistic">
					{% include 'small-icons/small-icons.html' %}
				</div>
			</div>
			<div class="article-block__item">
				<div class="article-block__img-wrap">
					<a href="#">
						<img src="{{src}}article-blog.png" alt="">
					</a>
				</div>
				<a href="#" class="article-block__link">Первый вариант звучит абсурдно, но рациональное зерно</a>
				<div class="article-block__statistic">
					{% include 'small-icons/small-icons.html' %}
				</div>
			</div>
			<div class="article-block__item">
				<div class="article-block__img-wrap">
					<a href="#">
						<img src="{{src}}article-blog.png" alt="">
					</a>
				</div>
				<a href="#" class="article-block__link">Первый вариант звучит абсурдно, но рациональное зерно</a>
				<div class="article-block__statistic">
					{% include 'small-icons/small-icons.html' %}
				</div>
			</div>
			<div class="article-block__item">
				<div class="article-block__img-wrap">
					<a href="#">
						<img src="{{src}}article-blog.png" alt="">
					</a>
				</div>
				<a href="#" class="article-block__link">Первый вариант звучит абсурдно, но рациональное зерно</a>
				<div class="article-block__statistic">
					{% include 'small-icons/small-icons.html' %}
				</div>
			</div>
		</div>
	</div>
</div>