.article-block {
	&__title {
		color: #3b3b3b;
		font-family: $font-family-VagWorld;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0.75px;
		margin-bottom: 32px;
	}
	&__slider {
		overflow: hidden;
		margin-bottom: 100px;
		& .swiper-wrapper {
			display: flex;
			justify-content: space-between;
		}
	}
	&__item {
		flex-shrink: 0;
		width: 246px;
		display: flex;
		flex-direction: column;	
	}
	&__img-wrap {
		margin-bottom: 20px;
		border-radius: 16px;
		overflow: hidden; 
		& img {
			width: 100%;
			height: 100%;
		}
	}
	&__link {
		color: #3b3b3b;
		font-family: $font-family-VagWorld;
		font-size: 21px;
		font-weight: 700;
		letter-spacing: 0.53px;
		margin-bottom: 25px;
	}
	@media(max-width: $breakpoint1000) {
		&__slider {
			margin-bottom: 80px;
		}
	}
	@media(max-width: $breakpoint768) {
		&__item {
			width: 211px;
		}
		&__link {
			font-size: 19px;
		}
	}
}