<div class="slider-card js-slider-card">
	<div class="swiper-wrapper">
		<div class="slider-card__slider">
			{% include 'card/card-border.html' %}
		</div>
		<div class="slider-card__slider">
			{% include 'card/card-border.html' %}
		</div>
		<div class="slider-card__slider">
			{% include 'card/card-border.html' %}
		</div>
		<div class="slider-card__slider">
			{% include 'card/card-border.html' %}
		</div>
		<div class="slider-card__slider">
			{% include 'card/card-border.html' %}
		</div>
		<div class="slider-card__slider">
			{% include 'card/card-border.html' %}
		</div>
	</div>
	{% include 'swiper-scrollbar/swiper-scrollbar.html' %}
</div>