.slider-card {
	position: relative;
	padding-bottom: 36px;
	overflow: hidden;
	&__slider {
		flex-shrink: 0;
		width: 28%;
	}
	@media(max-width: $breakpoint1100) {
		&__slider {
			width: 32%;
		}
	}
	@media(max-width: $breakpoint900) {
		& {
			padding-bottom: 0;
			.swiper-scrollbar {
				display: none;
			}
		}
		&__slider {
			width: 38%;
		}
	}
	@media(max-width: $breakpoint700) {
		&__slider, .offers-detail &__slider {
			width: 42%;
		}
	}
	@media(max-width: $breakpoint640) {
		&__slider, .offers-detail &__slider {
			width: 52%;
		}
	}
	@media(max-width: $breakpoint420) {
		&__slider, .offers-detail &__slider {
			width: 69%;
		}
	}
	@media(max-width: $breakpoint380) {
		&__slider, .offers-detail &__slider {
			width: 79%;
		}
	}
}