<nav class="menu-footer">
	<ul class="menu-footer__list">
		{% for item in data.menu.footer %}
		<li class="menu-footer__item">
			<a href="#" class="menu-footer__link">{{ item }}</a>
		</li>
		{% endfor %}
	</ul>
</nav>