.menu-footer {
	&__item {
		display: inline-block;
		margin-left: 3%;
		&:first-child {
			margin-left: 0;
		}
	}
	&__link {
		color: #a4a4a4;
		font-size: 14px;
		line-height: 20px;
	}
	@media(max-width: $breakpoint1100) {
		&__item {
			margin-left: 2%;
		}
	}
	@media(max-width: $breakpoint700) {
		&__item {
			display: block;
			margin-left: 0;
			margin-bottom: 13px;
		}
		&__link {
			font-size: 21px;
			line-height: 33.33px;
		}
	}
}