<div class="offers-detail">
	<div class="container">
		<div class="offers-detail__content">
			<div class="offers-detail__top">
				<h2 class="offers-detail__title">Скидка 25% на комплекты малой бытовой техники Smeg!</h2>
				<div class="offers-detail__social">
					{% include 'social/social.html' %}
					<div class="offers-detail__social-text">23 поделились</div>
				</div>
			</div>
			<div class="offers-detail__banner">
				{% include 'banner/banner-sale-offers-detail/banner-sale-offers-detail.html' %}
			</div>
			<div class="content">
				<p>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно, но возникает два вопроса: сколько из этого было нужно на самом деле и как использовать такие безграничные ресурсы по максимуму.</p>
				<p>В голову пришло всего два варианта: поставить все установленные программы на автозагрузку при запуске системы или организовать RAM-диск на 64 ГБ. Первый вариант звучит абсурдно, но рациональное зерно в нем есть — суть в том, чтобы сначала потратить огромное количество времени на полный запуск всех необходимых систем, а потом наслаждаться мгновенной загрузкой Photoshop и пакета MS Office, потому что Windows 10 будет просто доставать их из кэша оперативной памяти.</p>
				<p>Во втором варианте мы вспоминаем давно забытую технологию, которую когда-то убило появление SSD-дисков. RAM память в разы быстрее самого быстрого постоянного запоминающего устройства, только посмотрите на это сравнение скоростей RAM-диска и обычного HDD:</p>
			</div>
			{% include 'slider/slider-card/slider-card.html' %}
	</div>
</div>