.offers-detail {
	margin-bottom: 104px;
	&__content {
		overflow: hidden;
		padding: 40px 50px 74px;
		background-color: #fff;
		border-radius: 16px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 38px;
	}
	&__title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.4px;
		width: 63%;
		margin-right: 10px;
	}
	&__social {
		flex-shrink: 0;
		&-text {
			padding-top: 13px;
			text-align: right;
			color: #cbcbcb;
			font-family: $font-family-VagWorld;
			font-size: 20px;
			font-weight: 700;
			line-height: 19px;
			letter-spacing: 0.2px;
		}
	}
	&__banner {
		margin-bottom: 50px;
	}
	@media(max-width: $breakpoint1100) {
		&__title {
			font-size: 30px;
		}
	}
	@media(max-width: $breakpoint920) {
		.slider-card__slider {
			width: 38%;
		}
	}
	@media(max-width: $breakpoint900) {
		&__content {
			padding: 30px 30px 65px;
		}
		&__top {
			margin-bottom: 24px;
		}
		&__title {
			font-size: 25px;
		}
		&__banner {
			margin-bottom: 42px;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			background-color: #fff;
			padding-top: 27px;
			overflow: hidden;
			margin: 0;
		}
		&__content {
			overflow: visible;
			padding: 0;
			border-radius: 0;
		}
		&__top {
			flex-wrap: wrap;
			margin-bottom: 14px;
		}
		&__title {
			width: 100%;
			margin-right: 0;
			margin-bottom: 12px;
		}
		&__social {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			flex-shrink: 1;
			margin-left: -15px;
			& .social, &-text { // нужен чтобы коректно отображалось в случае переполнения соц иконок
				margin-left: 15px;
			}
			& .social__item, &-text {
				margin-bottom: 10px;
			}
			&-text {
				padding-top: 0;
				font-size: 16px;
			}
		}
		&__banner {
			margin-left: -38px;
			margin-right: -38px;
			.banner__frame {
				border-radius: 0;
			}
		}
	}
}