<div class="social social_footer">
	<ul class="social__list">
		<li class="social__item">
			<a class="social__link social__link_fb" href="#">Facebook</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link_twitter" href="#">Twitter</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link_google-plus" href="#">Google Plus</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link_instagram" href="#">Instagram</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link_vk" href="#">Vk</a>
		</li>
	</ul>
</div>