.tag {
	padding: 9px 25px;
	display: inline-block;
	background-color: #d6dbdd;
	border-radius: 16px;
	color: #92989a;
	font-size: 12px;
	line-height: 1.2;
	&_active {
		color: #fff;
		background-color: #fc9c4a;
	}
}