{% import "banner/banner-article/banner-article.html" as banner %}
{% import "link-to-catalog/link-to-catalog.html" as linkToCatalog %}
<div class="actual-news">
	<div class="container">
		<div class="actual-news__banners">
			<div class="actual-news__top">
				<h2 class="title-block">Актуальные новости</h2>
				{{ linkToCatalog.linkToCatalog("перейти к новостям") }}
				<div class="actual-news__slider-buttons actual-news__hidden580 border-slider-buttons-visible">
					{% include 'border-slider-button/border-slider-button.html' %}
				</div>
				<div class="actual-news__slider-buttons2 actual-news__visible580">
					{% include 'border-slider-button/border-slider-button.html' %}
				</div>
			</div>
			<div class="actual-news-swiper">
				<div class="actual-news__blocks swiper-wrapper" id="js-actual-news-height">
					<div class="actual-news__banner-full mobile-slider-item">
						{{ banner.bannerArticle("banner-article-bg2.png", " banner__higher-height") }}
					</div>
					<div class="actual-news__banner-small mobile-slider-item">
						{{ banner.bannerArticle("banner-article-bg3.png", " banner__higher-height") }}
					</div>
					<div class="actual-news__banner-small mobile-slider-item">
						{{ banner.bannerArticle("banner-article-bg4.png", " banner__higher-height") }}
					</div>
				</div>
			</div>
		</div>
		<div class="actual-news__articles">
			<div class="actual-news__article-item">
				{% include 'article/article-list/article-list.html' %}
			</div>
			<div class="actual-news__article-item">
				{% include 'article/article-list/article-list.html' %}
			</div>
		</div>
	</div>
</div>