.actual-news {
	padding: 47px 0 63px;
	background-color: #fff;
	overflow: hidden;
	.banner-article__content-press-bottom {
		padding-bottom: 26px;
	}
	.banner__title {
		letter-spacing: 0.24px;
	}
	&__banner-small .banner__title {
		letter-spacing: 0.21px;
		font-size: 21px;
	}
	&__visible580 {
		display: none;
	}
	&__top {
		display: flex;
		justify-content: space-between;
	}
    &__blocks {
        display: flex;
        justify-content: space-between;
    }
    &__banners {
        margin-bottom: 17px;
    }
    &__banner-full {
		display: flex;
		flex-wrap: wrap;
        justify-content: space-between;
        width: 49%;
    }
    &__banner-small {
		width: 24%;
    }
    &__articles {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__article-item {
        width: 49%;
	}
	@media(max-width: $breakpoint1100) {
		&__banner-full {
			width: 66%;
		}
		&__banner-small {
			width: 33%;
			&:last-child {
				display: none;
			}	
		}
	}
	@media(max-width: $breakpoint900) {
		& {
			padding: 38px 0 48px;
			&__banners {
				margin-bottom: 8px;
			}
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			padding-bottom: 36px;
		}
		&__articles {
			display: none;
		}
		&-swiper {
			overflow: hidden;
		}
		&__banner-full, &__banner-small {
			width: calc(50% - 6px);
			flex-shrink: 0;
		}
		&__banner-small {
			&:last-child {
				display: block;
			}
		}
	}
	@media(max-width: $breakpoint600) {
		&__banner-full, &__banner-small {
			width: 48.6%;
		}
	}
	@media(max-width: $breakpoint580) {
		&__banner-full, &__banner-small {
			width: 100%;
		}
		&__hidden580 {
			display: none;
		}
		&__visible580 {
			display: block;
		}
		&__blocks {
			justify-content: flex-start;
		}
	}
}