<div class="article-list">
	<div class="article-list__img">
		<a href="#">
			<img src="{{src}}article-list-img.png" alt="">
		</a>
	</div>
	<div class="article-list__content">
		<a href="#" class="article-list__title">Новинки 2017. Детские автокресла нового поколения</a>
		<p class="article-list__text">Жители Новой Зеландии очень гордятся своей знаменитой птичкой киви. Однако этот остров больше не может.</p>
		<div class="article-list__statistic">
			<div class="bg-label-blue article-list__bg-label">ДЕТСКИЙ САД</div>
			{% include 'small-icons/small-icons.html' %}
		</div>
	</div>
</div>