.article-list {
    display: flex;
    &__img  {
        width: 164px;
        height: 164px;
        border-radius: 15px;
        overflow: hidden;
        flex-shrink: 0;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        margin-left: 18px;
    }
    &__title {
        display: block;
        color: #3b3b3b;
        font-family: $font-family-VagWorld;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: 0.21px;
        margin-bottom: 10px;
    }
    &__text {
        opacity: 0.7;
        color: #6e6e6e;
        font-size: 15px;
        line-height: 19px;
    }
    &__bg-label {
        margin-right: 17px;
    }
    &__statistic {
		display: flex;
		flex-wrap: wrap;
	}
	@media(max-width: $breakpoint1100) {
		&__text {
			display: none;
		}
		&__bg-label {
			margin-right: 0;
		}
		&__statistic .small-icons {
			width: 100%;
			margin-top: 8px;
		}
	}
	@media(max-width: $breakpoint1000) {
		&__title {
			font-size: 15px;
			line-height: 1.2;
		}
		&__img {
			width: 111px;
			height: 112px;
		}
		&__content {
			margin-left: 13px;
		}
	}
}