<div class="category-name">
	<div class="container">
		<div class="category-name__bg" style="background-image: url('{{src}}category-name-product.png');">
			<div class="category-name__breadcrumbs">
				{% include 'breadcrumbs/breadcrumbs.html' %}
			</div>
			<h1 class="category-name__title">Детские автокресла</h1>
			<div class="category-name__renewal-price">
				{% include 'renewal/renewal-price/renewal-price.html' %}
			</div>
		</div>
</div>
</div>