.category-name {
	background-position: center;
	background-size: cover;
	&__bg {
		padding: 35px 0;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
	}
	&_h167 {
		padding-top: 47px;
		padding-bottom: 40px;
	}
	&__title {
		color: #ffffff;
		font-family: $font-family-VagWorld;
		font-size: 40px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 10px;
		letter-spacing: 0.4px;
	}
	&__breadcrumbs {
		margin-bottom: 10px;
	}
	@media(max-width: $breakpoint768) {
		&__bg {
			padding: 26px 0;
		}
		&__title {
			font-size: 29px;
		}
	}
	@media(max-width: $breakpoint680) {
		& {
			background-position: left;
		}
		&__bg {
			background-image: none !important;
		}
	}
	@media(max-width: $breakpoint500) {
		&__bg {
			padding: 28px 0;
		}
		&__title {
			font-size: 25px;
		}
	}
}