<div class="category-name" style="background-image: url({{src}}category-news-bg.png);">
	<div class="container">
		<div class="category-name__bg category-name_h167" style="background-image: url('{{src}}category-news-bg-img.png');">
			<div class="category-name__breadcrumbs">
				{% include 'breadcrumbs/breadcrumbs.html' %}
			</div>
			<h1 class="category-name__title">Журнал для мамочек</h1>
		</div>
	</div>
</div>