.popup-complaint {
	width: 639px;
	&__input {
		&-wrap {
			display: flex;
			justify-content: space-between;
		}
		&-small {
			width: 340px;
			&:last-of-type {
				width: 201px;
			}
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			width: 276px;
		}
		&__input-wrap {
			flex-wrap: wrap;
		}
		&__input-small {
			width: 100%;
			&:last-of-type {
				width: 100%;
				margin-bottom: 15px !important;
			}
		}
	}
}