<div class="popup-block popup-complaint js-popup-block" id="js-popup-complaint-content">
	<div class="popup-block__frame">
		<i class="icon icon_close popup-block__close js-popup-close"></i>
		<div class="popup-block__content">
			<h3 class="popup-block__title">Пожаловаться руководству</h3>
			<p class="popup-block__text">Встреча кандидата в президенты от КПРФ Павла Грудинина с жителями Екатеринбурга 
					в Театре эстрады обернулась скандалом. После демонстрации ролика о кандидате, где
					он представлен в роли спасителя России</p>
			<form action="#">
				<div class="popup-complaint__input-wrap">
					<div class="input-wrap popup-complaint__input-small">
						<label class="input-text">Как вас зовут?*</label>
						<input type="text" name="fullname" class="input" required pattern="[a-zA-Zа-яёА-ЯЁ]{3,}(\s{1}([a-zA-Zа-яёА-ЯЁ]+))?(\s{1}([a-zA-Zа-яёА-ЯЁ]+))?" placeholder="Как вас зовут?">
					</div>
					<div class="input-wrap popup-complaint__input-small">
						<label class="input-text">Номер заказа*</label>
						<input type="text" name="order" class="input" required placeholder="Номер заказа">
					</div>
				</div>
				<div class="input-wrap">
					<label class="input-text">Телефон*</label>
					<span data-phone="+7" class="input-phone-wrap">
						<input type="tel" name="phone" class="input" required pattern="[0-9]{3}\s[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="900 - 959 - 17 - 09">
					</span>
				</div>
				<div class="input-wrap">
					<label class="input-text">E-mail*</label>
					<input type="text" name="email" class="input"  required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" placeholder="E-mail">
				</div>
				<div class="input-wrap">
					<label class="input-text">Чего случилось-то?*</label>
					<textarea name="dop-info" class="input-textarea" required></textarea>
				</div>
				<div class="popup-block__bottom">
					<button class="popup-block__button js-popup-block__button">Отправить</button>
					{% include 'popups/popup-checkbox/popup-checkbox.html' %}
				</div>
			</form>
		</div>
	</div>
</div>