.line {
	border-radius: 2px;
	display: flex;
	align-items: center;
	text-align: center;
	&:before, &::after {
		content: '';
		flex-grow: 2;
		height: 4px;
		background-color: #ccd1d3;
	}
	&::before {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	&::after {
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
	&__count {
		background-color: #ccd1d3;
		border-radius: 50%;
		width: 37px;
		height: 37px;
		line-height: 37px;
		color: #fff;
		font-family: $font-family-VagWorld;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.18px;
	}
}