<div class="news-detail">
	<div class="container">
		<div class="news-detail__content">
			<div class="news-detail__top">
				<div class="news-detail__top-left">
					<h2 class="news-detail__page-title">Ученые обнаружили, что память рыб можно тренировать</h2>
					<div class="visible-tablet">
						<div class="news-detail__statistic ">
							<div class="news-detail__statistic-view">14,456</div>
							<div class="news-detail__statistic-comments">67</div>
						</div>
					</div>
					<div class="news-detail__social-icons">
						{% include 'social/social.html' %}
						<div class="news-detail__social-icons-text">23 поделились</div>
					</div>
				</div>
				<div class="news-detail__top-right hidden-tablet">
					<div class="news-detail__statistic">
						<div class="news-detail__statistic-view">14,456</div>
						<div class="news-detail__statistic-comments">67</div>
					</div>
				</div>
			</div>
			<div class="content">
				<img src="{{src}}detskiy-harakter-i-vybor-podarka1.png" alt="" class="content-img">
				<p>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно, но возникает два вопроса: сколько из этого было нужно на самом деле и как использовать такие безграничные ресурсы по максимуму.</p>
				<p>В голову пришло всего два варианта: поставить все установленные программы на автозагрузку при запуске системы или организовать RAM-диск на 64 ГБ. Первый вариант звучит абсурдно, но рациональное зерно в нем есть — суть в том, чтобы сначала потратить огромное количество времени на полный запуск всех необходимых систем, а потом наслаждаться мгновенной загрузкой Photoshop и пакета MS Office, потому что Windows 10 будет просто доставать их из кэша оперативной памяти.</p>
				<p>Во втором варианте мы вспоминаем давно забытую технологию, которую когда-то убило появление SSD-дисков. RAM память в разы быстрее самого быстрого постоянного запоминающего устройства, только посмотрите на это сравнение скоростей RAM-диска и обычного HDD:</p>
				<div class="content__banners content__banners-img">
					<div class="content__banner-img">
						<img src="{{src}}content-banner-img.png" alt="">
					</div>
					<div class="content__banner">
						{% include 'banner/banner-review-catalog/banner-review-catalog.html' %}
					</div>
				</div>
				<p>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно, но возникает два вопроса: сколько из этого было нужно на самом деле и как использовать такие безграничные ресурсы по максимуму.</p>
				<blockquote>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое.</blockquote>
				<p>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно, но возникает два вопроса: сколько из этого было нужно на самом деле и как использовать такие безграничные ресурсы по максимуму.</p>	
			</div>
			<div class="news-detail__social-icons news-detail__social-bottom">
				{% include 'social/social.html' %}
				<div class="news-detail__social-icons-text">23 поделились</div>
			</div>
			<div class="news-detail__slider">
				{% include 'slider/slider-card/slider-card.html' %}
			</div>
			{% include 'article/article-block/article-block.html' %}
			{% include 'coments/coments.html' %}
		</div>
	</div>
</div>