.news-detail {
	margin-bottom: 92px;
	&__content {
		background-color: #fff;
		overflow: hidden;
		padding: 50px 50px 70px;
		border-radius: 16px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 34px;
		&-right {
			margin-left: 10px;
		}
	}
	&__page-title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 1px;
		margin-bottom: 23px;
	}
	&__statistic {
		&-view, &-comments {
			align-items: center;
			display: flex;
			flex-direction: column;
			color: #d2d2d2;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 700;
			line-height: 19px;
			&:before {
				content: '';
				display: inline-block;
				background-size: cover;
				margin-bottom: 8px;
			}
		}
		&-view {
			margin-bottom: 23px;
			&:before {
				width: 37px;
				height: 22px;
				background: url(eyeball-big-icon.png) no-repeat;
			}
		}
		&-comments {
			&:before {
				width: 29px;
				height: 29px;
				background: url(chat-big-icon.png) no-repeat;
			}
		}
	}
	&__social {
		&-bottom {
			padding-top: 20px;
			margin-bottom: 43px;
		}
		&-icons {
			display: flex;
			align-items: center;
			&-text {
				margin-left: 19px;
				color: #cbcbcb;
				font-family: $font-family-VagWorld;
				font-size: 20px;
				font-weight: 700;
				line-height: 19px;
				letter-spacing: 0.2px;
			}
		}
	}
	&__slider {
		overflow: hidden;
		margin-bottom: 100px;
	}
	&__flex {
		display: flex;
	}
	@media(max-width: $breakpoint1000) {
		& {
			margin-bottom: 100px;
		}
		&__content {
			padding: 30px 30px 66px;
		}
		&__page-title {
			font-size: 35px;
		}
		&__top {
			margin-bottom: 20px;
		}
		&__social-bottom {
			margin-bottom: 28px;
		}
		&__content {
			padding-bottom: 25px;
		}
	}
	@media(max-width: $breakpoint900) {
		&__page-title {
			margin-bottom: 15px;
			font-size: 25px;
		}
		&__social-icons-text {
			font-size: 15px;
			margin-left: 13px;
		}
		&__slider {
			margin-bottom: 70px;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			background-color: #fff;
			overflow: hidden;
			margin-bottom: 0;
		}
		&__content {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 49px;
			border-radius: 0;
			overflow: visible;
		}
		&__statistic {
			display: flex;
			align-items: center;
			margin-bottom: 17px;
			&-view, &-comments {
				font-size: 15px;
				flex-direction: row;
				&:before {
					margin-bottom: 0;
					margin-right: 9px;
				}
			}
			&-view {
				margin-bottom: 0;
			}
			&-comments {
				margin-left: 19px;
				&:before {
					width: 27px;
					height: 27px;
					background-size: cover;
				}
			}
		}
	}
}