<div class="service content-wrap-page">
	<div class="container">
		<div class="content-wrap clearfix">
			<div class="content-right-block">
				<h4 class="content-right-block__title">Отдел гарантии <br> Sweet-Baby</h4>
				<div class="content-right-block__text">Прием заявок на сервисное обслуживание техники Miele производится по телефонам</div>
				<div class="content-right-block__small-text">пн. – вс. с 8:00 до 20:00</div>
				<div class="content-right-block__phone-wrap">
					<a href="tel:+74957458990" class="content-right-block__phone">Тел.: +7 (495) 745 8990</a>
				</div>
				<div class="content-right-block__phone-wrap">
					<a href="tel:88002002900" class="content-right-block__phone">Тел.: 8 (800) 200 2900</a>
				</div>
			</div>
			<div class="content-page-top">
				<h2 class="content-page-title">Сервисный центр</h2>
				<i class="icon icon_medal content-page-title-icon"></i>
			</div>
			{% include 'content-links/content-links.html' %}
			<div class="content">
				<h3>При доставке техники:</h3>
				<p>Проверьте правильность заполнения гарантийного свидетельства. В нем должны быть указана дата продажи и проставлен штамп магазина. Если такая информация отсутствует, началом срока гарантии считается время изготовления прибора.</p>
				<p>Обратите внимание на отсутствие у товара механических повреждений и на наличие комплектующих.</p>
				<p>Технику должны устанавливать специалисты сервисного центра. Гарантия не распространяется на недостатки в работе прибора.</p>
				<h3>Условия гарантии</h3>
				<p>Гарантийное обслуживание на крупную и малую бытовую технику DeLonghi составляет 1 год. На кофемашины DeLonghi распространяется гарантия сроком 2 года и сервисное обслуживание, действующее в течение 3-х лет после окончания гарантии.</p>
				<p>Срок гарантии на комплектующие — три месяца. Комплектующими считаются изделия, которые можно демонтировать без использования инструментов: полки, корзины, ящики, решетки, насадки, шланги. Такой же срок — 3 месяца — действует на новые комплектующие, которые были установлены при проведении гарантийного либо платного ремонта.</p>
				<br>
			</div>
			<div class="content__citys dragscroll">
				<div class="content__city">
					<button class="content__city-button content__city-button_active">Москва</button>
					<div class="content__city-text">
						Продажа оригинальных запасных частей и аксессуаров:
						<br>
						<br>
						ООО "Внешремторг" <br> г. Москва <br> Тел. <a href="tel:+74955186941">+7 (495) 518 69 41</a> <br>  <a href="http://www.vneshremtorg.ru" target="_blank">www.vneshremtorg.ru</a> <br> <a href="http://www.zapchasti-techniki.ru" target="_blank">www.zapchasti-techniki.ru</a>
						<br>
						<br>
						Сервисная поддержка: <br> Тел. <a href="tel:+74953803782">+7 (495) 380-37-82</a>
					</div>
				</div>
				<div class="content__city">
					<button class="content__city-button">Сочи</button>
					<div class="content__city-text">
						Продажа оригинальных запасных частей и аксессуаров:
						<br>
						<br>
						ООО "Внешремторг" <br> г. Москва <br> Тел. <a href="tel:+74955186941">+7 (495) 518 69 41</a> <br>  <a href="http://www.vneshremtorg.ru" target="_blank">www.vneshremtorg.ru</a> <br> <a href="http://www.zapchasti-techniki.ru" target="_blank">www.zapchasti-techniki.ru</a>
						<br>
						<br>
						Сервисная поддержка: <br> Тел. <a href="tel:+74953803782">+7 (495) 380-37-82</a>
					</div>
				</div>
				<div class="content__city">
					<button class="content__city-button">Санкт-Петербург</button>
					<div class="content__city-text">
						Продажа оригинальных запасных частей и аксессуаров:
						<br>
						<br>
						ООО "Внешремторг" <br> г. Москва <br> Тел. <a href="tel:+74955186941">+7 (495) 518 69 41</a> <br>  <a href="http://www.vneshremtorg.ru" target="_blank">www.vneshremtorg.ru</a> <br> <a href="http://www.zapchasti-techniki.ru" target="_blank">www.zapchasti-techniki.ru</a>
						<br>
						<br>
						Сервисная поддержка: <br> Тел. <a href="tel:+74953803782">+7 (495) 380-37-82</a>
					</div>
				</div>
				<div class="content__city">
					<button class="content__city-button">Воронеж</button>
					<div class="content__city-text">
						Продажа оригинальных запасных частей и аксессуаров:
						<br>
						<br>
						ООО "Внешремторг" <br> г. Москва <br> Тел. <a href="tel:+74955186941">+7 (495) 518 69 41</a> <br>  <a href="http://www.vneshremtorg.ru" target="_blank">www.vneshremtorg.ru</a> <br> <a href="http://www.zapchasti-techniki.ru" target="_blank">www.zapchasti-techniki.ru</a>
						<br>
						<br>
						Сервисная поддержка: <br> Тел. <a href="tel:+74953803782">+7 (495) 380-37-82</a>
					</div>
				</div>
			</div>
			{% include 'map/map.html' %}
		</div>
	</div>
</div>




 