{% import "banner/banner-article/banner-article.html" as banner %}
<div class="news">
	<div class="container">
		<div class="news__top">
			<div class="news__rubric">
				{% include 'rubric/rubric.html' %}
			</div>
			<div class="news__search">
				{% include 'search/search.html' %}
			</div>
		</div>
		<div class="news__content">
			<div class="news__columns news__banner-top">
				<div class="news__column">
					{{ banner.bannerArticle("banner-article-bg2.png") }}
				</div>
				<div class="news__column news__article-list">
					{% include 'article/article-list/article-list.html' %}
					{% include 'article/article-list/article-list.html' %}
					{% include 'article/article-list/article-list.html' %}
				</div>
			</div>
			<div class="news__columns">
				<div class="news__column news__banner">
					{{ banner.bannerArticle("banner-article-bg5.png") }}
				</div>
				<div class="news__column news__banner">
					{% include 'banner/banner-review-catalog/banner-review-catalog.html' %}
				</div>
			</div>
			<div class="news__columns">
				<div class="news__column news__banner">
					{{ banner.bannerArticle("banner-article-bg6.png") }}
				</div>
				<div class="news__column news__banner">
					{{ banner.bannerArticle("banner-article-bg7.png") }}
				</div>
			</div>
			<div class="news__columns news__banner-two-wrap">
				<div class="news__column news__banner-two">
					<div class="news__column news__banner">
						{{ banner.bannerArticle("banner-article-bg8.png") }}
					</div>
					<div class="news__column news__banner">
						{{ banner.bannerArticle("banner-article-bg9.png") }}
					</div>
				</div>
				<div class="news__column news__banner">
					{% include 'banner/banner-review-catalog/banner-review-catalog-without-rating.html' %}
				</div>
			</div>
			<div class="news__button">
				<div class="load-more">Загрузить еще</div>
			</div>
		</div>
	</div>
	<div class="news__advantage">
		{% include 'advantage/advantage.html' %}
	</div>
</div>