.news {
	background: #fff;
	&__content {
		padding-bottom: 110px;
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 18px 0;
	}
	&__search {
		margin-left: 35px;
	}
	&__columns {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
	}
	&__column {
		width: calc(50% - 8px);
		margin-right: 8px;
		& .banner__opacity-text {
			display: block;
		}
		&:last-of-type {
			margin-right: 0;
			margin-left: 8px;
		}
	}
	&__article-list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		& .article-list {
			margin-bottom: 18px;
			&:last-of-type {
				margin-bottom: 0;
			}
			&__img {
				width: 155px;
				height: 156px;
			}
		}
	}
	&__banner {
		margin-bottom: 16px;
		&-top {
			margin-bottom: 20px;
		}
		& .banner__full-height {
			min-height: 371px;
		}
		&-two {
			display: flex;
			justify-content: space-between;
			& .banner__title {
				margin-bottom: 17px;
				font-size: 21px !important;
			}
			& .banner__opacity-text {
				display: none;
			}
		}
	}
	&__button {
		margin: 0 auto;
		padding-top: 10px;
		width: 49%;
	}
	&__advantage {
		display: none;
	}
	@media(max-width: $breakpoint1100) {
		& &__banner-two {
			width: 100%;
			margin-right: 0;
			&-wrap {
				& .news__banner:last-of-type {
					margin-left: 0;
				}
			}
			& .banner__opacity-text {
				display: block;
			}
		}
	}
	@media(max-width: $breakpoint1000) {
		&__content {
			padding-bottom: 0;
		}
		&__column {
			width: calc(50% - 6px);
			margin-right: 6px;
			&:last-of-type {
				margin-left: 6px;
			}
		}
		&__banner-top, &__banner {
			margin-bottom: 9px;
		}
		&__article-list {
			& .article-list {
				margin-bottom: 10px;
				&__img {
					width: 95px;
					height: 96px;
				}
			}
		}
		& .banner__full-height {
			min-height: 237px;
		}
		&__banner-two .banner__title {
			margin-bottom: 11px;
		}
		&__button {
			width: 81%;
		}
		&__advantage {
			display: block;
		}
	}
	@media(max-width: $breakpoint768) {
		&__top {
			align-items: flex-start;
			padding-top: 22px;
			padding-bottom: 23px;
		}
		&__search {
			margin-top: -13px;
		}
		&__article-list {
			display: none;
		}
		&__content {
			padding-bottom: 46px;
		}
		&__column {
			width: 100%;
		}
		&__banner-two {
			flex-wrap: wrap;
		}
		&__banner {
			margin-bottom: 13px;
		}
		& .banner__frame {
			min-height: 371px;
		}
		&__button {
			padding-top: 8px;
		}
		&__advantage {
			display: none;
		}
	}
	@media(max-width: $breakpoint500) {
		&__button {
			width: 100%;
		}
	}
}