<div class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__logo">
				{% include 'logo/global/logo.html' %}
			</div>
			<div class="footer__center">
				<div class="footer__menu">
					{% include 'menu/menu-footer/menu-footer.html' %}
				</div>
				<p class="footer__text">В нашем магазине подобран уникальный ассортимент элитной бытовой техники. Мы подобрали торговые марки мирового уровня, которые взаимно-дополняют друг друга, объединяясь в единую философию стиля и высокого качества. Являясь официальным дилером Asko, Miele, Gaggenau, Neff, V-Zug, Smeg и других производителей, мы предлагаем полный ассортимент представленных брендов.</p>
				<div class="footer__copyright">© 2011-2017 Sweet baby. Все права защищены</div>
			</div>
			<div class="footer__right">
				<a href="tel:+79007654542" class="footer__phone">+7 (900) 765 - 45 - 42</a>
				<div class="footer__socials">
					{% include 'social/social-footer/social.html' %}
				</div>
				<div class="footer__complaint" id="js-popup-complaint">Пожаловаться руководству</div>
			</div>
		</div>
	</div>
</div>
{% include 'popups/popup-add-comments/popup-add-comments.html' %}
{% include 'popups/popup-callback/popup-callback.html' %}
{% include 'popups/popup-complaint/popup-complaint.html' %}