.footer {
	background-color: #fff;
	color: #a4a4a4;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	padding: 10px 0 50px;
	&__logo {
		flex-shrink: 0;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__center {
		padding: 0 3% 0 2.5%;
	}
	&__right {
		text-align: right;
		flex-shrink: 0;
	}
	&__menu {
		margin-bottom: 24px;
	}
	&__text {
		margin-bottom: 30px;
		line-height: 19px;
		opacity: 0.8;
	}
	&__phone {
		display: inline-block;
		color: #a4a4a4;
		font-family: $font-family-VagWorld;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 24px;
	}
	&__complaint {
		margin-top: 15px;
		width: 100%;
		cursor: pointer;
		font-size: 13px;
		text-align: center;
		border-radius: 6px;
		color: #fff;
		background-color: #8ab95f;
		padding: 6px 0;
		white-space: nowrap;
	}
	&__copyright {
		opacity: 0.8;
	}
	@media(max-width: $breakpoint1050) {
		&__logo {
			display: none;
		}
		&__copyright {
			display: none;
		}
		&__phone {
			margin-bottom: 0;
		}
		&__content {
			flex-wrap: wrap;
		}
		&__center {
			padding: 0;
		}
		&__right {
			text-align: left;
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-shrink: 0;
			align-items: center;
		}
		&__complaint {
			margin-top: 0;
			width: auto;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	@media(max-width: $breakpoint700) {
		&__text {
			display: none;
		}
		&__content {
			flex-wrap: wrap;
		}
		&__center {
			padding: 0;
		}
		&__right {
			text-align: left;
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-shrink: 0;
			align-items: center;
			flex-wrap: wrap;
		}
		&__socials {
			width: 100%;
			margin-top: 17px;
			margin-bottom: 17px;
		}
	}
}