.search-result {
	margin-bottom: 87px;
	&__content {
		color: $gray-color;
		padding: 40px 50px 70px;
		border-radius: 16px;
		background-color: #fff;
	}
	&__page-title {
		font-family: $font-family-VagWorld;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.9px;
		margin-bottom: 20px;
	}
	&__orange-color {
		color: #fc9c4a;
		letter-spacing: 0.9px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 36px;
	}
	&__search-form {
		margin-bottom: 10px;
	}
	&__tags {
		margin-right: 10px;
	}
	&__search-form {
		width: 40%;
		flex-shrink: 0;
	}
	&__title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.6px;
		margin-bottom: 17px;
	}
	&__products {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -6px 41px;
	}
	&__product {
		width: calc(25% - 12px);
		margin: 0 6px 12px;
	}
	&__banners {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__banner {
		width: 54%;
		& .banner__frame {
			min-height: 371px;
		}
		& .banner__opacity-text {
			display: block;
		}
		&:last-of-type {
			width: 45%;
		}
	}
	@media(max-width: $breakpoint1150) {
		&__products {
			margin: 0 -0.6%;
		}
		&__product {
			width: 32%;
			margin: 0 0.6% 1.2%;
		}
	}
	@media(max-width: $breakpoint1000) {
		&__content {
			padding: 30px 30px 50px;
		}
		&__page-title {
			font-size: 25px;
		}
		&__top {
			margin-bottom: 24px;
		}
		& .card__model {
			font-size: 15px;
		}
		& .banner__frame {
			min-height: 306px;
		}
		&__banners {
			padding-top: 4px;
		}
		&__banner {
			width: 58%;
			&:last-of-type {
				width: 41%;
			}
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			margin-bottom: 0;
			background-color: #fff;
			padding-top: 25px;
		}
		&__content {
			padding: 0;
			border-radius: 0;
		}
		&__page-title {
			font-size: 23px;
		}
		&__title {
			display: none;
		}
		&__top {
			margin-bottom: 16px;
			flex-wrap: wrap;
		}
		&__search-form {
			order: -1;
			width: 100%;
			margin-bottom: 20px;
		}
		&__tags {
			margin-right: 0;
		}
		&__products {
			margin: 0 -1%;
		}
		&__product {
			width: 48%;
			margin: 0 1%;
			margin-bottom: 2%;
		}
		& .card__model {
			font-size: 15px;
		}
		&__banners {
			padding-top: 15px;
		}
		&__banner {
			width: 100%;
			margin-bottom: 15px;
			&:last-of-type {
				width: 100%;
			}
		}
	}
	@media(max-width: $breakpoint500) {
		& .card__model {
			font-size: 18px;
		}
		&__products {
			margin: 0;
		}
		&__product {
			width: 100%;
			margin: 0;
			margin-bottom: 2%;
		}
	}
}