<div class="search-result">
	<div class="container">
		<div class="search-result__content">
			<h3 class="search-result__page-title">Найдено<span class="search-result__orange-color">29 результатов</span>
				в 5 категориях</h3>
			<div class="search-result__top">
				<div class="search-result__tags">
					{% include 'filter-tags/filter-tags.html' %}
				</div>
				<div class="search-result__search-form">
					{% include 'search/search-without-hidden-input.html' %}
				</div>
			</div>
			<h4 class="search-result__title">4 автокресла</h4>
			<div class="search-result__products">
				<div class="search-result__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
				<div class="search-result__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
				<div class="search-result__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
				<div class="search-result__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
			</div>
			<h4 class="search-result__title">Новости</h4>
			<div class="search-result__banners">
				<div class="search-result__banner">
					{% include 'banner/banner-review-catalog/banner-review-catalog.html' %}
				</div>
				<div class="search-result__banner">
					{% import "banner/banner-article/banner-article.html" as banner %}
					{{ banner.bannerArticle("banner-article-bg5.png") }}
				</div>
			</div>
		</div>
	</div>
</div>