.quantity-input {
	display: flex;
	align-items: center;
	&__button-minus, &__button-plus {
		font-size: 0;
		cursor: pointer;
		appearance: none;
		border: none;
		outline: none;
		width: 35px;
		height: 36px;
		&:focus {
			outline: none;
		}
	}
	&__button-minus {
		margin-right: 11px;
		background: url("quanity-minus.png") no-repeat;
	}
	&__button-plus {
		margin-left: 11px;
		background: url("quanity-plus.png") no-repeat;
	}
	&__element {
		text-align: left;
		appearance: none;
		border: none;
		width: 12px;
		max-width: 36px;
		outline: none;
		background: transparent;
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 18px;
		font-weight: 700;	
	}
	&__text {
		margin-left: 4px;
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 18px;
		font-weight: 700;
	}
}