<div class="quantity-input">
	<button class="quantity-input__button-minus js-button-minus">-</button>
	<input type="text" name="quantity" class="quantity-input__element js-quantity-input" value="1" >
	<span class="quantity-input__text">шт</span>
	<button class="quantity-input__button-plus js-button-plus">+</button>
</div>