<div class="banner__frame banner__full-height banner-review">
    <div class="banner-review__content">
		<div class="banner__title">Лучшее кресло за свои скромные деньги</div>
		<div class="banner-review__rating">
			{% include 'ratings/ratings.html' %}
		</div>
		<div class="banner__text banner__opacity-text banner__short-text-visible-mobile">В продажу поступила новая коллекциябренда Канье Уэста Yeezy, выгуливает» вещи из новой линейки.</div>
		<div class="banner__text banner__opacity-text">В продажу поступила новая коллекциябренда Канье Уэста Yeezy,и теперь Ким Кардашьян регулярно» выгуливает» вещи из новой линейки. Впрочем, даже внимательные поклонники звезды реалити-шоу «Семейство  Кардашьян».  Жители Новой Зеландии очень гордятся своей знаменитой птичкой.</div>
		<div class="banner-review__person">
			{% include 'person/person.html' %}
		</div>
        <div class="banner-review__product">
            <div class="banner-review__product-img-wrap">
                <img src="{{src}}review-product.png" alt="">
            </div>
        </div>
        {% include 'small-icons/small-icons.html' %}
	</div>
	<a href="#" class="banner__full-link"></a>
</div>