.banner-review {
	background: #a290c9 url("banner-review-bg.png") no-repeat;
	background-size: cover;
	padding: 43px 20px 43px 27px;
	& .banner__title {
		margin-bottom: 12px;
	}
	& .banner__text {
		margin-bottom: 32px;
		line-height: 19px;
	}
	&__content {
		position: relative;
	}
	&__rating {
		margin-bottom: 26px;
	}
	&__person {
		margin-bottom: 30px;
	}
	&__product {
		position: absolute;
		right: 4.43%;
		bottom: 0;
		&-img-wrap {
			width: 69px;
			height: 68px;
			border-radius: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			background-color: #fff;
			& img {
				max-width: 100%;
			}
		}
	}
	@media(max-width: $breakpoint1050) {
		&-review {
			&__product {
				bottom: 20px;
			}
		}
	}
	@media(max-width: $breakpoint900) {
		& {
			padding-top: 20px;
			padding-bottom: 20px;
			& .banner__title {
				margin-bottom: 2px;
				font-size: 17px !important;
			}
			&__person {
				margin-bottom: 25px;
			}
			&__rating {
				margin-bottom: 11px;
			}
			& .banner__text {
				margin-bottom: 19px;
			}
			&__product {
				bottom: 34px;
				right: 14px;
				&-img-wrap {
					width: 51px;
					height: 51px;
					& img {
						max-width: 35px;
					}
				}
			}
			& .banner__short-text-visible-mobile {
				display: block;
				font-size: 13px;
				font-weight: 400;
				line-height: 16.67px;
			}
		}
	}
}