<header class="header">
	<div class="header__top-menu">
		{% include 'top-menu/global/top-menu.html' %}
	</div>
	<div class="header-mobile">
		<div class="container">
			<div class="header-mobile__content">
				<div class="header-mobile__menu">
					<button class="hamburger" id="js-hamburger" aria-expanded="false">
						<span class="hamburger__screen-reader-text">Меню</span>
					</button>
					{% include 'menu/menu-header/menu-header.html' %}
				</div>
				<div class="header-mobile__logo">
					{% include 'logo/global/logo.html' %}
				</div>
				<div class="header-mobile__search">
					{% include 'search/search-header.html' %}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header__center">
			<div class="header__logo">
				{% include 'logo/global/logo.html' %}
			</div>
			<div class="header__phone-call-button">
				{% include 'phone-call-button/phone-call-button.html' %}
			</div>
			<div class="header__telephone">
				{% include 'telephone/telephone-header/telephone.html' %}
			</div>
			<div class="header__search">
				{% include 'search/search-header.html' %}
			</div>
			<div class="header__compare">
				{% include 'compare/compare-header/compare-header.html' %}
			</div>
			<div class="header__favorite">
				{% include 'favorite/favorite.html' %}
			</div>
			<div class="header__cart">
				{% include 'cart/cart-header/cart-header.html' %}
			</div>
		</div>
		<div class="header__bottom">
			<div class="header__menu">
				<button class="hamburger" id="js-hamburger" aria-expanded="false">
					<span class="hamburger__screen-reader-text">Меню</span>
				</button>
				{% include 'menu/menu-header/menu-header.html' %}
			</div>
			<div class="header__journal">
				{% include 'journal/journal.html' %}
			</div>
		</div>
	</div>
</header>