.header {
	background: #fff;
	padding-bottom: 1px;
	&-mobile {
		display: none;
		position: relative;
		padding: 8px 0;
		&__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__center {
		display: flex;
		align-items: center;
		padding-top: 33px;
		margin-bottom: 27px;
	}
	&__phone-call-button {
		margin-left: 3.17%;
	}
	&__telephone {
		margin-left: 2.5%;
	}
	&__search {
		margin-left: auto;
		margin-right: 2.37%;
	}
	&__compare {
		margin-right: 2.10%;
	}
	&__favorite {
		margin-right: 2.4%;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 14px; // 12px
	}
	@media(max-width: $breakpoint1000) {
		&__logo {
			width: 80px;
		}
	}
	@media(max-width: $breakpoint940) {
		&__logo {
			width: 63px;
		}
	}
	@media(max-width: $breakpoint900) {
		&__center {
			padding-top: 20px;
			margin-bottom: 23px;
		}
		&__bottom {
			margin-bottom: 7px;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			padding-bottom: 30px;
		}
		&__top-menu, &__logo, &__search, &__bottom {
			display: none;
		}
		&__phone-call-button {
			margin-left: 0;
		}
		&__compare {
			margin-left: auto;
			margin-right: 17px;
		}
		&__telephone {
			margin-left: 5%;
		}
		&-mobile {
			display: block;
			&__logo {
				width: 56px;
				height: 36px;
			}
		}
		&__center {
			margin-bottom: 0;
		}
	}
	@media(max-width: $breakpoint600) {
		&__telephone {
			display: none;
		}
	}
}