{% macro bannerArticle(img="banner-article-bg.png", class='') %}
	<div class="banner__frame banner__full-height banner-article{{ class }}" style="background-image: url('images/{{ img }}')">
		<div class="banner__label">
			<div class="bg-label-blue">ДЕТСКИЙ САД</div>
		</div>
		<div class="banner-article__content-press-bottom">
			<div class="banner__title">Ученые обнаружили, что память рыб можно тренировать</div>
			<div class="banner__text banner__opacity-text">Жители Новой Зеландии очень гордятся своей знаменитой птичкой киви. Однако этот остров больше не может претендовать на звание исторической родины киви.</div>
			{% include 'small-icons/small-icons.html' %}
		</div>
		<a href="#" class="banner__full-link"></a>
	</div>
{% endmacro %}