.banner-article {
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 25px 0 28px;
	&__content-press-bottom {
		padding-top: 65px;
		padding-bottom: 40px;
	}
	@media(max-width: $breakpoint900) {
		.actual-news &__content-press-bottom {
			padding-bottom: 10px;
		}
		& .banner__title {
			font-size: 17px !important;
			margin-bottom: 14px;
		}
		& {
			padding-top: 23px;
			padding-bottom: 20px;
			&__content-press-bottom {
				padding-top: 40px;
				padding-bottom: 10px;
			}
		}
	}
	@media(max-width: $breakpoint830) {
		& {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}