<div class="banner">
    <div class="container">
        <div class="banner__flex">
            <div class="banner__item banner__item-small">
                {% include 'banner/banner-car-seat/banner-car-seat.html' %}
                {% include 'banner/banner-sale/banner-sale.html' %}
            </div>
            <div class="banner__item banner__item-article">
                {% import "./banner-article/banner-article.html" as banner %}
                {{ banner.bannerArticle() }}
            </div>
            <div class="banner__item banner__item-review">
                {% include 'banner/banner-review/banner-review.html' %}
            </div>
        </div>
    </div>
</div>