.banner {
	background-color: #fff;
	padding: 56px 0 64px;
	& .banner-article .banner__text {
		margin-bottom: 15px;
	}
	.actual-news__banner-small {
		& .banner__title {
			font-size: 21px;
		}
	}
    &__flex {
        display: flex;
	}
	&__full-link {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		font-size: 0;
	}
    &__item {
        width: calc(33.33% - 7px);
        margin-left: 14px;
        &:first-child {
			margin-left: 0;
        }
        &-small {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
	}
	&__label {
		width: 100%;
		margin-top: 27px;
	}
    &__title {
        color: #fff;
        display: block;
        margin-bottom: 11px;
        font-size: 24px;
        font-family: $font-family-VagWorld;
		line-height: 1.2;
		&-fs20 {
			font-size: 20px;
		}
    }
    &__frame {
		border-radius: 16px;
		position: relative;
    }
    &__full-height {
        min-height: 439px;
        height: 100%;
        color: #fff;
    }
    &__higher-height {
		min-height: 504px;
	}
    &__small-height {
		min-height: 209px;
		height: 100%;
		color: #fdfffe;
		&:last-child {
			margin-top: 6%;
		}
        &__title {
            color: inherit;
            margin-bottom: 5px;
            line-height: 1.2;
            display: inline-block;
        }
    }
    &__text {
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
		line-height: normal;
		margin-bottom: 21px;
    }
    &__opacity-text {
        color: rgba(#fff, 0.7);
    }
	&-sale-offers, &-special-offers, &-promocode, &-sale-pink {
		&__text {
			opacity: 0.9;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
		}
	}
	&__short-text-visible-mobile {
		display: none;
	}
	@media(max-width: $breakpoint900) {
		& {
			padding-top: 17px;
			padding-bottom: 38px;
		}
		&__text {
			font-size: 13px;
		}
		.actual-news__banner-small &__title,
		&__title {
			font-size: 19px;
		}
		&__small-height {
			min-height: 127px;
			padding-top: 20px;
			&__title {
				font-size: 17px;
			}
		}
		&__full-height {
			min-height: 265px;
		}
		&__higher-height {
			min-height: 368px;
		}
		&__opacity-text {
			display: none;
			color: #fff;
		}
		&__higher-height {
			& .banner__opacity-text {
				display: block;
			}
		}
		&__label {
			margin-top: 0;
		}
	}
	@media(max-width: $breakpoint850) {
		&__item {
			margin-left: 7px;
			width: calc(33.33% - 3.5px);
		}
	}
	@media(max-width: $breakpoint830) {
		&__full-height {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			padding-bottom: 22px;
		}
		&__flex {
			flex-wrap: wrap;
		}
		&__item {
			width: 49%;
			&-review {
				display: none;
			}
		}
		&__small-height {
			&:last-child {
				margin-top: 4%;
			}
		}
	}
	@media(max-width: $breakpoint580) {
		& {
			padding-top: 0;
		}
		&__title {
			font-size: 17px;
		}
		&__item, &__small-height {
			width: 100%;
			margin-bottom: 14px;
		}
		&__small-height {
			&:last-child {
				margin-top: 0;
				margin-bottom: 0;
			}
			&-title {
				font-size: 19px;
			}
		}
		&__opacity-text {
			display: block;
		}
	}
}