<div class="banner__frame banner-sale-pink">
	<h2 class="banner-sale-pink__title">Путевка в мир снов</h2>
	<h4 class="banner-sale-pink__small-title">Скидки на кровати до 80%</h4>
	<div class="banner-sale-pink__text">Жители Новой Зеландии очень гордятся своей знаменитой птичкой киви. Однако этот остров больше не может претендовать на звание исторической родины киви.</div>
	<a href="#" class="banner__full-link"></a>
</div>