.banner-sale-pink {
	height: 100%;
	background: #e288a6 url(banner-sale-pink-bg.png) no-repeat;
	background-position: bottom;
	background-size: contain;
	padding: 37px 40px 44px;
	color: #fff;
	font-family: $font-family-VagWorld;
	&__title {
		font-size: 42px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.42px;
		margin-bottom: 10px;
	}
	&__small-title {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 14px;
	}
}