<div class="tags">
	<div class="container">
		<div class="tags__content">
			<h2 class="tags__page-title">Подбор кровати</h2>
			<div class="tags__links">
				{% include 'content-links/content-links.html' %}
			</div>
			<div class="tags__img">
				<img src="{{src}}tags-img.png" alt="">
			</div>
			<div class="tags__columns">
				<div class="tags__column">
					<h3 class="tags__column-title">Дизайн</h3>
					<div>
						<a href="#" class="tags__column-link">Что такое «фразеологизм»</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как отличить союз от частицы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как начинать романы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить, какой частью речи является слово</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить словосочетание</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Полезные фразы с предлогом BY</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Словосочетание как лексическая единица</a>
					</div>
				</div>
				<div class="tags__column">
					<h3 class="tags__column-title">Цвета</h3>
					<div>
						<a href="#" class="tags__column-link">Что такое «фразеологизм»</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как отличить союз от частицы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как начинать романы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить, какой частью речи является слово</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить словосочетание</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Полезные фразы с предлогом BY</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Словосочетание как лексическая единица</a>
					</div>
				</div>
				<div class="tags__column">
					<h3 class="tags__column-title">Размер</h3>
					<div>
						<a href="#" class="tags__column-link">Что такое «фразеологизм»</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как отличить союз от частицы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как начинать романы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить, какой частью речи является слово</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить словосочетание</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Полезные фразы с предлогом BY</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Словосочетание как лексическая единица</a>
					</div>
				</div>
				<div class="tags__column">
					<h3 class="tags__column-title">Удобство</h3>
					<div>
						<a href="#" class="tags__column-link">Что такое «фразеологизм»</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как отличить союз от частицы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как начинать романы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить, какой частью речи является слово</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить словосочетание</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Полезные фразы с предлогом BY</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Словосочетание как лексическая единица</a>
					</div>
				</div>
				<div class="tags__column">
					<h3 class="tags__column-title">Размер</h3>
					<div>
						<a href="#" class="tags__column-link">Что такое «фразеологизм»</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как отличить союз от частицы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как начинать романы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить, какой частью речи является слово</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить словосочетание</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Полезные фразы с предлогом BY</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Словосочетание как лексическая единица</a>
					</div>
				</div>
				<div class="tags__column">
					<h3 class="tags__column-title">Удобство</h3>
					<div>
						<a href="#" class="tags__column-link">Что такое «фразеологизм»</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как отличить союз от частицы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как начинать романы</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить, какой частью речи является слово</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Как определить словосочетание</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Полезные фразы с предлогом BY</a>
					</div>
					<div>
						<a href="#" class="tags__column-link">Словосочетание как лексическая единица</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>