.tags {
	margin-bottom: 90px;
	&__content {
		padding: 40px 50px 0;
		background-color: #fff;
		border-radius: 16px;
	}
	&__page-title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.36px;
		margin-bottom: 27px;
	}
	&__links {
		display: none;
	}
	&__img {
		border-radius: 16px;
		overflow: hidden;
		margin-bottom: 50px;
		img {
			width: 100%;
		}
	}
	&__columns {
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		width: 50%;
		padding-right: 5px;
		margin-bottom: 50px;
		&-title {
			color: $gray-color;
			font-family: $font-family-VagWorld;
			font-size: 22px;
			font-weight: 700;
			letter-spacing: 0.22px;
			line-height: 20px;
			margin-bottom: 12px;
		}
		&-link {
			display: inline-block;
			color: #848788;
			font-family: $font-family;
			font-size: 18px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 16px;
			&:hover {
				color: #8ab95f;
				font-weight: 700;
			}
		}
	}
	@media(max-width: $breakpoint1000) {
		&__content {
			padding: 30px 30px 60px;
		}
		&__page-title {
			font-size: 25px;
			margin-bottom: 19px;
		}
		&__column {
			width: 100%;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			padding-top: 24px;
			margin-bottom: 0;
			background-color: #fff;
		}
		&__content {
			padding: 0;
			border-radius: 0;
		}
		&__page-title {
			font-size: 23px;
			margin-bottom: 19px;
		}
		&__links {
			display: block;
		}
		&__img {
			border-radius: 0;
		}
	}
}