<div class="slider">
    <div class="slider__wrap swiper-container slider-banner-container">
        <div class="swiper-wrapper">
            <div class="slider__content">
                <div class="slider__text">
                    <h3 class="slider__title">с 22 по 25 декабря</h4>
                    <div class="slider__big-text">АКЦИЯ</div>
                    <h3 class="slider__fz28">на всё, что можно</h3>
                    <a href="#" class="slider__link">смотреть каталог</a>
                </div>
                <div class="slider__img-wrap">
                    <img src="{{src}}slider-img.png" class="slider__img" alt="">
                </div>
            </div>
            <div class="slider__content">
                <div class="slider__text">
                    <h3 class="slider__title">с 22 по 25 декабря</h4>
                    <div class="slider__big-text">АКЦИЯ</div>
                    <h3 class="slider__fz28">на всё, что можно</h3>
                    <a href="#" class="slider__link">смотреть каталог</a>
                </div>
                <div class="slider__img-wrap">
                    <img src="{{src}}slider-img.png" class="slider__img" alt="">
                </div>
            </div>
            <div class="slider__content">
                <div class="slider__text">
                    <h3 class="slider__title">с 22 по 25 декабря</h4>
                    <div class="slider__big-text">АКЦИЯ</div>
                    <h3 class="slider__fz28">на всё, что можно</h3>
                    <a href="#" class="slider__link">смотреть каталог</a>
                </div>
                <div class="slider__img-wrap">
                    <img src="{{src}}slider-img.png" class="slider__img" alt="">
                </div>
            </div>
        </div>
        <div class="slider__arrow-left"></div>
        <div class="slider__arrow-right"></div>
        <ul class="slider__dots">
            <li class="slider__dots-circle"></li>
            <li class="slider__dots-circle"></li>
            <li class="slider__dots-circle slider__dots-circle_active"></li>
        </ul>
    </div>
</div>