.slider {
    background-color: #ffaeb5;
    color: #ffffff;
    font-family: $font-family-VagWorld;
    &__wrap {
        max-width: 1200px;
        margin: 0 auto;
    	height: 412px;
        position: relative;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 55px;
        flex-shrink: 0; // нужен чтобы слайдер не сжимался без него слайдер будет работать не корректно
	}
	&__text {
		padding-left: 8px;
	}
	&__title {
		font-weight: 400;
		color: #fff;
		font-size: 24px;
		line-height: 24px;
		// margin-bottom: 11px;
		margin-bottom: 18px;
	}
    &__fz28 {
        font-size: 28px !important;
        line-height: 24px;
        margin-bottom: 49px !important; // 40px
    }
    &__big-text {
        font-size: 110px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.22px;
    }
    &__link {
		position: relative;
        display: inline-block;
        border-radius: 29px;
        border: 4px solid #ffffff;
        color: #fff;
        font-family: $font-family-VagWorld;
        font-size: 20px;
        line-height: normal;
        font-weight: 700;
        padding: 5px 76px 5px 30px;
        &::before {
			content: '';
            position: absolute;
            right: 23px;
            top: 50%;
			margin-top: -9px;
			background: svg-load('left-arrow-white.svg', fill='#fff', width='24', height='24') no-repeat;
			background-size: 24px 24px;
			background-position: center;
            width: 18px;
            height: 18px;
        }
    }
    &__img-wrap {
        background: url("slider-icons.png");
		background-size: contain;
		flex-shrink: 0;
		height: 100%;
		width: 45%;
		text-align: right;
		& img {
			width: auto;
			max-width: 100%;
			height: 100%;
		}
    }
    &__arrow {
        &-left {
			background: svg-load('slider-arrow-left.svg', fill='#fff', width='31', height='31') no-repeat;
            left: 0;
        }
        &-right {
			background: svg-load('slider-arrow-right.svg', fill='#fff', width='31', height='31') no-repeat;
            right: 0;
        }
        &-left, &-right {
            width: 31px;
            height: 31px;
            cursor: pointer;
            background-size: cover;
            position: absolute;
            top: 50%;
            z-index: 1;
            margin-top: -15.5px;
        }
	}
	& .swiper-button-disabled {
		opacity: 0.5;
	}
    &__dots {
        position: absolute;
        z-index: 1;
        bottom: 21px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        &-circle {
            cursor: pointer;
            width: 12px;
            height: 12px;
            border-radius: 50%; 
            background-color: #fff;
            opacity: 0.25;
            margin-left: 9px;
            &:first-child {
                margin-left: 0;
            }
            &_active {
                opacity: 1;
            }
        }
	}
	@media(max-width: $breakpoint940) {
		&__wrap {
			height: 238px;
		}
		&__big-text {
			font-size: 55px;
		}
		&__fz28, &__title {
			font-size: 17px !important;
		}
		&__fz28 {
			margin-bottom: 24px !important;
		}
		&__link {
			font-size: 13px;
			padding: 3px 49px 2px 23px;
			&::before {
				width: 14px;
				height: 14px;
				margin-top: -7px;
				background-size: 14px 14px;
				right: 13px;
			}
		}
		&__arrow {
			&-left, &-right {
				width: 17px;
				height: 18px;
				background-size: 17px 18px;
				margin-top: -9px;
			}
			&-left {
				left: 10px;
			}
			&-right {
				right: 10px;
			}
		}
	}
	@media(max-width: $breakpoint580) {
		& {
			display: none;
		}
	}
}