<div class="banner-review-catalog banner__frame">
	<div class="banner-review-catalog__top">
		<div>
			<div class="banner__title">Идеальное кресло с одним маленьким минусом</div>
			{% include 'ratings/ratings.html' %}
		</div>
		<div class="banner-review-catalog__wrap-img banner-review-catalog-hidden-mobile">
			<img src="{{src}}review-product.png" alt="">
		</div>
	</div>
	<div class="banner__text banner__opacity-text">В продажу поступила новая коллекциябренда Канье Уэста Yeezy,и теперь Ким Кардашьян регулярно» выгуливает» вещи из новой линейки. Впрочем, даже внимательные поклонники звезды реалити-шоу «Семейство Кардашьян».</div>
	<div class="banner-review-catalog-visible-mobile-content">
		<div class="banner-review-catalog__person">
			{% include 'person/person.html' %}
		</div>
		<div class="banner-review-catalog__wrap-img">
			<img src="{{src}}review-product.png" alt="">
		</div>
	</div>
	<div class="banner-review-catalog__bottom">
		{% include 'small-icons/small-icons.html' %}
		<div class="banner-review-catalog__person banner-review-catalog-hidden-mobile">
			{% include 'person/person.html' %}
		</div>
	</div>
	<a href="#" class="banner__full-link"></a>
</div>