.banner-review-catalog {
	height: 100%;
	padding: 66px 30px 48px 29px;
	color: #fff;
	background: #9d90c8 url("banner-review-catalog-bg.png") no-repeat;
	background-size: cover;
	&-without-rating-bg {
		background: #9d90c8 url("review-catalog-without-rating-bg.png") no-repeat;
	}
	.catalog & {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		& .banner__text {
			margin-top: auto;
		}
	}
	& .banner__text {
		margin-bottom: 36px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	&__mb35 {
		margin-bottom: 35px;
	}
	&__pr {
		padding-right: 10px;
	}
	&__wrap-img {
		flex-shrink: 0;
		width: 107px;
		height: 106px;
		border-radius: 16px;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 20px;
		& img {
			width: 72px;
			margin: 0 !important;
		}
	}
	&-visible-mobile  {
		display: none;
		&-content  {
			display: none;
		}
	}
	&__person {
		flex-shrink: 0;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
	}
	&__bg-none {
		background-image: none;
		padding: 25px 37px 14px 27px;
	}
	&__bg-none &__wrap-img {
		width: 95px;
		height: 94px;
		& img {
			max-width: 54px;
			margin: 0 !important;
		}
	}
	@media(max-width: $breakpoint1050) {
		&__wrap-img, &__bg-none &__wrap-img {
			width: 93px;
			height: 93px;
			& img {
				max-width: 64px;
			}
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			padding-top: 40px;
		}
		&__top {
			margin-bottom: 18px;
		}
	}
	@media(max-width: $breakpoint600) {
		& {
			h3 {
				font-size: 17px;
				font-weight: 700;
				letter-spacing: 0.12px;
			}
			&__wrap-img, &__bg-none &__wrap-img {
				width: 70px;
				height: 70px;
				& img {
					max-width: 50px;
				}
			}
			&__bg-none &__wrap-img {
				margin-left: 0;
			}
			&-hidden-mobile {
				display: none;
			}
			&-visible-mobile  {
				display: flex;
				&-content {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 18px;
				}
			}
		}
		.catalog__review-slider-wrap & {
			&__wrap-img {
				margin-bottom: 10px;
			}
		}
	}
	@media(max-width: $breakpoint580) {
		& {
			&__top {
				flex-wrap: wrap;
			}
		}
	}
}