<div class="banner-review-catalog banner-review-catalog-without-rating-bg banner__frame">
	<div class="banner-review-catalog__top banner-review-catalog__mb35">
		<div class="banner-review-catalog__pr">
			<div class="banner__title">Идеальное кресло с одним маленьким минусом</div>
		</div>
		<div class="banner-review-catalog__person">
			{% include 'person/person-with-profession.html' %}
		</div>
	</div>
	<div class="banner__text banner__opacity-text">«Лига справедливости» завершила свой прокат на территории США, 
			поэтому можно подвести итоги. По данным Box Office Mojo, более 1600 
			кинотеатров по всей Северной Америке решили прокатывать фильм 
			перед самыми рождественскими выходными. Из-за этого шансы на то,
			чтобы обойти «Человека из стали» были сведены к минимуму.
	</div>
	<div class="banner-review-catalog__bottom">
		{% include 'small-icons/small-icons.html' %}
	</div>
	<a href="#" class="banner__full-link"></a>
</div>