<div class="banner-review-catalog banner__frame banner-review-catalog__bg-none">
	<div class="banner-review-catalog__top">
		<div>
			<div class="banner__title banner__title-fs20">Идеальное кресло с одним маленьким минусом</div>
			{% include 'ratings/ratings.html' %}
		</div>
		<div class="banner-review-catalog__wrap-img banner-review-catalog-hidden-mobile">
			<img src="{{src}}review-product.png" alt="">
		</div>
	</div>
	<div class="banner__text banner__opacity-text">В продажу поступила новая коллекция бренда Канье Уэста Yeezy,и теперь Ким Кардашьян регулярно» выгуливает» вещи из новой линейки. Впрочем, даже внимательные поклонники звезды реалити-шоу «Семейство Кардашьян».</div>
	<div class="banner-review-catalog__wrap-img banner-review-catalog-visible-mobile ">
		<img src="{{src}}review-product.png" alt="">
	</div>
	<a href="#" class="banner__full-link"></a>
</div>