.banner-sale-offers {
	height: 100%;
	position: relative;
	background: #ff8993 url(banner-sale-offers-bg.png) no-repeat;
	background-size: contain;
	background-position: right top;
	padding: 30px 33px 15px;
	color: #fff;
	&__big-number {
		font-family: $font-family-VagWorld;
		font-size: 123px;
		font-weight: 700;
		line-height: 1;
	}
	&__title {
		font-family: $font-family-VagWorld;
		display: inline-block;
		color: inherit;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0.05px;
		margin-bottom: 15px;
	}
	&__text {
		width: 60%;
	}
	@media(max-width: $breakpoint1000) {
		& {
			padding: 27px 22px 15px;
			background-image: url(banner-sale-offers-small-bg.png);
		}
		&__big-number {
			font-size: 71px;
			line-height: 0.8;
			margin-bottom: 3px;
		}
		&__title {
			font-size: 14px;
			line-height: 1.1;
			margin-bottom: 10px;
		}
	}
	@media(max-width: $breakpoint900) {
		&__text {
			font-size: 10px;
			line-height: 10px;
		}
	}
	@media(max-width: $breakpoint680) {
		& {
			padding: 27px 22px 15px;
			background-image: url(banner-sale-offers-mobile-bg.png);
		}
		&__big-number {
			font-size: 67px;
			margin-bottom: 6px;
		}
		&__title {
			font-size: 17px;
			line-height: 1.2;
		}
		&__text {
			font-size: 12px;
			line-height: 1.2;
			width: 90%;
			margin-bottom: 20px;
		}
	}
	@media(max-width: $breakpoint400) {
		&__text {
			width: 80%;
		}
	}
}