<div class="banner__frame banner-sale-offers">
	<div class="banner-sale-offers__big-number">40%</div>
	<h3 class="banner-sale-offers__title">Скидка на все <br> автокресла</h3>
	<div class="banner-sale-offers__text">Жители Новой Зеландии очень гордятся своей знаменитой птичкой киви. Однако этот остров больше не может претендовать на звание исторической родины киви.</div>
	<a href="#" class="banner__full-link"></a>
</div>