<div class="terms-of-sale content-wrap-page">
	<div class="container">
		<div class="content-wrap clearfix">
			<div class="content-right-block">
				<h4 class="content-right-block__title">Телефоны</h4>
				<a href="tel:+74951913829" class="content-right-block__phone">+7 (495) 191-38-29</a>
				<div class="content-right-block__small-text">Ежедневно с 9:00 до 22:00</div>
				<a href="tel:88003330536" class="content-right-block__phone">8 800 333-05-36</a>
				<div class="content-right-block__small-text">Ежедневно с 9:00 до 22:00</div>
				<div class="content-right-block__text">Наши менеджеры ответят на любые вопросы и помогут подобрать нужный товар, оформить доставку и подключение.</div>
			</div>
			<div class="content-page-top">
				<h2 class="content-page-title">Условия продажи</h2>
				<i class="icon icon_shop-tag content-page-title-icon"></i>
			</div>
			{% include 'content-links/content-links.html' %}
			<div class="content">
				<p>Проверьте правильность заполнения гарантийного свидетельства. В нем должны быть указана дата продажи и проставлен штамп магазина. Если такая информация отсутствует, началом срока гарантии считается время изготовления прибора.</p>
				<p>Обратите внимание на отсутствие у товара механических повреждений и на наличие комплектующих. <br> Технику должны устанавливать специалисты сервисного центра. Гарантия не распространяется на недостатки в работе прибора, которые возникли вследствие неправильной установки.</p>
				<h3>О бренде Sweet-Baby:</h3>
				<p>Проверьте правильность заполнения гарантийного свидетельства. В нем должны быть указана дата продажи и проставлен штамп магазина. Если такая информация отсутствует, началом срока гарантии считается время изготовления прибора.</p>
				<p>Обратите внимание на отсутствие у товара механических повреждений и на наличие комплектующих. <br> Технику должны устанавливать специалисты сервисного центра.</p>
				<br>
			</div>
		</div>
	</div>
</div>