.popup-thank-purchase {
	width: 843px;
	&__content {
		padding: 51px 40px 48px 325px;
		background: url('popup-thank-purchase-bg.png') no-repeat;
		background-size: contain;
		background-position: bottom left;
	}
	&__text {
		line-height: 1.3;
		color: $gray-color;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.14px;
		margin-bottom: 18px;
	}
	&__small-text {
		margin-bottom: 0;
		color: $gray-color;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.14px;
		&-green, &-link {
			color: #8ab95f;
			font-weight: 700;
			letter-spacing: 0.14px;
		}
	}
	@media(max-width: $breakpoint1000) {
		& {
			width: 692px;
		}
		&__content {
			padding: 48px 40px 42px 277px;
			background: url('popup-thank-purchase-bg.png') no-repeat;
			background-size: 262px 100%;
			background-position: bottom left;
		}
		&__small-text {
			padding-right: 30px;
			line-height: 1.2;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			width: 276px;
			.popup-block__title {
				font-size: 21px;
			}
		}
		&__content {
			padding: 27px 21px;
			background-image: none;
		}
		&__small-text {
			padding-right: 30px;
			line-height: 1.2;
		}
		&__bg-visible-mobile {
			width: 100%;
			height: 244px;
			background: url('popup-thank-purchase-bg.png') no-repeat;
			background-size: cover;
		}
	}
}