.select {
	position: relative;
	&__element {
		height: 32px;
		cursor: pointer;
		-webkit-appearance: none; 
		-moz-appearance: none;
		appearance: none;       /* remove default arrow */
		border: none;
		outline: none;
		border-radius: 16px;
		background-color: #d6dbdd;
		color: #92989a;
		padding: 4px 37px 4px 20px;
		font-family: $font-family;
		font-size: 12px;
		font-weight: 700;
		position: relative;
	}
	&::after {
		pointer-events: none;
		content: '';
		position: absolute;
		right: 12px;
		top: 50%;
		margin-top: -3px;
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 4.5px 0 4.5px;
		border-color: #bec2c4 transparent transparent transparent;
	}

	&-orange {
		cursor: pointer;
		-webkit-appearance: none; 
		-moz-appearance: none;
		appearance: none;       /* remove default arrow */
		border: none;
		outline: none;
		color: #fff;
		padding: 4px 22px 4px 0;
		font-family: $font-family-VagWorld;
		font-size: 17px;
		font-weight: 700;
		line-height: 20px;
		background: url("select-orange-icon.png") no-repeat;
		background-position: 100% 50%;
		background-color: #fc9b4b;
		&:focus {
			outline: none;
		}
	}
}