<div class="select">
	<select name="tag" id="" class="select__element">
		<option value="">Только отзывы</option>
		<option value="">Только отзывы</option>
		<option value="">Только отзывы</option>
	</select>
</div>