.help {
	&__line {
		overflow: hidden;  // нужен чтобы линия не перетекал в сторону правой колонки
		height: 4px;
		border-radius: 2px;
		background-color: #eff1f1;
		margin-bottom: 20px;
	}
	&__content {
		overflow: hidden; // нужен чтобы текст не перетекал в сторону правой колонки
		width: auto !important;
	}
	&__rubrics {
		margin-bottom: 30px;
	}
	& .content-right-block {
		background: url(blue-bg-icons-big.png) $bluePageBg;
		background-repeat: no-repeat;
		background-size: cover;
		&__title {
			margin-bottom: 25px;
		}
	}
	& .content-links {
		margin-bottom: 24px;
	}
	@media (max-width: $breakpoint768) {
		&__line {
			display: none;
		}
	}
}