<div class="help content-wrap-page">
	<div class="container">
		<div class="content-wrap clearfix">
			<div class="content-right-block">
				<h4 class="content-right-block__title">Популярные вопросы</h4>
				<div class="content-question-answer-block">
					<h4 class="content-question-answer-block__question">Что я тут забыла?</h4>
					<div class="content-question-answer-block__answer">Техника доставляется ежедневно с 10.00 до 22.00. Сроки доставки зависят от Вашего месторасположения и от наличия продукции на складе.</div>
				</div>
				<div class="content-question-answer-block">
					<h4 class="content-question-answer-block__question">Что я тут забыла?</h4>
					<div class="content-question-answer-block__answer">Техника доставляется ежедневно с 10.00 до 22.00. Сроки доставки зависят от Вашего месторасположения и от наличия продукции на складе.</div>
				</div>
				<div class="content-question-answer-block">
					<h4 class="content-question-answer-block__question">Что я тут забыла?</h4>
					<div class="content-question-answer-block__answer">Техника доставляется ежедневно с 10.00 до 22.00. Сроки доставки зависят от Вашего месторасположения и от наличия продукции на складе.</div>
				</div>
				<div class="content-question-answer-block">
					<h4 class="content-question-answer-block__question">Что я тут забыла?</h4>
					<div class="content-question-answer-block__answer">Техника доставляется ежедневно с 10.00 до 22.00. Сроки доставки зависят от Вашего месторасположения и от наличия продукции на складе.</div>
				</div>
			</div>
			<div class="content-page-top">
				<h2 class="content-page-title">Ответы на вопросы</h2>
				<i class="icon icon_question content-page-title-icon"></i>
			</div>
			{% include 'content-links/content-links.html' %}
			<div class="help__line"></div>
			<div class="content help__content">
				<div class="help__rubrics">
					<div class="content__button content__button_active">Стульчики</div>
					<div class="content__button">Коляски</div>
					<div class="content__button">Комоды</div>
				</div>
				<div class="content-accordions">
					<div class="content-accordions__item">
						<div class="content-accordions__title">Которые были установлены при проведении гарантийного либо?</div>
						<div class="content-accordions__text">Вторник не причина для грусти. Видимо, так же считают ребята с канала «СПС l Saspens». Наверное, именно поэтому они собрали для нас все самые забавные неловкие моменты, которые происходили в прямом эфире в последнее время. В этом коротком ролике смеха хватит на всех. Это видео доказывает только одно: все мы люди. И, даже если мы вдруг надели галстук и стали очень серьезными, мы все равно ни от чего не застрахованы:</div>
					</div>
					<div class="content-accordions__item">
						<div class="content-accordions__title">Что я тут делаю?</div>
						<div class="content-accordions__text">Вторник не причина для грусти. Видимо, так же считают ребята с канала «СПС l Saspens». Наверное, именно поэтому они собрали для нас все самые забавные неловкие моменты, которые происходили в прямом эфире в последнее время. В этом коротком ролике смеха хватит на всех. Это видео доказывает только одно: все мы люди. И, даже если мы вдруг надели галстук и стали очень серьезными, мы все равно ни от чего не застрахованы:</div>
					</div>
					<div class="content-accordions__item">
						<div class="content-accordions__title">Которые были установлены при проведении гарантийного либо?</div>
						<div class="content-accordions__text">Вторник не причина для грусти. Видимо, так же считают ребята с канала «СПС l Saspens». Наверное, именно поэтому они собрали для нас все самые забавные неловкие моменты, которые происходили в прямом эфире в последнее время. В этом коротком ролике смеха хватит на всех. Это видео доказывает только одно: все мы люди. И, даже если мы вдруг надели галстук и стали очень серьезными, мы все равно ни от чего не застрахованы:</div>
					</div>
					<div class="content-accordions__item">
						<div class="content-accordions__title">Ого, какие тут цены. Это реально?</div>
						<div class="content-accordions__text">Вторник не причина для грусти. Видимо, так же считают ребята с канала «СПС l Saspens». Наверное, именно поэтому они собрали для нас все самые забавные неловкие моменты, которые происходили в прямом эфире в последнее время. В этом коротком ролике смеха хватит на всех. Это видео доказывает только одно: все мы люди. И, даже если мы вдруг надели галстук и стали очень серьезными, мы все равно ни от чего не застрахованы:</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>