<div class="popup-block popup-search js-popup-block" id="js-popup-search-height">
	<div class="popup-search__block">
		<i class="popup-search__close js-popup-close"></i>
		<div class="popup-search__block-top">
			<div class="popup-search__block-content">
				<div class="popup-search__block-content-top">
					<h4 class="popup-search__title">Поиск по сайту</h4>
					<div class="popup-search__lists">
						<div class="popup-search__lists-title popup-search__green">Частые запросы:</div>
						<div class="popup-search__lists-links">
							<a href="#" class="popup-search__lists-link">Продать</a>
							<a href="#" class="popup-search__lists-link">Где я</a>
							<a href="#" class="popup-search__lists-link">Как отсюда выбраться</a>
							<a href="#" class="popup-search__lists-link">Дисконт</a>
						</div>
					</div>
				</div>
				<div class="popup-search__block-bottom" id="js-popup-search-height-bottom">
					<div class="popup-search__block-content-bottom">
						<div class="popup-search__block-content-left">Snolly</div>
						<div class="popup-search__block-content-right">
							<div class="popup-search__right-wrap">
								<div class="popup-search__right-text">Найдено 3 результата</div>
								<i class="popup-search__right-icon"></i>
							</div>
						</div>
					</div>
					<div class="popup-search__products">
						<div class="popup-search__product">
							<div class="popup-search__product-img">
								<img src="{{src}}popup-search-img.png" alt="">
							</div>
							<div class="popup-search__product-desc">
								<div class="popup-search__product-category">Детское автокресло</div>
								<a href="#" class="popup-search__product-title"><span class="popup-search__product-green">Snolly</span>&nbsp; Fiolento</a>
							</div>
						</div>
						<div class="popup-search__product">
							<div class="popup-search__product-img">
								<img src="{{src}}popup-search-img.png" alt="">
							</div>
							<div class="popup-search__product-desc">
								<div class="popup-search__product-category">Детское автокресло</div>
								<a href="#" class="popup-search__product-title"><span class="popup-search__product-green">Snolly</span>&nbsp; Fiolento</a>
							</div>
						</div>
						<div class="popup-search__product">
							<div class="popup-search__product-img">
								<img src="{{src}}popup-search-img-2.png" alt="">
							</div>
							<div class="popup-search__product-desc">
								<div class="popup-search__product-category">Новости</div>
								<a href="#" class="popup-search__product-title">Ученые обнаружили, что память рыб можно тренировать</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>