.popup-search {
	width: 984px;
	&__close {
		z-index: 2;
		position: absolute;
		right: -16px;
		top: -13px;
		cursor: pointer;
		width: 19px;
		height: 19px;
		background: url("https://icongr.am/material/close-circle-outline.svg?size=19&color=a6a6a6") no-repeat;
		background-size: cover;
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background-image: url(https://icongr.am/material/close-circle-outline.svg?size=19&color=ea3838);
		}
		&:hover {
			background-image: url(https://icongr.am/material/close-circle-outline.svg?size=19&color=ea3838);
		}
	}
	&__block {
		position: relative;
		&-top {
			padding: 31px 64px 86px;
			border-radius: 16px;
			background: #89b85f url(popup-search-icons.png) no-repeat;
			background-size: cover;
		}
		&-content {
			position: relative;
			&-top, &-bottom {
				display: flex;
				justify-content: space-between;
			}
			&-top {
				padding-bottom: 25px;
			}
			&-bottom {
				margin-bottom: 25px;
			}
			&-left {
				color: #5c5c5c;
				font-family: $font-family;
				font-size: 14px;
				font-weight: 400;
			}
		}
		&-bottom {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			padding: 12px 24px;
			border-radius: 23px;
			background-color: #fff;
		}
	}
	&__green {
		color: #d0eb9f;
	}
	&__title {
		flex-shrink: 0;
		color: #fff;
		font-family: $font-family-VagWorld;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0.3px;
		margin-right: 20px;
	}
	&__lists {
		display: flex;
		justify-content: space-between;
		&-title {
			flex-shrink: 0;
			margin-right: 12px;
		}
		&-title, &-link {
			color: #fff;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 400;
		}
		&-link {
			display: inline-block;
			margin-right: 12px;
		}
	}
	&__right {
		&-text {
			color: #bfbfbf;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 400;
			margin-right: 19px;
		}
		&-wrap {
			display: flex;
			align-items: center;
		}
		&-icon {
			display: inline-block;
			width: 19px;
			height: 19px;
			background: url("https://icongr.am/fontawesome/search.svg?size=19&color=c6c8c9") no-repeat;
            background-position: center;
		}
	}
	&__product {
		display: flex;
		align-items: center;
		margin-bottom: 7px;
		&-img {
			width: 57px;
			height: 65px;
		}
		&-desc {
			margin-left: 19px;
		}
		&-category {
			color: #8b8b8b;
			font-family: $font-family;
			font-size: 13px;
			font-weight: 400;
		}
		&-title {
			color: #3b3b3b;
			font-family: $font-family-VagWorld;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.18px;
		}
		&-green {
			color: #89b85f;
		}
	}
	@media (max-width: $breakpoint1100) {
		& {
			width: 690px;
		}
		&__block-top {
			padding: 30px 30px 69px;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			width: 100%;
		}
		&__close {
			width: 29px;
			height: 29px;
			right: 23px;
			top: 23px;
			background: url("https://icongr.am/material/close-circle-outline.svg?size=29&color=bddca2") no-repeat;
			background-size: cover;
			&::before { // заранее загружаем картинку
				content: '';
				height: 0;
				width: 0;
				visibility: hidden;
				background-image: url(https://icongr.am/material/close-circle-outline.svg?size=29&color=ea3838);
			}
			&:hover {
				background-image: url(https://icongr.am/material/close-circle-outline.svg?size=29&color=ea3838);
			}
		}
		&__block {
			&-top {
				padding: 35px 22px;
				border-radius: 0;
			}
			&-content-top {
				flex-wrap: wrap;
			}
		}
		&__title {
			margin-right: 0;
			font-size: 23px;
		}
		&__lists {
			display: block;
			width: 100%;
			&-title, &-links {
				display: inline;
			}
		}
		&__right {
			&-text {
				display: none;
			}
		}
		&__product {
			align-items: flex-start;
			&-desc {
				margin-left: 15px;
			}
			&-category {
				font-size: 10px;
				line-height: 1;
			}
			&-title {
				font-size: 13px;
				line-height: 1.2;
			}
		}
	}
}