<div class="cart">
	<div class="cart__content">
		<div class="container">
			<form action="#" id="js-order-form">
				<div class="cart__content-wrap">
					<div class="cart__top">
						<div class="cart__title">В корзине 2 товара на <span class="cart__orange-color">78 090 руб.</span></div>
						<button class="cart__orange-button hidden-tablet js-send-order" data-url="ajax/popup-thank-purchase.html">Оформить заказ</button>
						<div class="cart__gray-button visible-tablet">Заполните поля</div>
					</div>
					<div class="cart__form">
						<div class="cart__form-left">
							<div class="input-wrap">
								<label class="input-text cart__input-text">Как вас зовут?*</label>
								<input type="text" name="fullname" autocomplete="off" class="input" required pattern="[a-zA-Zа-яёА-ЯЁ]{3,}(\s{1}([a-zA-Zа-яёА-ЯЁ]+))?(\s{1}([a-zA-Zа-яёА-ЯЁ]+))?" placeholder="Как вас зовут?">
							</div>
							<div class="input-wrap">
								<label class="input-text cart__input-text">Номер телефона*</label>
								<span data-phone="+7" class="input-phone-wrap">
									<input type="tel" name="phone" autocomplete="off" class="input" required pattern="[0-9]{3}\s[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="900 - 959 - 17 - 09">
								</span>
							</div>
							<div class="input-wrap">
								<label class="input-text cart__input-text">E-mail*</label>
								<input type="email" name="email" autocomplete="off" class="input" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" placeholder="E-mail">
							</div>
							<div class="input-wrap">
								<div class="cart__input-columns">
									<div class="cart__input-column">
										<label class="input-text cart__input-text">Город</label>
										<input type="text" name="city" autocomplete="off" class="input" placeholder="Город">
									</div>
									<div class="cart__input-column">
										<label class="input-text cart__input-text">Фактический адрес</label>
										<input type="text" name="address" autocomplete="off" class="input" placeholder="Введите адрес доставки">
									</div>
								</div>
							</div>
						</div>
						<div class="cart__form-right">
							<div class="input-wrap">
								<label class="input-text">Дополнительная информация</label>
								<textarea name="dop-info" class="input-textarea"></textarea>
							</div>
							<div class="cart__method-of-payment">
								<h4 class="cart__method-of-payment-title">Способы оплаты</h4>
								<div class="js-method-of-payment-validate-message" style="color: red; margin-bottom: 10px; display: none">Выберите способ оплаты</div>
								<div class="cart__method-of-payment-columns">
									<label class="cart__method-of-payment-radio-button">
										<input type="radio" name="payment" class="cart__method-of-payment-input js-method-of-payment-validate">
										<span class="cart__method-of-payment-icon" style="background-image: url({{src}}handbag-for-money.png);"></span>
									</label>
									<label class="cart__method-of-payment-radio-button">
										<input type="radio" name="payment" class="cart__method-of-payment-input js-method-of-payment-validate">
										<span class="cart__method-of-payment-icon" style="background-image: url({{src}}handbag-for-money.png);"></span>
									</label>
									<label class="cart__method-of-payment-radio-button">
										<input type="radio" name="payment" class="cart__method-of-payment-input js-method-of-payment-validate">
										<span class="cart__method-of-payment-icon" style="background-image: url({{src}}handbag-for-money.png);"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="cart__products">
						<div class="cart__products-top">
							<h4 class="cart__products-total">3 товара</h4>
							<div class="cart__products-top-text">Доставка не включена в стоимость заказа. Подробности уточняйте у менеджера</div>
						</div>
						<div class="cart-product js-cart__product">
							<input type="hidden" name="product-id">
							<div class="cart-product__left">
								<div class="cart-product__img">
									<img src="{{src}}cart-product-img.png" alt="">
								</div>
								<div class="cart-product__desc">
									<div class="cart-product__category">Стульчики для кормления</div>
									<h3 class="cart-product__name">Snolly Fiolento</h3>
								</div>
								<i class="cart-product__delete visible-tablet js-cart__delete"></i>
							</div>
							<div class="cart-product__right">
								<div class="cart-product__input-quanity">
									{% include 'quantity-input/quantity-input.html' %}
								</div>
								<div class="cart-product__price-wrap">
									<div class="cart-product__price"><span>7</span><span>890</span><span>руб</span></div>
									<h3 class="cart-product__price-total">2 x 15 890 руб</h3>
								</div>
								<i class="cart-product__delete hidden-tablet js-cart__delete"></i>
							</div>
							<div class="cart-product__disable js-cart__product-disable">
								<div class="cart-product__disable-wrap">
									<a href="#" class="cart-product__return-cart js-cart__return-cart">Вернуть в корзину</a>
									<a href="#" class="cart-product__confirm-remove js-cart__confirm-remove">Подтвердить удаление</a>
								</div>
							</div>
						</div>
						<div class="cart-product js-cart__product">
							<input type="hidden" name="product-id">
							<div class="cart-product__left">
								<div class="cart-product__img">
									<img src="{{src}}cart-product-img.png" alt="">
								</div>
								<div class="cart-product__desc">
									<div class="cart-product__category">Стульчики для кормления</div>
									<div class="cart-product__name">Snolly Fiolento</div>
								</div>
								<i class="cart-product__delete visible-tablet js-cart__delete"></i>
							</div>
							<div class="cart-product__right">
								<div class="cart-product__input-quanity">
									{% include 'quantity-input/quantity-input.html' %}
								</div>
								<div class="cart-product__price-wrap">
									<div class="cart-product__price"><span>7</span><span>890</span><span>руб</span></div>
									<div class="cart-product__price-total">2 x 15 890 руб</div>
								</div>
								<i class="cart-product__delete hidden-tablet js-cart__delete"></i>
							</div>
							<div class="cart-product__disable js-cart__product-disable">
								<div class="cart-product__disable-wrap">
									<a href="#" class="cart-product__return-cart js-cart__return-cart">Вернуть в корзину</a>
									<a href="#" class="cart-product__confirm-remove js-cart__confirm-remove">Подтвердить удаление</a>
								</div>
							</div>
						</div>
					</div>
					<div class="cart__bottom">
						<div class="cart__bottom-left">
							<div class="cart__personal-data">
								<div class="cart__personal-data-left">
									<div class="cart__personal-data-type">Имя:</div>
									<div class="cart__personal-data-type">Email:</div>
									<div class="cart__personal-data-type">Телефон:</div>
									<div class="cart__personal-data-type">Способ оплаты:</div>
									<div class="cart__personal-data-type">Адрес доставки:</div>
								</div>
								<div class="cart__personal-data-right">
									<div class="cart__personal-data-value">Егор Азовцев</div>
									<div class="cart__personal-data-value">hello@yandex.ru</div>
									<div class="cart__personal-data-value">+7 900 959-17-09</div>
									<div class="cart__personal-data-value">Visa/MasterCard</div>
									<div class="cart__personal-data-value">г.  Москва Воронцовская  улица. 35бк1</div>
								</div>
							</div>
							<div class="info-text">Онлайн-оплата вашего заказа будет доступна сразу после согласования вашего заказа с менеджером.</div>
						</div>
						<div class="cart__bottom-right">
							<h3 class="cart__total-price">176 900 руб.</h3>
							<div class="cart__total-price-text"> Сумма товаров в вашей корзине. <br> Без учета стоимости доставки</div>
							<button class="cart__orange-button cart__orange-button_full-width js-send-order" data-url="ajax/popup-thank-purchase.html">Оформить заказ</button>
							<div class="cart__i-agree">Оформляя заказ я принимаю условия <a href="#" class="cart__i-agree-link">пользовательского соглашения</a>&nbsp;о предоставлении персональных данных</div> 
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>