.cart {
	& .input-wrap {
		margin-bottom: 12px;
	}
	&__content {
		margin-bottom: 91px;
		&-wrap {
			padding: 45px 47px;
			border-radius: 16px;
			background-color: #fff;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 31px;
	}
	&__title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 32px;
		font-weight: 700;
		line-height: 1.2;
		color: #606466;
		letter-spacing: 0.32px;
	}
	&__orange{
		&-color {
			color: #fc9c4a;
		}
		&-button {
			cursor: pointer;
			border: none;
			outline: none; 
			padding: 23px 56px;
			border-radius: 35px;
			color: #fff;
			background-color: #fc9c4a;
			font-family: $font-family-VagWorld;
			font-size: 22px;
			font-weight: 700;
			letter-spacing: 0.22px;
			&:focus {
				outline: none;
			}
			&_full-width {
				width: 100%;
			}
		}
	}
	&__gray-button {
		padding: 24px 0;
		width: 100%;
		text-align: center;
		border-radius: 35px;
		background-color: #e6e9ea;
		color: #bbc0c1;
		font-family: $font-family-VagWorld;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 0.22px;
	}
	&__form {
		display: flex;
		justify-content: space-between;
		&-left {
			width: 50%;
		}
		&-right {
			width: 45%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__input {
		&-text {
			margin-left: 26px;
		}
		&-columns {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&-column {
			width: 43%;
			&:last-of-type {
				width: 54%;
			}
		}
	}
	&__method-of-payment {
		&-title {
			color: $gray-color;
			font-family: $font-family-VagWorld;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.18px;
			margin-bottom: 19px;
		}
		&-columns {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -1% -10px;
		}
		&-radio-button {
			position: relative;
			display: inline-block;
			width: 31%;
			height: 78px;
			line-height: 1;
			cursor: pointer;
			margin: 0 1% 10px;
		}
		&-input {
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		&-icon {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 16px;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #e6e9ea;
		}
		&-input:checked ~ &-icon {
			background-color: #fc9c4a;
		}
	}
	&__products {
		padding-top: 60px;
		&-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// margin-bottom: 25px;
			&-text {
				width: 243px;
				// color: #9ca3a4;
				color: lighten(#9ca3a4, 7%);
				font-family: $font-family;
				font-size: 13px;
				font-weight: 400;
				line-height: 18px;
			}
		}
		&-total {
			color: $gray-color;
			font-family: $font-family-VagWorld;
			font-size: 32px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.32px;
		}
	}
	&-product {
		position: relative;
		padding: 18px 0;
		display: flex;
		justify-content: space-between;
		border-radius: 2px;
		border-bottom: 4px solid #f1f4f5;
		&__left {
			display: flex;
			align-items: center;
		}
		&__right {
			display: flex;
			align-items: center;
			flex-shrink: 0;
		}
		&__img {
			width: 67px;
			height: 76px;
			display: flex;
			justify-content: center;
			align-items: center;
			& img {
				max-width: 100%;
			}
		}
		&__desc {
			margin-left: 18px;
		}
		&__category {
			color: #8b8b8b;
			font-family: $font-family;
			font-size: 13px;
			font-weight: 400;
			margin-bottom: 5px;
		}
		&__name {
			color: #3b3b3b;
			font-family: $font-family-VagWorld;
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.24px;
		}
		&__price {
			color: $gray-color;
			font-family: $font-family-VagWorld;
			font-size: 22px;
			font-weight: 700;
			letter-spacing: -2.86px;
			span {
				letter-spacing: normal;
			}
			&-wrap {
				margin-right: 90px;
				margin-left: 51px;
			}
			&-total {
				color: #a4aaab;
				font-family: $font-family-VagWorld;
				font-size: 14px;
				font-weight: 700;
				margin: 0;
			}
		}
		&__delete {
			cursor: pointer;
			background: url("https://icongr.am/material/close-circle-outline.svg?size=28&color=e6e9ea") no-repeat;
			width: 28px;
			height: 28px;
			&:hover {
				background: url("https://icongr.am/material/close-circle-outline.svg?size=28&color=d21c31") no-repeat;
			}
		}
		&__disable {
			display: none;
			&-wrap {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #ffffff;
				opacity: 0.95;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}
		&__return-cart {
			color: $gray-color;
			font-family: $font-family-VagWorld;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.14px;
			display: flex;
			align-items: center;
			&::before {
				content: '';
				width: 28px;
				height: 28px;
				display: inline-block;
				margin-right: 9px;
				background: url("https://icongr.am/material/replay.svg?size=28&color=fc9c4a") no-repeat;
			}
		}
		&__confirm-remove {
			cursor: pointer;
			color: #b4b7b9;
			font-family: $font-family-VagWorld;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.14px;
			display: flex;
			align-items: center;
			margin-left: 33px;
			&::after {
				content: '';
				width: 28px;
				height: 28px;
				display: inline-block;
				margin-left: 18px;
				background: url("https://icongr.am/material/close-circle-outline.svg?size=28&color=d21c31") no-repeat;
				background-size: cover;
			}
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		padding-top: 67px;
		&-left {
			width: 51%;
		}
		&-right {
			width: 334px;
		}
	}
	&__personal-data {
		display: flex;
		color: #3b3b3b;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		font-weight: 400;
		margin-bottom: 25px;
		&-right {
			margin-left: 30px;
		}
		&-type {
			color: #3b3b3b;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			font-weight: 400;
		}
		&-value {
			font-weight: 700;
		}
	}
	&__total-price {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;
		&-text {
			// color: #9da4a6;
			color: lighten(#9da4a6, 5%);
			font-family: $font-family;
			font-size: 12px;
			font-weight: 400;
			line-height: 1.2;
			margin-bottom: 12px;
		}
	}
	&__i-agree {
		padding-top: 15px;
		// color: #3b3b3b;
		color: lighten(#3b3b3b, 10%);
		font-family: $font-family;
		font-size: 12px;
		line-height: normal;
		font-weight: 400;
		&-link {
			color: #a5c46c;
			text-decoration: underline;
		}
	}
	@media(max-width: $breakpoint1050) {
		&__orange-color {
			display: block;
		}
	}
	@media(max-width: $breakpoint1000) {
		&__content {
			margin-bottom: 87px;
		}
		&__content-wrap {
			padding-bottom: 58px;
		}
		&__title {
			font-size: 25px;
			line-height: 33.33px;
			letter-spacing: 0.25px;
		}
		&__top {
			margin-bottom: 23px;
		}
		&__products {
			&-top {
				margin-bottom: 8px;
			}
			&-total {
				margin-bottom: 0;
				font-size: 25px;
				line-height: 20px;
				letter-spacing: 0.25px;
			}
		}
		&__bottom {
			padding-top: 60px;
		}
	}
	@media(max-width: $breakpoint940) {
		&__orange-button {
			padding: 20px 27px;
			font-size: 17px;
			border-radius: 32px;
		}
		&-product {
			&__price-wrap {
				margin-left: 51px;
				margin-right: 21px;
			}
			&__name {
				font-size: 21px;
			}
		}
		&__input-column {
			margin-bottom: 25px;
			width: 100%;
			&:last-of-type {
				width: 100%;
				margin-bottom: 0;
			}
		}
		&__bottom-right {
			width: 225px;
		}
		&__personal-data {
			font-size: 13px;
			&-type {
				font-size: 13px;
			}
		}
	}
	@media(max-width: $breakpoint900) {
		&__bottom-left {
			width: 60%;
		}
		&__content-wrap {
			padding: 30px 30px 52px;
		}
	}
	@media(max-width: $breakpoint768) {
		&__content {
			background-color: #fff;
			margin-bottom: 0;
		}
		&__bottom-left {
			width: 60%;
		}
		&__content-wrap {
			padding: 30px 0 0px;
		}
		&__top {
			flex-wrap: wrap;
			margin-bottom: 36px;
		}
		&__title {
			margin-bottom: 25px;
			font-size: 23px;
		}
		&__orange-color {
			display: inline-block;
		}
		&__form {
			flex-wrap: wrap;
			&-left, &-right {
				width: 100%;
			}
		}
		&__input-column {
			margin-bottom: 18px;
		}
		& .input {
			&-text {
				display: none;
			}
			&-wrap:last-of-type {
				margin-bottom: 18px;
			}
		}
		&__method-of-payment {
			padding-top: 33px;
			&-title {
				font-size: 25px;
				letter-spacing: 0.25px;
			}
		}
		&__products {
			padding-top: 50px;
			&-top {
				flex-wrap: wrap;
				flex-direction: column;
				align-items: flex-start;
				margin-bottom: 26px;
			}
			&-total {
				font-size: 25px;
				line-height: 1.2;
				margin-bottom: 7px;
			}
		}
		&-product {
			flex-wrap: wrap;
			padding: 0;
			&__left, &__right {
				width: 100%;
			}
			&__left {
				margin-bottom: 13px;
			}
			&__right {
				width: 100%;
				justify-content: space-between;
				margin-bottom: 27px;
			}
			&__price-wrap {
				margin: 0;
			}
			&__delete {
				margin-left: auto;
			}
			&__return-cart, &__confirm-remove {
				font-size: 17px;
			}
		}
		&__bottom {
			flex-wrap: wrap;
			&-left {
				width: 100%;
				margin-bottom: 50px;
			}
			&-right {
				width: 100%;
			}
		}
		&__total {
			&-price {
				margin-bottom: 4px;
				&-text {
					margin-bottom: 18px;
				}
			}
		}
		&__i-agree {
			padding-top: 20px;
		}
	}
	@media(max-width: $breakpoint640) {
		&-product {
			&__disable-wrap {
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;
			}
			&__return-cart {
				margin-bottom: 19px;
			}
			&__confirm-remove {
				margin-left: 0;
			}
		}
	}
	@media(max-width: $breakpoint500) {
		&__method-of-payment {
			&-radio-button  {
				width: 48%;
			}
		}
	}
	@media(max-width: $breakpoint400) {
		&__method-of-payment {
			&-columns {
				margin-left: 0;
				margin-right: 0;
			}
			&-radio-button  {
				width: 100%;
			}
		}
	}
}