.compare-header {
    &__link {
        display: flex;
        align-items: center;
        &:hover {
            text-decoration: none;
        }
    }
    &__icon {
        display: inline-block;
        margin-right: 9px;
        width: 18px;
        height: 20px;
		background: url("statistical-chart.png");
		background-size: cover;
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background: url(statistical-chart-active.png);
		}
	}
	&:hover &__icon {
		background-image: url(statistical-chart-active.png);
	}
    &__count {
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
        width: 26px;
        height: 26px;
        line-height: 27px;
        border-radius: 50%; 
        background-color: #8ab95f;
        color: #fff;
        font-family: $font-family-VagWorld;
        font-size: 12px;
        font-weight: 700;
	}
	@media(max-width: $breakpoint940) {
		&__count {
			font-size: 9px;
			width: 20px;
			height: 20px;
			line-height: 21px;
		}
		&__icon {
			width: 15px;
			height: 15px;
			margin-right: 5px;
		}
	}
	@media(max-width: $breakpoint768) {
		&__count {
			font-size: 12px;
			width: 26px;
			height: 26px;
			line-height: 27px;
		}
		&__icon {
			width: 18px;
			height: 20px;
			margin-right: 9px;
		}
	}
}