<a href="#" class="phone-call-button" id="js-popup-callback">
    <span class="phone-call-button__circlephone"></span>
    <span class="phone-call-button__circle-fill"></span>
    <span class="phone-call-button__img-circle">
        <span class="phone-call-button__img-circleblock"></span>
    </span>
</a>
