.phone-call-button {
	display: block;
	position: relative;
	&,
	&__img-circle, 
	&__img-circleblock  {
		width: 45px;
		height: 45px;
	}
	&__circlephone {
		transform-origin: center;
		box-sizing:content-box;
		border: 2px solid #29AEE3;
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -37px;
		margin-top: -37px;
		border-radius: 100%;
		// opacity: .5;
		opacity: 0;
	}
	&__circle-fill {
		transform-origin: center;
		box-sizing:content-box;
		background-color: #4cac9e;
		width: 80px;
		height: 80px;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-left: -42px;
		margin-top: -42px;
		border-radius: 100%;
		border: 2px solid transparent;
		opacity: 0;
	}
	&:hover &__circlephone {
		opacity: .5;
		animation: circle-anim 2.4s infinite ease-in-out !important;
		transition: all 1s;
	}
	&:hover &__circle-fill {
		animation: circle-fill-anim 2.3s infinite ease-in-out;
		transition: all 1s;
	}
	&__img-circle {
		background-color:#4cac9e;
		box-sizing:content-box;
		position:absolute;
		border-radius: 100%;
		opacity: .7;
		&:hover{opacity: 1;}
	}
	&__img-circleblock {
		box-sizing:content-box;
		display: block;
		background: url('phone-call-button.png') no-repeat;
		background-position: center center;
	}
	&:hover &__img-circleblock {
		animation-name: tossing;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	@media(max-width: $breakpoint940) {
		&, &__img-circle, &__img-circleblock {
			width: 35px;
			height: 35px;
		}
		
	}
	@media(max-width: $breakpoint580) {
		&__circle-fill {
			width: 62px;
			height: 62px;
			margin-left: -33px;
			margin-top: -33px;
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 1;
	}
	50% {
		transform: scale(1);
		opacity: 1;
	}   
	100% {
		transform: scale(0.9);
		opacity: 1;
	}
}

@keyframes tossing {
	0% {
		transform: rotate(-8deg);
	}
	50% {
		transform: rotate(8deg);
	}
	100% {
		transform: rotate(-8deg);
	}
}

@keyframes circle-anim {
	0% {
		transform: rotate(0deg) scale(0.5) skew(1deg);
		opacity: .1;
	}
	30% {
		transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .5;
	}
  	100% {
		transform: rotate(0deg) scale(1) skew(1deg);
		opacity: .1;
	}
}

@keyframes circle-fill-anim {
	0% {
		transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
	50% {
		transform: rotate(0deg) scale(1) skew(1deg);
		opacity: .2;
	}
	100% {
		transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
}