.popular-review {
    padding: 49px 0 60px;
	background-color: #e6e9ea;
	overflow: hidden;
	&__top {
		display: flex;
		justify-content: space-between;
	}
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: calc(50% - 8.5px);
	}
	@media(max-width: $breakpoint900) {
		& {
			padding: 37px 0 48px;
		}
		&__item {
			flex-shrink: 0;
		}
	}
	@media(max-width: $breakpoint850) {
		&__item {
			width: calc(50% - 4px);
		}
	}
	@media(max-width: $breakpoint750) {
		& {
			padding-bottom: 43px;
		}
		&__item {
			flex-shrink: 0;
			width: 95%;
		}
	}
}