<div class="popular-review">
    <div class="container">
		<div class="popular-review__top">
			<h2 class="title-block">Популярные обзоры</h2>
			{% import "link-to-catalog/link-to-catalog.html" as linkToCatalog %}
			{{ linkToCatalog.linkToCatalog() }}
			<div class="popular-review__slider-buttons border-slider-buttons-visible">
				{% include 'border-slider-button/border-slider-button.html' %}
			</div>
		</div>
		<div class="popular-review-swiper">
			<div class="popular-review__list swiper-wrapper">
				<div class="popular-review__item mobile-slider-item">
					{% include 'review/review.html' %}
				</div>
				<div class="popular-review__item mobile-slider-item">
					{% include 'review/review-green-ball.html' %}
				</div>
			</div>
		</div>
    </div>
</div>