<div class="recently-viewed">
	<div class="container">
		<h2 class="title-block">Вы недавно смотрели</h2>
		<div class="recently-viewed__slider">
			<div class="swiper-wrapper recently-viewed__flex">
				<div class="swiper-slide">{% include 'card/card-border.html' %}</div>
				<div class="swiper-slide">{% include 'card/card-border.html' %}</div>
				<div class="swiper-slide">{% include 'card/card-border.html' %}</div>
				<div class="swiper-slide">{% include 'card/card-border.html' %}</div>
				<div class="swiper-slide">{% include 'card/card-border.html' %}</div>
				<div class="swiper-slide">{% include 'card/card-border.html' %}</div>
			</div>
			{% include 'swiper-scrollbar/swiper-scrollbar.html' %}
		</div>
	</div>
</div>