.card {
    padding: 26px 30px 28px;
    border-radius: 16px;
	background-color: #fff;
	height: 100%;
	position: relative;
	& .swiper-container {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__full-link {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
	&_border {
		padding: 24px 18px 20px;
		border-radius: 16px;
		border: 5px solid #e6e9ea;
		&__full-link {
			width: auto;
			height: auto;
			left: -5px;
			top: -5px;
			bottom: -5px;
			right: -5px;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 9px;
	}
	&__icons {
		opacity: 0;
		display: flex;
		align-items: center;
	}
	&:hover &__icons {
		opacity: 1;
	}
	&__compare, &__wishlist {
		position: relative;
		z-index: 1;
	}
	&__wishlist {
		margin-right: 13px;
	}
    &__name {
		line-height: 1;
        color: #8b8b8b;
        font-family: $font-family;
        font-size: 13px;
		font-weight: 400;
    }
    &__model {
        color: #3b3b3b;
        font-family: $font-family-VagWorld;
        font-size: 18px;
        font-weight: 700;
		letter-spacing: 0.18px;
		margin-bottom: 4px;
		display: block;
    }
    &__img-wrap {
        width: auto;
        height: 207px;
        display: flex;
        flex-direction: column;
        justify-content: center;
		align-items: center;
		position: relative;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
		img {
            max-height: 100%;
        }
	}
	&__label {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
	&__slider-dots-status-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		.product-status {
			margin-bottom: 0;
		}
	}
	& .product-status  {
		line-height: 1;
		margin-bottom: 10px;
	}
	&__slider-dots {
		display: flex;
		// opacity: 0;
		.swiper-pagination-bullet {
			margin-left: 4px;
			border-radius: 50%;
			display: inline-block;
			width: 9px;
			height: 9px;
			opacity: 1;
			background-color: #e6e9ea;
			&:first-child {
				margin-left: 0;
			}
			&-active {
				background-color: #b7bfc2;
			}
		}
	}
	&:hover &__slider-dots {
		opacity: 1;
	}
	&__price {
		color: #3b3b3b;
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -2.2px;
		span {
			letter-spacing: normal;
		}
		&-wrap {
			font-family: $font-family-VagWorld;
			line-height: normal;
			display: flex;
			align-items: center;
			&_column {
				line-height: 1.2;
				align-items: flex-start;
				flex-direction: column;
				& .card__old-price {
					order: -1;
					margin-bottom: 7px;
				}
			}
		}
	}
	&__old-price {
		color: #c0c0c0;
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		margin-left: 13px;
		text-decoration: line-through;
		letter-spacing: -1.4px;
		span {
			letter-spacing: normal;
		}
	}
	@media(max-width: $breakpoint1220) {
		&__model {
			font-size: 17px;
		}
		&__price {
			font-size: 19px;
		}
		&__old-price {
			font-size: 13px;
		}
	}
	@media(max-width: $breakpoint900) {
		&, .related-products & {
			padding-left: 22px;
			padding-right: 22px;
		}
		&_border {
			padding-left: 13px;
			padding-right: 13px;
		}
		&__old-price {
			margin-left: 8px;
		}
		// &__model {
		// 	font-size: 17px;
		// }
		&__price {
			font-size: 18px;
		}
		// &__old-price {
		// 	font-size: 13px;
		// }
	}
	@media(max-width: $breakpoint800) {
		&__img-wrap {
			height: 139px;
		}
	}
	@media(max-width: $breakpoint580) {
		&, .related-products & {
			padding-left: 17px;
			padding-right: 17px;
		}
		&__name {
			font-size: 11px;
			line-height: 1.2;
		}
		&__model {
			font-size: 14px;
		}
		&__img-wrap {
			height: 207px;
		}
		&__status {
			font-size: 12px;
		}
		&__price {
			font-size: 15px;
		}
		&__old-price {
			font-size: 12px;
		}
	}
	@media(max-width: $breakpoint400) {
		& {
			padding-left: 30px;
			padding-right: 30px;
		}
		&__price-wrap_column {
			flex-direction: row;
			align-items: center;
			& .card__price {
				font-size: 22px;
			}
			& .card__old-price {
				order: 1;
				font-size: 14px;
				margin-bottom: 0;
			}
		}
	}
}