<div class="card js-card-parent-slider">
	<a href="#" class="card__full-link"></a>
	<div class="card__top">
		<div class="card__name">Детское автокресло</div>
		<div class="card__icons">
			<a href="#" class="icon icon_statistical-chart card__wishlist"></a>
			<!-- <a href="#" class="icon icon_heart card__compare"></a> -->
			<a href="#" class="icon icon_heart-active card__compare"></a>
		</div>
	</div>
	<div class="card__model equal-height">Cybex Aton 4 Autumn Gold</div>
	<div class="card__img-wrap">
		<div class="bg-label-new card__label">Новинка</div>
		<!-- Slider  -->
		<div class="swiper-container js-card__slider">
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<a href="#"><img src="{{src}}product-img.png" alt=""></a>
				</div>
				<div class="swiper-slide">
					<a href="#"><img src="{{src}}product-img.png" alt=""></a>
				</div>
				<div class="swiper-slide">
					<a href="#"><img src="{{src}}product-img.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<div class="card__slider-dots-status-wrap">
		{% include 'product-status/product-status-active.html' %}
		<!-- {% include 'product-status/product-status-unactive.html' %} -->
		<div class="card__slider-dots js-card__slider-dots"></div>
	</div>
	<div class="card__price-wrap">
		<div class="card__price">
			<span>99.990</span>
			<span>руб</span>
		</div>
		<div class="card__old-price">
			<span>109.990</span>
			<span>руб</span>
		</div>
	</div>
</div>