@mixin searchHeaderInputPlaceholder() {
	color: #c5c9ca;
	font-family: $font-family;
	font-size: 14px;
	font-weight: 700;
}
.search-header {
	min-width: 40px;
    display: block;
    position: relative;
    height: 36px; // 29px
    &__input {
		border: none;
		height: 100%;
		border-radius: 23px;
		background-color: #e6e9ea;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 700;
		padding-right: 40px;
		vertical-align: middle;
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		opacity: 0;
		z-index: 0;
        &-active {
			padding-left: 20px;
            width: 260px;
            opacity: 1;
            transition: all 1s ease-in-out;
		}
		&::-webkit-input-placeholder {
			@include searchHeaderInputPlaceholder();
		}
		&::-moz-placeholder {
			@include searchHeaderInputPlaceholder();
		}
		&:-moz-placeholder {
			@include searchHeaderInputPlaceholder();
		}
		&:-ms-input-placeholder {
			@include searchHeaderInputPlaceholder();
		}
        &-button {
            outline: none;
            padding: 0 5px;
            box-sizing: content-box;
            position: absolute;
            right: 0px;
			top: 0px;
			z-index: 99;
            outline: none;
            appearance: none;
            border: 0;
            cursor: pointer;
            width: 30px; // 19px
            height: 100%;
            background: url("https://icongr.am/fontawesome/search.svg?size=19&color=d1d1d1") no-repeat;
            background-position: center 49%;
            &:focus {
                outline: none;
            }
        }
	}
	@media(max-width: $breakpoint900) {
		&__input-button {
			background-size: 14px;
		}
	}
	@media(max-width: $breakpoint768) {
		&__input-button {
			background-size: 19px;
		}
	}
}