<form action="#" class="search">
	<div class="search__input-wrap">
		<input type="text" name="search" class="search__input" required placeholder="Поиск">
		<input type="submit" class="search__input-submit">
	</div>
</form>