@mixin searchInputPlaceholder() {
	color: #c5c9ca;
	font-family: $font-family;
	font-size: 14px;
	font-weight: 700;
}
.search {
	&__input {
		width: 270px;
		height: 100%;
		border-radius: 23px;
		background-color: #e6e9ea;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 700;
		padding-left: 25px;
		padding-right: 46px;
		&-wrap {
			display: inline-block;
			position: relative;
			min-width: 43px;
			height: 45px;
		}
		&, &-submit {
			appearance: none;
			border: none;
			outline: none;
			&:focus {
				outline: none;
			}
		}
		&::-webkit-input-placeholder {
			@include searchInputPlaceholder();
		}
		&::-moz-placeholder {
			@include searchInputPlaceholder();
		}
		&:-moz-placeholder {
			@include searchInputPlaceholder();
		}
		&:-ms-input-placeholder {
			@include searchInputPlaceholder();
		}
		&-submit {
			cursor: pointer;
			position: absolute;
			right: 0px;
			top: 0;
			padding: 0;
			font-size: 0;
			width: 43px;
			height: 100%;
			background: url("https://icongr.am/fontawesome/search.svg?size=19&color=c6c8c9") no-repeat;
			background-position: center 50%;
		}
		@media(max-width: $breakpoint768) {
			&_hidden {
				position: absolute;
				top: 0;
				right: 0;
				width: 0;
				opacity: 0;
			}
			&_active {
				width: 270px;
				opacity: 1;
				transition: all 1s ease-in-out;
			}
		}
	}
}

.search-result__search-form {
	.search__input-wrap, .search__input {
		width: 100%;
	}
}