<form action="#" class="search">
	<div class="search__input-wrap">
		<input type="text" name="search" class="search__input search__input_hidden js-search__input" required placeholder="Поиск по новостям">
		<input type="submit" class="search__input-submit" id="search-input">
	</div>
</form>