<form action="#" class="search-header">
    <input type="text" name="search" placeholder="Поиск" required class="search-header__input js-search-header-input">
    <button type="submit" name="submit" class="search-header__input-button js-search-header-button"></button>
</form>
<!-- search-header__input-hidden -->