.review-product {
	margin-bottom: 96px;
	&__content {
		overflow: hidden;
		background-color: #fff;
		border-radius: 16px;
		padding: 53px 47px 74px;
	}
	&__visible {
		display: none;
	}
	&__description-wrap {
		display: flex;
		margin-bottom: 58px;
	}
	&__description {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		margin-right: 10px;
		&-top {
			margin-bottom: 27px;
		}
		&-title {
			font-size: 40px;
			font-weight: 700;
			letter-spacing: 0.4px;
			line-height: 1.2;
			margin-bottom: 23px;
		}
		&-text {
			&.content {
				color: #3d3d3d;
			}
			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&__title, &__name {
		display: inline-block;
		line-height: 1.2;
		color: #fc9c4a;
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 0.26px;
	}
	&__title {
		margin-bottom: 2px;
	}
	&__name {
		text-decoration: underline;
		text-underline-position: under;
	}
	&__img {
		padding-top: 26px;
		flex-shrink: 0;
		width: 38%;
		padding-left: 4.80%;
		& img {
			max-width: 100%;
		}
	}
	&__social {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 33px;
		// & .social, &-text {
		// 	margin-bottom: 20px;
		// }
		& .social {
			margin-right: 19px;
		}
		&-text {
			color: #cbcbcb;
			font-family: $font-family-VagWorld;
			font-size: 20px;
			font-weight: 700;
			line-height: 19px;
			letter-spacing: 0.2px;
		}
	}
	&__advantages {
		font-family: $font-family-VagWorld;
		margin-bottom: 58px;
		&-title {
			color: $gray-color;
			font-size: 26px;
			font-weight: 700;
			letter-spacing: 0.26px;
			margin-bottom: 29px;
		}
		&-block {
			display: flex;
		}
		&-block:first-of-type &-type {
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
		}
		&-block:last-of-type &-type {
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
		}
		&-type {
			flex-shrink: 0;
			width: 243px;
			padding-left: 3%;
			padding-top: 35px;
			background-color: #eff1f1;
			color: $color;
			&-title {
				font-size: 22px;
				font-weight: 700;
				line-height: 26px;
				letter-spacing: 0.22px;
				margin-bottom: 12px;
			}
		}
		&-block:last-of-type &-plus-minus-wrap {
			border-bottom: 0;
		}
		&-plus-minus-wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			flex-grow: 1;
			padding: 41px 0 37px;
			margin: 0 4%;
			border-radius: 2px;
			border-bottom: 4px solid #eff1f4;
			color: $color;
			font-family: $font-family;
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
		}
		&-plus, &-minus {
			width: 48%;
		}
		&-plus-item, &-minus-item {
			margin-bottom: 35px;
			&::before {
				flex-shrink: 0;
			}
		}
		&-plus-item {
			display: flex;
			align-items: center;
			&::before {
				content: '';
				width: 18px;
				height: 18px;
				margin-right: 11px;
				background: url(plus-sign.png) no-repeat;
				background-size: cover;
			}
			
		}
		&-minus-item {
			display: flex;
			align-items: center;
			&::before {
				content: '';
				width: 18px;
				height: 5px;
				margin-right: 15px;
				background: url(minus.png) no-repeat;
				background-size: cover;
			}
		}
	}
	&__verdict {
		margin-bottom: 14px;
		font-family: $font-family-VagWorld;
		color: $color;
		display: flex;
		align-items: center;
		&-title {
			font-size: 30px;
			font-weight: 700;
			line-height: 26px;
			letter-spacing: 0.3px;
			margin-bottom: 17px;
		}
		&-text {
			font-family: $font-family;
			font-size: 22px;
			font-weight: 400;
			line-height: 38px;
			margin: 0;
		}
		&-ball {
			margin-left: 15px;
			flex-shrink: 0;
			text-align: center;
			border-radius: 50%;
			width: 189px;
			height: 189px;
			color: #fff;
			font-family: $font-family-VagWorld;
			font-size: 54px;
			font-weight: 700;
			line-height: 189px;
			&-big-number {
				font-size: 90px;
			}
		}
	}
	&__bottom-flex {
		display: flex;
		align-items: center;
		// margin-bottom: 48px;
		margin-bottom: 30px;
	}
	&__buy-link, &__buy-link-text {
		display: inline-block;
		color: #fc9c4a;
		font-family: $font-family-VagWorld;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 0.22px;
	}
	&__buy-link {
		text-decoration: underline;
		text-underline-position: under;
	}
	&__author {
		flex-shrink: 0;
		display: inline-flex;
		align-items: center;
		margin-left: 38px;
		&-img {
			width: 52px;
			height: 52px;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&-name {
			color: $gray-color;
			font-family: $font-family;
			font-size: 16px;
			font-weight: 700;
			line-height: 19px;
			margin-left: 15px;
		}
	}
	&__slider {
		margin-bottom: 83px;
	}
	@media(max-width: $breakpoint1000) {
		& {
			margin-bottom: 87px;
		}
		&__content {
			padding: 30px 30px 24px;
		}
		&__description {
			&-top {
				margin-bottom: 25px;
			}
			&-title {
				font-size: 25px;
			}
			&-text {
				p {
					font-size: 17px;
					line-height: 27.08px;
				}
			}
		}

		&__title, &__name {
			font-size: 21px;
		}
		&__img {
			width: 270px;
		}
		&__advantages {
			margin-bottom: 38px;
			&-title {
				font-size: 25px;
				line-height: 33.33px;
				margin-bottom: 18px;
			}
			&-type {
				padding-top: 39px;
				width: 165px;
				&-title {
					font-size: 18px;
					margin-bottom: 0;
				}
			}
			&-plus-minus-wrap {
				margin-left: 17px;
				margin-right: 17px;
				font-size: 14px;
				line-height: 20.83px;
			}
			&-plus-item, &-minus-item {
				margin-bottom: 43px;
			}
		}
		&__verdict {
			margin-bottom: 15px;
			&-title {
				margin-bottom: 19px;
			}
			&-text {
				font-size: 19px;
				line-height: 29.17px;
			}
			&-ball {
				width: 156px;
				height: 156px;
				line-height: 156px;
				font-size: 45px;
				&-big-number {
					font-size: 74px;
				}
			}
		}
		&__bottom-flex, &__social {
			margin-bottom: 20px;
		}
		&__author {
			margin-left: 31px;
		}
		&__slider {
			margin-bottom: 73px;
		}
	}
	@media(max-width: $breakpoint900) {
		&__social-text {
			font-size: 15px;
		}
		&__author-img {
			width: 41px;
			height: 40px;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			padding-top: 24px;
			background-color: #fff;
			margin-bottom: 0;
		}
		&__content {
			padding: 0;
			border-radius: 0;
		}
		&__advantages {
			margin-bottom: 0;
			&-block {
				flex-wrap: wrap;
			}
			&-title {
				font-size: 21px;
			}
			&-type {
				width: 100%;
				padding: 32px 30px;
				border-radius: 16px;
				margin-bottom: 30px;
				&-title {
					font-size: 22px;
				}
			}
			&-plus-minus-wrap {
				padding-top: 0;
				margin-left: 0;
				border-bottom: none;
			}
			&-plus, &-minus {
				margin-bottom: 0;
				width: 100%;
				font-size: 18px;
				line-height: 26px;
			}
			&-plus-item, &-minus-item {
				margin-bottom: 20px;
			}
		}
	}
	@media(max-width: $breakpoint700) {
		&__hidden {
			display: none;
		}
		&__visible {
			display: block;
		}
		&__description {
			margin-right: 0;
			&-title {
				font-size: 23px;
				letter-spacing: 0.23px;
				margin-bottom: 13px;
			}
			&-top {
				margin-bottom: 21px;
			}
		}
		&__img {
			padding-left: 0;
			width: 100%;
			margin-bottom: 20px;
		}
		&__verdict {
			flex-wrap: wrap;
			&-title {
				margin-bottom: 27px;
			}
			&-ball {
				flex-shrink: 0;
				width: 100px;
				height: 100px;
				line-height: 100px;
				font-size: 30px;
				&-big-number {
					font-size: 60px;
				}
			}
		}
		&__bottom-flex {
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 30px;
		}
		&__buy-link {
			display: block;
		}
		&__author {
			order: -11;
			width: 100%;
			margin-left: 0;
			margin-bottom: 15px;
		}
	}
	@media(max-width: $breakpoint600) {
		&__slider {
			margin-bottom: 56px;
		}
	}
	@media(max-width: $breakpoint500) {
		&__buy-link, &__buy-link-text {
			font-size: 25px;
		}
		&__buy-link, &__author {
			margin-bottom: 25px;
		}
		&__verdict {
			&-text {
				font-size: 22px;
				line-height: 33.33px;
			}
			&-ball {
				margin: 0 auto 20px;
				flex-shrink: 0;
				width: 273px;
				height: 273px;
				line-height: 273px;
				font-size: 83px;
				&-big-number {
					font-size: 142px;
				}
			}
		}
	}
}