<div class="review-product">
	<div class="container">
		<div class="review-product__content">
			<div class="review-product__description-wrap">
				<div class="review-product__description">
					<h2 class="review-product__description-title">Идеальное кресло с одним маленьким минусом</h2>
					<div class="review-product__description-top">
						<h3 class="review-product__title">Обзор кресла</h3>
						<a href="#" class="review-product__name"> Britax Romer King II</a>
					</div>
					<div class="review-product__social">
						<div class="review-product__social-icons">
							{% include 'social/social.html' %}
						</div>
						<div class="review-product__social-text">23 поделилась</div>
					</div>
					<div class="review-product__img review-product__visible">
						<img src="{{src}}review-product__img.png" alt="">
					</div>
					<div class="content review-product__description-text">
						<p>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно, но возникает два вопроса: сколько из этого было нужно на самом деле и как использовать такие безграничные ресурсы по максимуму.</p>
						<p>В голову пришло всего два варианта: поставить все установленные программы на автозагрузку при запуске системы или организовать RAM-диск на 64 ГБ.</p>
					</div>
				</div>
				<div class="review-product__img review-product__hidden">
					<img src="{{src}}review-product__img.png" alt="">
				</div>
			</div>
			<div class="review-product__advantages">
				<h3 class="review-product__advantages-title">Достоинства и недостатки кресел Britax Romer King II</h3>
				<div class="review-product__advantages-blcoks">
					<div class="review-product__advantages-block">
						<div class="review-product__advantages-type">
							<h5 class="review-product__advantages-type-title">Безопасность</h5>
							<div class="review-product__advantages-ratings">
								{% include 'ratings/ratings-green.html' %}
							</div>
						</div>
						<div class="review-product__advantages-plus-minus-wrap">
							<div class="review-product__advantages-plus">
								<div class="review-product__advantages-plus-item">
									хорошая система защиты от боковых ударов;
								</div>
								<div class="review-product__advantages-plus-item">
									оптимальное положение ремня безопасности на теле ребёнка;
								</div>
								<div class="review-product__advantages-plus-item">
									хорошая устойчивость в салоне автомобиля.
								</div>
							</div>
							<div class="review-product__advantages-minus">
								<div class="review-product__advantages-minus-item">
									недостаточная защищённость ребёнка при фронтальных столкновениях.
								</div>
							</div>
						</div>
					</div>
					<div class="review-product__advantages-block">
						<div class="review-product__advantages-type">
							<h5 class="review-product__advantages-type-title">Эксплуатация</h5>
							<div class="review-product__advantages-ratings">
								{% include 'ratings/ratings-green.html' %}
							</div>
						</div>
						<div class="review-product__advantages-plus-minus-wrap">
							<div class="review-product__advantages-plus">
								<div class="review-product__advantages-plus-item">
									хорошая система защиты от боковых ударов;
								</div>
								<div class="review-product__advantages-plus-item">
									оптимальное положение ремня безопасности на теле ребёнка;
								</div>
								<div class="review-product__advantages-plus-item">
									хорошая устойчивость в салоне автомобиля.
								</div>
							</div>
							<div class="review-product__advantages-minus">
								<div class="review-product__advantages-minus-item">
									недостаточная защищённость ребёнка при фронтальных столкновениях.
								</div>
							</div>
						</div>
					</div>
					<div class="review-product__advantages-block">
						<div class="review-product__advantages-type">
							<h5 class="review-product__advantages-type-title">Эргономика</h5>
							<div class="review-product__advantages-ratings">
								{% include 'ratings/ratings-green.html' %}
							</div>
						</div>
						<div class="review-product__advantages-plus-minus-wrap">
							<div class="review-product__advantages-plus">
								<div class="review-product__advantages-plus-item">
									хорошая система защиты от боковых ударов;
								</div>
								<div class="review-product__advantages-plus-item">
									оптимальное положение ремня безопасности на теле ребёнка;
								</div>
								<div class="review-product__advantages-plus-item">
									хорошая устойчивость в салоне автомобиля.
								</div>
							</div>
							<div class="review-product__advantages-minus">
								<div class="review-product__advantages-minus-item">
									недостаточная защищённость ребёнка при фронтальных столкновениях.
								</div>
							</div>
						</div>
					</div>
					<div class="review-product__advantages-block">
						<div class="review-product__advantages-type">
							<h5 class="review-product__advantages-type-title">Эргономика</h5>
							<div class="review-product__advantages-ratings">
								{% include 'ratings/ratings-green.html' %}
							</div>
						</div>
						<div class="review-product__advantages-plus-minus-wrap">
							<div class="review-product__advantages-plus"></div>
							<div class="review-product__advantages-minus">
								<div class="review-product__advantages-minus-item">
									недостаточная защищённость ребёнка при фронтальных столкновениях.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="review-product__verdict">
				<div class="review-product__verdict-description">
					<div class="review-product__verdict-title">Вердикт:</div>
					<div class="review-product__verdict-text">Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно, но возникает два вопроса.</div>
				</div>
				<div class="review-product__verdict-ball review-product__hidden" style="background-color: #89b85f;">
					<span class="review-product__verdict-ball-big-number">4</span>/5
				</div>
			</div>
			<div class="review-product__bottom-flex">
				<div>
					<div class="review-product__buy-link-text">Купить кресло</div>
					<a href="#" class="review-product__buy-link">Britax Romer King II</a>
				</div>
				<div class="review-product__author">
					<div class="review-product__author-img">
						<img src="{{src}}review-product__author.png" alt="">
					</div>
					<div class="review-product__author-name">Наталья Ройсман</div>
				</div>
				<div class="review-product__verdict-ball review-product__visible" style="background-color: #89b85f;">
					<span class="review-product__verdict-ball-big-number">4</span>/5
				</div>
			</div>
			<div class="review-product__social">
				{% include 'social/social.html' %}
				<div class="review-product__social-text">23 поделилась</div>
			</div>
			<div class="review-product__slider">
				{% include 'slider/slider-card/slider-card.html' %}
			</div>
			{% include 'article/article-block/article-block.html' %}
			{% include 'coments/coments.html' %}
		</div>
	</div>
</div>