.wishlist {
	margin-bottom: 105px;
	&__content {
		color: $gray-color;
		padding: 50px 50px 72px;
		border-radius: 16px;
		background-color: #fff;
	}
	&__page-title {
		font-family: $font-family-VagWorld;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.9px;
		margin-bottom: 16px;
	}
	&__orange-color {
		color: #fc9c4a;
		letter-spacing: 0.9px;
	}
	&__tags {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 27px;
	}
	&__title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.6px;
		margin-bottom: 18px;
	}
	&__products {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -6px;
	}
	&__product {
		width: calc(25% - 12px);
		margin: 0 6px 12px;
	}
	&__banners {
		padding-top: 8px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__banner {
		width: calc(46% - 16px);
		& .banner__frame {
			min-height: 371px;
		}
		& .banner__opacity-text {
			display: block;
		}
		&:first-of-type {
			width: 54%;
		}
	}
	@media(max-width: $breakpoint1150) {
		&__product {
			width: calc(33.33% - 12px);
		}
	}
	@media(max-width: $breakpoint1000) {
		& {
			margin-bottom: 89px;
		}
		&__content {
			padding: 30px 30px 50px;
		}
		&__page-title {
			font-size: 25px;
		}
		&__title {
			margin-bottom: 13px;
		}
		&__tags {
			margin-bottom: 24px;
		}
		&__products {
			margin: 0 -3px;
		}
		&__product {
			width: calc(33.33% - 6px);
			margin: 0 3px 6px;
		}
		& .card__model {
			font-size: 15px;
		}
		& .banner__frame {
			min-height: 306px;
		}
		&__banners {
			padding-top: 4px;
		}
		&__banner {
			width: 41%;
			&:first-of-type {
				width: 58%;
			}
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			margin-bottom: 0;
			background-color: #fff;
			padding-top: 25px;
		}
		&__content {
			padding: 0;
			border-radius: 0;
		}
		&__page-title {
			font-size: 23px;
			letter-spacing: 0.57px;
			line-height: 25px;
		}
		&__title {
			display: none;
		}
		&__tags {
			margin-bottom: 16px;
		}
		&__products {
			margin: 0 -1%;
		}
		&__product {
			width: 48%;
			margin: 0 1%;
			margin-bottom: 2%;
		}
		& .card__model {
			font-size: 15px;
		}
		&__banners {
			padding-top: 15px;
		}
		&__banner {
			width: 100%;
			margin-bottom: 15px;
			&:first-of-type {
				width: 100%;
			}
		}
	}
	@media(max-width: $breakpoint500) {
		& .card__model {
			font-size: 18px;
		}
		&__products {
			margin: 0;
		}
		&__product {
			width: 100%;
			margin: 0;
			margin-bottom: 13px;
		}
		&__banners {
			padding-top: 0;
		}
		&__banner {
			margin-bottom: 13px;
		}
	}
}