<div class="wishlist">
	<div class="container">
		<div class="wishlist__content">
			<h3 class="wishlist__page-title">В избранном<span class="wishlist__orange-color">4 товара</span>
				в 2 категориях</h3>
			<div class="wishlist__tags">
				{% include 'filter-tags/filter-tags.html' %}
			</div>
			<h4 class="wishlist__title">13 товаров в «Коляски»</h4>
			<div class="wishlist__products">
				<div class="wishlist__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
				<div class="wishlist__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
				<div class="wishlist__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
				<div class="wishlist__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
				<div class="wishlist__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
				<div class="wishlist__product">
					{% include 'card/card-with-top-old-price.html' %}
				</div>
			</div>
			<div class="wishlist__banners">
				<div class="wishlist__banner">
					{% include 'banner/banner-review-catalog/banner-review-catalog.html' %}
				</div>
				<div class="wishlist__banner">
					{% import "banner/banner-article/banner-article.html" as banner %}
					{{ banner.bannerArticle("banner-article-bg5.png") }}
				</div>
			</div>
		</div>
	</div>
</div>