<div class="map">
	<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало) -->
	<div style="width: auto;height: 371px" id="map77amw13i"></div>
	<script>function YandexReadyHandler77amw13i() {
			var map = new ymaps.Map("map77amw13i", {
				center: [55.74366005628543, 37.583343781710795],
				zoom: 16,
				controls: ["zoomControl", "typeSelector", "geolocationControl", "routeEditor", "searchControl", "trafficControl", "fullscreenControl"],
				type: "yandex#map"
			}, {
					suppressMapOpenBlock: true
				});
			return map;
		}</script>
	<script src="//api-maps.yandex.ru/2.1/?lang=ru&onload=YandexReadyHandler77amw13i" type="text/javascript"></script>
	<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->
</div>