@mixin pricePlaceholder() {
	color: #fff;
	font-family: $font-family-VagWorld;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.14px;
}
.menu-category {
	& {
		display: block;
	}
	&__mobile {
		&-visible {
			display: none;
		}
		&-top-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 12px 0;
		}
		&-right {
			display: flex;
		}
		&-count-typs {
			width: 21px;
			height: 21px;
			border-radius: 50%;
			text-align: center; 
			background-color: #ff690f;
			color: #fff;
			font-family: $font-family-VagWorld;
			font-size: 11px;
			font-weight: 700;
			line-height: 21px;
		}
		&-button {
			cursor: pointer;
			background: url("levels-icon.png") no-repeat;
			width: 24px;
			height: 24px;
			margin-left: 7px;
		}
	}
	&__top-text {
		display: none;
		justify-content: space-between;
		align-items: center;
		padding: 14px 0;
		font-family: $font-family-VagWorld;
		color: #fff;
		&-left {
			font-size: 21px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.21px;
		}
		&-buttons {
			display: flex;
		}
		&-reset, &-apply {
			cursor: pointer;
			appearance: none;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.14px;
			background-color: transparent;
			border: none;
			outline: none;
			padding: 0;
			color: #fff;
			&:focus {
				outline: none;
			}
		}
		&-reset {
			color: #ffc08c;
			margin-right: 18px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		background-color: #fc9c4a;
		border-radius: 24px;
		font-family: $font-family-VagWorld;
	}
	&__item {
		position: relative;
		color: #fff;
		padding: 12px 15px;
		&:first-child {
			padding-left: 28px;
		}
		&_active {
			background: #ffae55;
			&:first-child {
				border-top-left-radius: 24px;
			}
		}
	}
	&__name {
		cursor: pointer;
		color: #ffffff;
		font-family: $font-family-VagWorld;
		font-size: 15px;
		font-weight: 700;
		&::after {
			content: '';
			display: inline-block;
			width: 7px;
			height: 7px;
			position: relative;
			top: -2px;
			margin-left: 11px;
			transform: rotate(45deg);
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
	}
	&__sub-list {
		padding-top: 16px;
		display: none;
		min-width: 100%;
		left: 0;
		padding-left: inherit;
		padding-right: inherit;
		background: #ffae55;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		padding-bottom: 24px;
		display: none;
		position: absolute;
		top: 100%;
		z-index: 4;
		&_active {
			display: block;
		}
		&-item {
			display: flex;
			justify-content: space-between;
			&-category {
				width: 100%;
				justify-content: flex-start;
				margin-bottom: 8px;
				label {
					max-width: 63%;
					word-break: break-all;
				}
				&__count {
					position: relative;
					top: -5px;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	&__text-checkbox {
		cursor: pointer;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.15px;
		margin-bottom: 0;
		&-input {
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		&-name {
			display: inline-block;
			line-height: 1.2;
		}
		&-input:checked ~ &-name {
			text-decoration: underline
		}
	}
	&__count {
		&, &-top {
			flex-shrink: 0;
			display: inline-block;
			text-align: center;
			color: inherit;
			font-weight: 700;
			border-radius: 50%;
		}
		font-size: 9px;
		width: 24px;
		height: 24px;
		line-height: 24px;
		background-color: #ff8f30;
		margin-left: 5px;
		&-top {
			background-color: #ff690f;
			font-size: 10px;
			width: 21px;
			height: 21px;
			line-height: 21px;
		}
	}
	&__popular {
		width: 150%;
		&-hidden-mobile {
			display: inline-block;
			&::before {
				position: relative;
				top: 2px;
				content: '';
				display: inline-block;
				width: 11px;
				height: 14px;
				margin-right: 5px;
				background: url("menu-category-down-icon.png") no-repeat;
			}
		}
		&-visible-mobile {
			flex-grow: 1;
			display: none;
		}
		&-form {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin: -7px;
		}
		&-wrap {
			margin: 7px;
		}
		&-label {
			cursor: pointer;
			position: relative;
			margin-bottom: 0;
		}
		&-input {
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
			&-text {
				padding: 6px 46px 6px 21px;
				display: inline-block;
				border-radius: 21px;
				border: 3px solid #ef954a;
				color: #fef5f3;
				font-family: $font-family-VagWorld;
				font-size: 13px;
				font-weight: 700;
				letter-spacing: 0.13px;
				&::before { // прогружаем заранее картинку
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					visibility: hidden;
					background: url("arrow-top-bottom-active.png") no-repeat;
				}
				&::after {
					position: absolute;
					content: '';
					display: inline-block;
					width: 18px;
					height: 12px;
					background: url("arrow-top-bottom.png") no-repeat;
					top: 50%;
					right: 17px;
					margin-top: -6px;
				}
			}
			&:checked ~ &-text {
				border-color: #fff;
				background-color: #ffffff;
				color: #ef954a;
				&::after {
					background-image: url("arrow-top-bottom-active.png");
				}
			}
		}
	}
	&__button, &__reset {
		cursor: pointer;
		border: none;
		outline: none;
		font-family: $font-family-VagWorld;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		padding: 0;
		&:focus {
			outline: none;
		}
	}
	&__button {
		padding: 6px 25px;
		color: #fc9c4a;
		border-radius: 16px;
		background-color: #ffffff;
	}
	&__reset {
		color: #ffd9af;
		background-color: transparent;
	}
	&__color {
		width: 209%;
		&-form {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -1.5%;
		}
		&-wrap, &-buttons {
			margin: 1.5%;
		}
		&-buttons {
			width: 100%;
		}
	}
	&__gender {
		width: 170%;
		&-label {
			font-size: 0;
		}
		&-icon {
			cursor: pointer;
			&:before, &:after {
				content: '';
				display: inline-block;
				background-size: cover;
			}
			&:after {
				display: none;
			}
		}
		&-input {
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		&-input:checked ~ &-icon::before {
			display: none;
		}
		&-input:checked ~ &-icon::after {
			display: inline-block;
		}
		&-all {
			&:before, &:after {
				width: 51px;
				height: 47px;
			}
			&:before {
				background: url("menu-category-for-all.png") no-repeat;
			}
			&:after {
				background: url("menu-category-for-all-active.png") no-repeat;
			}
		}
		&-boy {
			&:before, &:after {
				width: 50px;
				height: 47px;
			}
			&:before {
				background: url("menu-category-boy.png") no-repeat;
			}
			&:after {
				background: url("menu-category-boy-active.png") no-repeat;
			}
		}
		&-girl {
			&:before, &:after {
				width: 49px;
				height: 52px;
			}
			&:before {
				background: url("menu-category-girl.png") no-repeat;
			}
			&:after {
				background: url("menu-category-girl-active.png") no-repeat;
			}
		}

		&-form {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
		}
		&-buttons {
			width: 100%;
			text-align: center;
		}
	}
	&__price {
		width: 200%;
		&-form {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&-wrap {
			width: 100%;
			margin-bottom: 17px;
			& input {
				width: 100%;
				appearance: none;
				border-radius: 21px;
				border: 3px solid #ffffff;
				background-color: transparent;
				padding: 6px 10px 6px 14px;
				color: #fff;
				font-family: $font-family-VagWorld;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 0.14px;
				&[placeholder] {
					@include pricePlaceholder();
				}
				&::-webkit-input-placeholder {
					@include pricePlaceholder();
				}
				&::-moz-placeholder {
					@include pricePlaceholder();
				}
				&:-moz-placeholder {
					@include pricePlaceholder();
				}
				&:-ms-input-placeholder {
					@include pricePlaceholder();
				}
			}
		}
		&-buttons {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			.menu-category__reset {
				order: -1;
				margin: 0 5px 5px;
			}
		}
	}
	&__reset-desktop {
		margin-left: auto;
		margin-right: 13px;
		width: 20px;
		height: 20px;
		&-button {
			background: url("https://icongr.am/material/close-circle-outline.svg?size=20&color=ffffff") no-repeat;
			background-size: cover;
			appearance: none;
			border: none;
			outline: none;
			cursor: pointer;
			height: 100%;
			width: 100%;
			&:focus {
				outline: none;
			}
		}
	}
	@media(max-width: $breakpoint1100) {
		&__item:first-child {
			display: none;
		}
		&__popular {
			&::before {
				content: none;
			}
		}
	}
	@media(max-width: $breakpoint900) {
		& {
			background-color: #fc9c4a;
		}
		&__list {
			margin-left: -15px;
			margin-right: -15px; 
			justify-content: space-between;
		}
		&__reset-desktop {
			display: none;
		}
		&__gender {
			left: auto;
			right: 0;
		}
	}
	@media(max-width: $breakpoint800) {
		&__item {
			padding: 19px 10px;
		}
		&__name {
			font-size: 14px;
		}
		&__color-buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
		&__color-buttons &__reset {
			order: -1;
			margin-bottom: 5px;
		}
	}
	@media(max-width: $breakpoint730) {
		& {
			display: none;
		}
		&__mobile-visible {
			display: block;
			background: #fc9b4b;
		}
		&__top-text {
			display: flex;
		}
		&__list {
			flex-wrap: wrap;
			margin-left: 0;
			margin-right: 0;
		}
		&__item {
			cursor: pointer;
			width: 100%;
			padding: 0;
		}
		&__item:nth-last-of-type(2) &__name {
			border-bottom: none;
		}
		&__count, &__count-top {
			margin-right: auto;
		}
		&__count-top {
			margin-left: 5px;
		}
		&__color-buttons {
			justify-content: flex-start;
			& .menu-category__reset {
				order: 0;
				margin-bottom: 0;
				margin-left: 10px;
			}
		}
		&__item_active &__name {
			&::after {
				background: url("move-to-next-active.png") no-repeat;
				transform: rotate(180deg);
			}
		}
		&__item_close &__name {
			&::after {
				transform: rotate(0deg);
			}
		}
		&__name {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 18px;
			padding-bottom: 18px;
			color: #fff;
			font-family: $font-family-VagWorld;
			font-size: 17px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.17px;
			border-bottom: 3px solid #ffae55;
			&::before { // нужен для заранее загрузки картинки
				content: '';
				position: absolute;
				visibility: hidden;
				width: 0;
				height: 0;
				background: url("move-to-next-active.png") no-repeat;
			}
			&::after {
				width: 17px;
				height: 11px;
				border: none;
				transform: rotate(0);
				background: url("move-to-next.png") no-repeat;
				transition: 0.5s all;
			}
		}
		&__sub-list {
			position: static;
			border-radius: 0;
			border-bottom: 3px solid #ef954a;
			&-item {
				justify-content: flex-start;
			}
		}
		&__gender, &__color {
			width: 100%;
		}
		&__gender {
			&-form {
				justify-content: flex-start;
			}
			&-wrap {
				margin-left: 20px;
				&:first-child {
					margin-left: 0;
				}
			}
			&-buttons {
				text-align: left;
			}
		}
		&__price {
			width: 100%;
			&-form {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			&-wrap {
				width: 49%;
			}
			&-buttons {
				justify-content: flex-start;
				.menu-category__reset {
					order: 1;
					margin: 0 0 0 10px;
				}
			}
		}
		&__popular {
			width: 100%;
			&-hidden-mobile {
				display: none;
			}
			&-visible-mobile {
				display: block;
			}
		}
	}
	@media(min-width: $breakpoint730 + 1) {
		& {
			display: block !important;
		}
	}
}