<form action="#">
	<div class="menu-category__mobile-visible">
		<div class="container">
			<div class="menu-category__mobile-top-content">
				<select class="select-orange">
					<option value="">Все категории</option>
					<option value="">Все категории</option>
					<option value="">Все категории</option>
				</select>
				<div class="menu-category__mobile-right">
					<div class="menu-category__mobile-count-typs">2</div>
					<div class="menu-category__mobile-button js-menu-category__mobile-button"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="menu-category">
		<div class="container">
			<div class="menu-category__top-text">
				<div class="menu-category__top-text-left">Фильтр</div>
				<div class="menu-category__top-text-buttons">
					<button type="reset" class="menu-category__top-text-reset">Сбросить</button>
					<button type="button" class="menu-category__top-text-apply">Применить</button>
				</div>
			</div>
			<ul class="menu-category__list">
				<li class="menu-category__item js-menu-category__item">
					<div class="menu-category__name">
						Категории товаров
					</div>
					<ul class="menu-category__sub-list">
						<li class="menu-category__sub-list-item menu-category__sub-list-item-category">
							<label class="menu-category__text-checkbox">
								<input type="checkbox" class="menu-category__text-checkbox-input">
								<span class="menu-category__text-checkbox-name">Автокресло</span>
							</label>
							<div class="menu-category__sub-list-item-category__count">
								<span class="menu-category__count">23</span>
							</div>
						</li>
						<li class="menu-category__sub-list-item menu-category__sub-list-item-category">
							<label class="menu-category__text-checkbox">
								<input type="checkbox" class="menu-category__text-checkbox-input">
								<span class="menu-category__text-checkbox-name">Коляски</span>
							</label>
							<div class="menu-category__sub-list-item-category__count">
								<span class="menu-category__count">17</span>
							</div>
						</li>
						<li class="menu-category__sub-list-item menu-category__sub-list-item-category">
							<label class="menu-category__text-checkbox">
								<input type="checkbox" class="menu-category__text-checkbox-input">
								<span class="menu-category__text-checkbox-name">Стульчики для кормления</span>
							</label>
							<div class="menu-category__sub-list-item-category__count">
								<span class="menu-category__count">56</span>
							</div>
						</li>
						<li class="menu-category__sub-list-item menu-category__sub-list-item-category">
							<label class="menu-category__text-checkbox">
								<input type="checkbox" class="menu-category__text-checkbox-input">
								<span class="menu-category__text-checkbox-name">Кровати</span>
							</label>
							<div class="menu-category__sub-list-item-category__count">
								<span class="menu-category__count">9</span>
							</div>
						</li>
						<li class="menu-category__sub-list-item menu-category__sub-list-item-category">
							<label class="menu-category__text-checkbox">
								<input type="checkbox" class="menu-category__text-checkbox-input">
								<span class="menu-category__text-checkbox-name">Комоды</span>
							</label>
							<div class="menu-category__sub-list-item-category__count">
								<span class="menu-category__count">88</span>
							</div>
						</li>
					</ul>
				</li>
				<li class="menu-category__item js-menu-category__item">
					<div class="menu-category__name">
						<div class="menu-category__popular-hidden-mobile">По популярности</div>
						<div class="menu-category__popular-visible-mobile">Сортировка</div>
					</div>
					<ul class="menu-category__sub-list menu-category__popular">
						<li class="menu-category__sub-list-item">
							<div class="menu-category__popular-form">
								<div class="menu-category__popular-wrap">
									<label class="menu-category__popular-label">
										<input type="radio" name="popular" class="menu-category__popular-input">
										<span class="menu-category__popular-input-text">По популярности</span>
									</label>									
								</div>
								<div class="menu-category__popular-wrap">
									<label class="menu-category__popular-label">
										<input type="radio" name="popular"  class="menu-category__popular-input">
										<span class="menu-category__popular-input-text">По новизне</span>
									</label>
								</div>
								<div class="menu-category__popular-wrap">
									<label class="menu-category__popular-label">
										<input type="radio" name="popular"  class="menu-category__popular-input">
										<span class="menu-category__popular-input-text">По цене</span>
									</label>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="menu-category__item js-menu-category__item">
					<div class="menu-category__name">
						Цена
					</div>
					<ul class="menu-category__sub-list menu-category__price">
						<li class="menu-category__sub-list-item">
							<div class="menu-category__price-form js-reset-input-wrap">
								<div class="menu-category__price-wrap">
									<input type="text" name="radio-group" placeholder="от 700" class="js-reset-input">
								</div>
								<div class="menu-category__price-wrap">
									<input type="text" name="radio-group" placeholder="до 29 000" class="js-reset-input">
								</div>
								<div class="menu-category__price-buttons">
									<button type="button" class="menu-category__button">Принять</button>
									<button type="reset" class="menu-category__reset js-reset-input-button">Сбросить</button>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="menu-category__item js-menu-category__item">
					<div class="menu-category__name">
						Тип
						<div class="menu-category__count-top">2</div>
					</div>
					<ul class="menu-category__sub-list">
						<li class="menu-category__sub-list-item">
							<label class="menu-category__text-checkbox">
								<input type="checkbox" class="menu-category__text-checkbox-input">
								<span class="menu-category__text-checkbox-name">Автокресло</span>
							</label>
							<span class="menu-category__count">23</span>
						</li>
					</ul>
				</li>
				<li class="menu-category__item js-menu-category__item">
					<div class="menu-category__name">
						Цвета
					</div>
					<ul class="menu-category__sub-list menu-category__color">
						<li class="menu-category__sub-list-item">
							<div class="menu-category__color-form js-reset-input-wrap">
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon" style="background-color: #9d90c8;"></span>
									</label>
								</div>
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon" style="background-color: #d24a43;"></span>
									</label>
								</div>
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon" style="background-color: #76a76d;"></span>
									</label>
								</div>
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon" style="background-color: #6682d3;"></span>
									</label>
								</div>
								<!-- Обратите внимание на кнопку белого цвета добавляется класс radio__white -->
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon radio__white" style="background-color: white;"></span>
									</label>
								</div>
								<!-- end -->
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon" style="background-color: #d7569c;"></span>
									</label>
								</div>
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon" style="background-color: #ffe84b;"></span>
									</label>
								</div>
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon" style="background-color: #434343;"></span>
									</label>
								</div>
								<div class="menu-category__color-wrap">
									<label class="radio">
										<input type="checkbox" class="radio__input js-reset-input">
										<span class="radio__icon" style="background-color: #7b7b7b;"></span>
									</label>
								</div>
								<div class="menu-category__color-buttons">
									<button class="menu-category__button">Принять</button>
									<button type="reset" class="menu-category__reset js-reset-input-button">Сбросить</button>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="menu-category__item js-menu-category__item">
					<div class="menu-category__name">
						Возраст
					</div>
					<ul class="menu-category__sub-list">
						<li class="menu-category__sub-list-item">
							<label class="menu-category__text-checkbox">
								<input type="checkbox" class="menu-category__text-checkbox-input">
								<span class="menu-category__text-checkbox-name">Автокресло</span>
							</label>
						</li>
					</ul>
				</li>
				<li class="menu-category__item js-menu-category__item">
					<div class="menu-category__name">
						Пол ребенка
					</div>
					<ul class="menu-category__sub-list menu-category__gender">
						<li class="menu-category__sub-list-item">
							<div class="menu-category__gender-form">
								<div class="menu-category__gender-wrap">
									<label class="menu-category__gender-label">
										<input type="radio" name="radio-group" class="menu-category__gender-input">
										<span class="menu-category__gender-all menu-category__gender-icon">Для всех</span>
									</label>
								</div>
								<div class="menu-category__gender-wrap">
									<label class="menu-category__gender-label">
										<input type="radio" name="radio-group" class="menu-category__gender-input">
										<span class="menu-category__gender-boy menu-category__gender-icon">Мальчик</span>
									</label>
								</div>
								<div class="menu-category__gender-wrap">
									<label class="menu-category__gender-label">
										<input type="radio" name="radio-group" class="menu-category__gender-input">
										<span class="menu-category__gender-girl menu-category__gender-icon">Девочка</span>
									</label>
								</div>
								<div class="menu-category__gender-buttons">
									<button type="button" class="menu-category__button">Принять</button>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="menu-category__reset-desktop">
					<button type="reset" class="menu-category__reset-desktop-button"></button>
				</li>
			</ul>
		</div>
	</div>
</form>