<div class="popup-block popup-callback js-popup-block" id="js-popup-callback-content">
	<div class="popup-block__frame">
		<i class="icon icon_close popup-block__close js-popup-close"></i>
		<div class="popup-block__content">
			<h3 class="popup-block__title">Обратный звонок</h3>
			<p class="popup-block__text">Мы тоже любим поговорить! Ваш номер будет использован для общения.</p>
			<form action="">
				<div class="input-wrap">
					<label class="input-text">Как вас зовут?*</label>
					<input type="text" name="fullname" class="input" required pattern="[a-zA-Zа-яёА-ЯЁ]{3,}(\s{1}([a-zA-Zа-яёА-ЯЁ]+))?(\s{1}([a-zA-Zа-яёА-ЯЁ]+))?" placeholder="Как вас зовут?">
				</div>
				<div class="input-wrap">
					<label class="input-text">Номер телефона*</label>
					<span data-phone="+7" class="input-phone-wrap">
						<input type="tel" name="phone" class="input" required pattern="[0-9]{3}\s[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="900 - 959 - 17 - 09">
					</span>
				</div>
				{% include 'popups/popup-checkbox/popup-checkbox.html' %}
				<button class="popup-block__button js-popup-block__button">Заказать звонок</button>
			</form>
		</div>
	</div>
</div>