<div class="coments">
	<div class="coments__top">
		<div class="coments__count">17 комментариев</div>
		<button class="coments__button" id="js-popup-add-comments">Оставить комментарий</button>
	</div>
	<div class="coments__item">
		<div class="coments__item-top">
			<div class="coments__author">
				<div class="coments__author-img-wrap">
					<img src="{{src}}coments-author-img.png" alt="">
				</div>
				<div class="coments__wrap-date-name">
					<div class="coments__author-name">Наталья Трухина</div>
					<div class="coments__date">9 января 2018, 22:20</div>
				</div>
			</div>
			<div class="coments__hidden-mobile">
				<i class="icon icon_coments-reply js-popup-add-comments-reply" data-comment-id="1" data-url="ajax/popup-add-comment-reply.html"></i>
				<div class="coments__like">
					<div class="coments__like-count">173</div>
					<i class="icon icon_coments-like"></i>
				</div>
			</div>
		</div>
		<div class="coments__item-content">
			<div>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно</div>
			<div class="coments__visible-mobile">
				<div class="coments__like">
					<div class="coments__like-count">173</div>
					<i class="icon icon_coments-like-active"></i>
				</div>
				<i class="icon icon_coments-reply-mobile coments__reply js-popup-add-comments-reply" data-comment-id="1" data-url="ajax/popup-add-comment-reply.html"></i>
			</div>
		</div>
	</div>
	<div class="coments__item">
		<div class="coments__item-top">
			<div class="coments__author">
				<div class="coments__author-img-wrap">
					<img src="{{src}}coments-author-img.png" alt="">
				</div>
				<div class="coments__wrap-date-name">
					<div class="coments__author-name">Наталья Трухина</div>
					<div class="coments__date">9 января 2018, 22:20</div>
				</div>
			</div>
			<div class="coments__hidden-mobile">
				<i class="icon icon_coments-reply js-popup-add-comments-reply" data-comment-id="2" data-url="ajax/popup-add-comment-reply.html"></i>
				<div class="coments__like">
					<div class="coments__like-count coments__like-count_active">173</div>
					<i class="icon icon_coments-like-active"></i>
				</div>
			</div>
		</div>
		<div class="coments__item-content">
			<div>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно</div>
			<div class="coments__visible-mobile">
				<div class="coments__like">
					<div class="coments__like-count">173</div>
					<i class="icon icon_coments-like-active"></i>
				</div>
				<i class="icon icon_coments-reply-mobile coments__reply js-popup-add-comments-reply" data-comment-id="2" data-url="ajax/popup-add-comment-reply.html"></i>
			</div>
		</div>
	</div>
	<div class="coments__item">
		<div class="coments__item-top">
			<div class="coments__author">
				<div class="coments__author-img-wrap">
					<img src="{{src}}coments-author-img.png" alt="">
				</div>
				<div class="coments__wrap-date-name">
					<div class="coments__author-name">Наталья Трухина</div>
					<div class="coments__date">9 января 2018, 22:20</div>
				</div>
			</div>
			<div class="coments__hidden-mobile">
				<i class="icon icon_coments-reply js-popup-add-comments-reply" data-comment-id="3" data-url="ajax/popup-add-comment-reply.html"></i>
				<div class="coments__like">
					<div class="coments__like-count coments__like-count_active">173</div>
					<i class="icon icon_coments-like-active"></i>
				</div>
			</div>
		</div>
		<div class="coments__item-content">
			<div>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно</div>
			<div class="coments__visible-mobile">
				<div class="coments__like">
					<div class="coments__like-count">173</div>
					<i class="icon icon_coments-like-active"></i>
				</div>
				<i class="icon icon_coments-reply-mobile coments__reply js-popup-add-comments-reply" data-comment-id="3" data-url="ajax/popup-add-comment-reply.html"></i>
			</div>
		</div>
	</div>
	<div class="coments__item coments__item-reply">
		<div class="coments__item-top">
			<div class="coments__author">
				<div class="coments__author-img-wrap">
					<img src="{{src}}coments-author-img.png" alt="">
				</div>
				<div class="coments__wrap-date-name">
					<div class="coments__author-name coments__author-name_bold">Sweet-baby</div>
					<div class="coments__date">9 января 2018, 22:20</div>
				</div>
			</div>
			<div class="coments__hidden-mobile">
				<i class="icon icon_coments-reply js-popup-add-comments-reply" data-comment-id="4" data-url="ajax/popup-add-comment-reply.html"></i>
				<div class="coments__like">
					<div class="coments__like-count coments__like-count_active">173</div>
					<i class="icon icon_coments-like"></i>
				</div>
			</div>
		</div>
		<div class="coments__item-content coments__item-content_active">
			<div>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно</div>
			<div class="coments__visible-mobile">
				<div class="coments__like">
					<div class="coments__like-count">173</div>
					<i class="icon icon_coments-like"></i>
				</div>
				<i class="icon icon_coments-reply-mobile coments__reply js-popup-add-comments-reply" data-comment-id="4" data-url="ajax/popup-add-comment-reply.html"></i>
			</div>
		</div>
	</div>
	<div class="coments__item coments__item-reply">
		<div class="coments__item-top">
			<div class="coments__author">
				<div class="coments__author-img-wrap">
					<img src="{{src}}coments-author-img.png" alt="">
				</div>
				<div class="coments__wrap-date-name">
					<div class="coments__author-name">Наталья Трухина</div>
					<div class="coments__date">9 января 2018, 22:20</div>
				</div>
			</div>
			<div class="coments__hidden-mobile">
				<i class="icon icon_coments-reply js-popup-add-comments-reply" data-comment-id="5" data-url="ajax/popup-add-comment-reply.html"></i>
				<div class="coments__like">
					<div class="coments__like-count coments__like-count_active">173</div>
					<i class="icon icon_coments-like"></i>
				</div>
			</div>
		</div>
		<div class="coments__item-content">
			<div>Хорошо, установили, и система даже завелась с первого раза, но чего-то все еще не хватало. Дело в том, что, когда у тебя в системе такое количество памяти, ее хватает на все, что душе угодно</div>
			<div class="coments__visible-mobile">
				<div class="coments__like">
					<div class="coments__like-count">173</div>
					<i class="icon icon_coments-like"></i>
				</div>
				<i class="icon icon_coments-reply-mobile coments__reply js-popup-add-comments-reply" data-comment-id="5" data-url="ajax/popup-add-comment-reply.html"></i>
			</div>
		</div>
	</div>
</div>