.coments {
	background-color: #fff;
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	&__count {
		color: #3b3b3b;
		font-family: $font-family-VagWorld;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0.75px;
	}
	&__button {
		cursor: pointer;
		appearance: none;
		border: none;
		outline: none;
		padding: 14px 40px;
		border-radius: 26px;
		background-color: #89b85f;
		color: #ffffff;
		font-family: $font-family-VagWorld;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.4px;
		&:focus {
			outline: none;
		}
	}
	&__item {
		margin-bottom: 35px;
		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 23px;
		}
		&__date {
			margin-right: auto;
		}
		&-reply {
			margin-left: 9%;
		}
		&-content {
			position: relative;
			border-radius: 16px;
			background-color: #eeeeee;
			padding: 21px 19% 21px 31px;
			color: #676767;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			&::before {
				content: '';
				position: absolute;
				left: 15px;
				top: -18px;
				background: url(coments-content-icon.png) no-repeat;
				background-size: cover;
				width: 29px;
				height: 28px;
			}
			&_active {
				background-color: #89b85f;
				color: #fff;
				&::before {
					background: url(coments-content-icon-active.png) no-repeat;
				}
				&::after {
					content: '';
					position: absolute;
					left: -47px;
					top: -12px;
					background: url(coments-content-reply-icon.png) no-repeat;
					width: 30px;
					height: 23px;
				}
			}
		}
	}
	&__author {
		display: flex;
		align-items: center;
		&-img-wrap {
			overflow: hidden;
			border-radius: 50%; 
			width: 42px;
			height: 42px;
			& img {
				width: 100%;
				height: 100%;
			}
		}
		&-name {
			font-family: $font-family;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			color: #3d3d3d;
			&_bold {
				font-weight: 700;
			}
		}
	}
	&__date {
		margin-right: auto;
		margin-left: 10px;
		color: #cbcbcb;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		&::before {
			content: '|';
			margin-right: 7px;
		}
	}
	&__wrap-date-name {
		display: flex;
		margin-left: 14px;
	}
	&__like {
		display: flex;
		align-items: center;
		margin-left: 23px;
		&-count {
			margin-right: 8px;
			margin-top: 2.5px;
			color: #cecece;
			font-family: $font-family-VagWorld;
			font-size: 14px;
			font-weight: 700;
			line-height: 1;
			&_active {
				color: #a0a0a0;
			}
		}
	}
	&__item-content_active &__like-count {
		color: #fff;
	}
	&__hidden-mobile {
		display: flex;
	}
	&__visible-mobile {
		display: none;
	}
	@media(max-width: $breakpoint768) {
		&__top {
			flex-wrap: wrap;
			margin-bottom: 33px;
		}
		&__item-content_active::after {
			left: -43px;
			top: -63px;
		}
		&__count {
			width: 100%;
			margin-bottom: 20px;
		}
		&__visible-mobile {
			padding-top: 23px;
			display: flex;
			align-items: center;
		}
		&__hidden-mobile {
			display: none;
		}
		&__like {
			margin-left: 0;
		}
		&__reply {
			margin-left: 13px;
		}
	}
	@media(max-width: $breakpoint768) {
		&__button {
			width: 100%;
			border-radius: 35px;
    		padding: 24px 0;
		}
	}
	@media(max-width: $breakpoint500) {
		&__wrap-date-name {
			flex-direction: column;
			& .coments__date {
				margin-left: 0;
				&::before {
					content: none;
				}
			}
		}
		&__item {
			&-reply {
				margin-left: 43px;
			}
		}
	}
}