$colorBorderSliderButton: #c2c6c7;

.border-slider {
	&-buttons-visible {
		display: none;
		@media(max-width: $breakpoint768) {
			& {
				display: block;
				margin-top: 5px;
			}
		}
	}
	&-button {
		&-wrap {
			display: flex;
		}
		cursor: pointer;
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		&__left {
			margin-right: 5px;
			border-width: 8px 10px 8px 0;
			border-color: transparent $colorBorderSliderButton transparent transparent;
		}
		&__right {
			border-width: 8px 0 8px 10px;
			border-color: transparent transparent transparent $colorBorderSliderButton;
		}
		&__hidden {
			// нужен чтобы курсор многовено становился нормальным
			cursor: default;
			visibility: hidden;
			width: 0;
			height: 0;
		}
	}
}