.review {
    padding: 40px 26px 36px 32px;
    border-radius: 16px;
    background-color: #ffffff;
    &__title {
        color: #3b3b3b;
        font-family: $font-family-VagWorld;
        font-size: 24px;
		font-weight: 700;
		line-height: 1.2;
        letter-spacing: 0.24px;
        margin-bottom: 20px;
    }
    &__content {
        display: flex;
		justify-content: space-between;
		&-img {
			margin-top: auto;
		}
        &-img-wrap {
            position: relative;
            width: 165px;
            height: 187px;
			display: flex;
			align-items: center;
			justify-content: center;
            & img {
                max-width: 140px;
            }
		}
		&-tablet {
			flex-shrink: 0;
			margin-right: 10px;
			&-wrap {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
			}
		}
    }
    &__rating {
		position: absolute;
		bottom: 0;
		right: 0;
        width: 85px;
		height: 85px;
		line-height: 85px;
		text-align: center;
		border-radius: 50%;
		color: #ffffff;
		font-family: $font-family-VagWorld;
		font-size: 23px;
		font-weight: 700;
		&-big-number {
			font-size: 39px;
		}
    }
    &__text {
        opacity: 0.7;
        color: #6e6e6e;
        font-size: 15px;
        font-weight: 400;
		line-height: 19px;
		margin-bottom: 26px;
    }
    &__person {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        &-desc {
            margin-left: 16px;
            line-height: 1.2;
            color: #3b3b3b;
        }
        &-name {
            font-size: 16px;
            font-weight: 700;
        }
        &-profession {
            font-size: 12px;
            font-weight: 400;
		}
	}
	&__tablet-vissible, 
	&__visible-500 {
		display: none;
	}
	@media(max-width: $breakpoint900) {
		& {
			padding: 26px 23px 35px 19px;
		}
		&__title {
			font-size: 19px !important;
			margin-bottom: 18px !important;
			letter-spacing: 0.19px;
		}
		&__text {
			font-size: 13px;
			margin-bottom: 8px;
			line-height: 16.67px;
		}
		&__content-img-wrap {
			width: 109px;
			height: 124px;
			& img {
				max-width: 92px;
			}
		}
		&__content-text {
			width: 100%;
		}
		&__rating {
			width: 58px;
			height: 58px;
			line-height: 58px;
			font-size: 16px;
			&-big-number {
				font-size: 26px;
			}
		}
		&__tablet-vissible {
			display: block;
		}
		&__tablet-hidden {
			display: none;
		}
	}
	@media(max-width: $breakpoint500) {
		&__person {
			margin-bottom: 0;
		}
		&__content-tablet {
			flex-shrink: 1;
			&-wrap {
				align-items: center;
				margin-bottom: 19px;
			}
		}
		&__hidden-500 {
			display: none;
		}
		&__visible-500 {
			display: block;
		}
		&__content-img-wrap {
			margin-bottom: 0;
			flex-shrink: 0;
		}
		&__title {
			font-size: 15px !important;
		}
		&__text {
			display: none;
		}
		&__person {
			flex-wrap: wrap;
		}
		&__person-desc {
			width: 100%;
			margin: 15px 0 0;
		}
	}
}