<div class="review">
	<h3 class="review__title">Обзор раскрученного и практичного Cybex Aton 4 в красном цвете.</h3>
	<div class="review__content">
		<div class="review__content-text">
			<p class="review__text">Туэйтс играет Дика Грейсона, первого Робина и Найтвинга.Сериал будет рассказывать о времени, когда Грейсон уже отправился.Жители.</p>
			<div class="review__content-tablet-wrap">
				<div class="review__content-tablet">
					<div class="review__person">
						<div class="review__person-img-wrap">
							<img src="{{src}}review-img.png" alt="">
						</div>
						<div class="review__person-desc">
							<div class="review__person-name">Наталья К.</div>
							<div class="review__person-profession">Психолог</div>
						</div>
					</div>
					<div class="review__hidden-500">
						{% include 'small-icons/small-icons.html' %}
					</div>
				</div>
				<div class="review__content-img review__tablet-vissible">
					<div class="review__content-img-wrap">
						<img src="{{src}}review-product-img.png" alt="">
						<div class="review__rating" style="background-color: #8ab95f;">
							<span class="review__rating-big-number">5</span>/5
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="review__content-img review__tablet-hidden">
			<div class="review__content-img-wrap">
				<img src="{{src}}review-product-img.png" alt="">
				<div class="review__rating" style="background-color: #8ab95f;">
					<span class="review__rating-big-number">5</span>/5
				</div>
			</div>
		</div>
	</div>
	<div class="review__visible-500">
		{% include 'small-icons/small-icons.html' %}
	</div>
</div>