<div class="review-slider">
	<div class="swiper-wrapper review-slider-flex">
		<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
		<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
		<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
		<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
		<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
		<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
	</div>
	{% include 'swiper-scrollbar/swiper-scrollbar.html' %}
</div>