.menu {

	&__list {
		display: flex;
		align-items: center;
	}
	
	&__item {
		display: flex;
		align-items: center;
		line-height: normal;
		&::before {
			content: '';
			display: inline-block;
			margin: 0 20px; // 14px
			width: 7px;
			height: 7px;
			background-color: #ececec;
			border-radius: 50%;
			margin-bottom: 3px;
		}
		&:first-child {
			&::before {
				content: none;
			}
		}
	}

	&__link {
		font-family: $font-family-VagWorld;
		font-size: 14px;
		line-height: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.35px;
		
	}

	@media(max-width: $breakpoint1100) {
		&__link {
			font-size: 12px;
		}
	}
	@media(max-width: $breakpoint1050) {
		&__item {
			&::before {
				margin: 0 14px;
			}
		}
	}

	@media(max-width: $breakpoint940) {
		&__item {
			&::before {
				margin: 0 7px;
			}
		}
		&__link {
			font-size: 10px;
			letter-spacing: 0.25px;
		}
	}

	@media(max-width: 768px) {
		transform: scale(0);
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		transition:transform 0.3s;

		&.active {
			transform: scale(1);
			background: #fff;
			z-index: 10;
		}

		&__list {
			flex-direction: column;
			align-items: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&__item + &__item {
			margin-top: 10px;
		}
		&__item {
			&::before {
				content: none;
			}
		}
	}
}