.favorite {
    &__link {
        display: flex;
        align-items: center;
        &:hover {
            text-decoration: none;
        }
    }
    &__icon {
        display: inline-block;
        margin-right: 9px;
        width: 18px;
		height: 18px;
        background: url("https://icongr.am/fontawesome/heart.svg?size=18&color=d1d1d1");
		background-size: cover;
		&::before { // заранеее загружаем картинку
			content: '';
			width: 0;
			height: 0;
			background: url(https://icongr.am/fontawesome/heart.svg?size=18&color=ea3a3a) no-repeat;
		}
	}
	&:hover &__icon {
		background-image: url(https://icongr.am/fontawesome/heart.svg?size=18&color=ea3a3a);
	}
    &__count {
		display: flex;
		align-items: center;
		justify-content: center;
        width: 26px;
		height: 26px;
		line-height: 27px;
        border-radius: 50%; 
        background-color: #ffaeb5;
        color: #fff;
        font-family: $font-family-VagWorld;
        font-size: 12px;
        font-weight: 700;
	}
	@media(max-width: $breakpoint940) {
		&__count {
			font-size: 9px;
			width: 20px;
			height: 20px;
			line-height: 21px;
		}
		&__icon {
			width: 13px;
			height: 13px;
			margin-right: 5px;
		}
	}
	@media(max-width: $breakpoint768) {
		&__count {
			font-size: 12px;
			width: 26px;
			height: 26px;
			line-height: 27px;
		}
		&__icon {
			width: 18px;
			height: 18px;
			margin-right: 9px;
		}
	}
}