.link-to-catalog {
	margin-top: 5px;
	color: #c2c6c7;
	font-family: $font-family-VagWorld;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.14px;
	&::after {
		content: '';
		display: inline-block;
		margin-left: 9px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4.5px 0 4.5px 7px;
		border-color: transparent transparent transparent #c2c6c7;
	}
	@media(max-width: $breakpoint768) {
		& {
			display: none;
		}
	}
}