{% include 'head/head.html' %}

<body>

<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}
		{% include 'category/category-name/category-catalog.html' %}
		<div>
			<!-- WORKAREA -->

			{% include 'catalog/catalog.html' %}

			<!-- END WORKAREA -->
		</div>
		
		{% include 'advantage/advantage-text.html' %}
		{% include 'footer/global/footer.html' %}

</div>
<!-- /.wrapper -->

{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>