{% include 'head/head.html' %}

<body>

<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}		
		{% include 'breadcrumbs/breadcrumbs-gray.html' %}
		<div>
			<!-- WORKAREA -->

			{% include 'exchange-of-goods/exchange-of-goods.html' %}

			<!-- END WORKAREA -->
		</div>
		{% include 'advantage/advantage-text.html' %}
		{% include 'footer/global/footer.html' %}

</div>
<!-- /.wrapper -->

{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>