{% include 'head/head.html' %}

<body>

<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}
		<div>
			<!-- WORKAREA -->

			{% include 'slider/slider.html' %}
			{% include 'banner/banner.html' %}
			{% include 'popular-products/popular-products.html' %}
			{% include 'actual-news/actual-news.html' %}
			{% include 'popular-review/popular-review.html' %}
			{% include 'subscribe/subscribe.html' %}
			
			<!-- END WORKAREA -->
		</div>
		{% include 'advantage/advantage.html' %}
		{% include 'footer/global/footer.html' %}

</div>
<!-- /.wrapper -->

{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>