.banner-sale-offers-detail {
	height: 100%;
	position: relative;
	background: #ff8993 url(banner-sale-offers-bg.png) no-repeat;
	background-size: contain;
	background-position: right top;
	padding: 30px 43px 48px;
	color: #fff;
	font-family: $font-family-VagWorld;
	&__big-number {
		font-size: 204px;
		line-height: 1;
		font-weight: 700;
	}
	&__title {
		color: #fff;
		font-family: $font-family-VagWorld;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.05px;
	}
	@media(max-width: $breakpoint1100) {
		padding-bottom: 20px;
		&__big-number {
			font-size: 128px;
		}
		&__title {
			font-size: 25px;
		}
	}
	@media(max-width: $breakpoint768) {
		&__big-number {
			font-size: 80px;
		}
		&__title {
			font-size: 16px;
		}
	}
}