<div class="banner__frame banner-sale-offers-detail">
	<div class="banner-sale-offers-detail__big-number">40%</div>
	<h3 class="banner-sale-offers-detail__title">Скидка на все <br> автокресла</h3>
</div>