<div class="delivery content-wrap-page">
	<div class="container">
		<div class="content-wrap clearfix">
			<div class="content-right-block">
				<h4 class="content-right-block__title">Доставка</h4>
				<div class="content-right-block__small-title">В пределах МКАД — бесплатно</div>
				<div class="content-right-block__small-title">За пределы МКАД — 30 рублей\1 км</div>
				<div class="content-right-block__text delivery__pt">Техника доставляется ежедневно с 10.00 до 22.00. Сроки доставки зависят от Вашего месторасположения и от наличия продукции на складе.</div>
			</div>
			<div class="content-page-top">
				<h2 class="content-page-title">Доставка</h2>
				<i class="icon icon_fast-delivery content-page-title-icon"></i>
			</div>
			{% include 'content-links/content-links.html' %}
			<div class="content">
				<h3>При доставке техники:</h3>
				<p>Проверьте правильность заполнения гарантийного свидетельства. В нем должны быть указана дата продажи и проставлен штамп магазина. Если такая информация отсутствует, началом срока гарантии считается время изготовления прибора.</p>
				<p>Обратите внимание на отсутствие у товара механических повреждений и на наличие комплектующих.</p>
				<p>Технику должны устанавливать специалисты сервисного центра. Гарантия не распространяется на недостатки в работе прибора.</p>
				<h3>Москва</h3>
				<p>Гарантийное обслуживание на крупную и малую бытовую технику DeLonghi составляет 1 год. На кофемашины DeLonghi распространяется гарантия сроком 2 года и сервисное обслуживание, действующее в течение 3-х лет после окончания гарантии.</p>
				<h3>Москва</h3>
				<p>Гарантийное обслуживание на крупную и малую бытовую технику DeLonghi составляет 1 год. На кофемашины DeLonghi распространяется гарантия сроком 2 года и сервисное обслуживание, действующее в течение 3-х лет после окончания гарантии.</p>
				<br>
			</div>
		</div>
	</div>
</div>