<label class="popup-block__checkbox js-popup-block-checkbox">
	<input type="checkbox" class="popup-block__checkbox-input js-popup-block-checkbox-input">
	<span class="popup-block__checkbox-icon"></span>
	<span class="popup-block__checkbox-text">Заказывая обратный звонок, я принимаю условия <a href="#">пользовательского соглашения&nbsp;</a>о предоставлении персональных данных</span>
</label>