.telephone {
    &-wrap {
        display: flex;
    }
    margin-left: 21px;
    font-family: $font-family-VagWorld;
    font-size: 16px;
    font-weight: 700;
    &:first-child {
        margin-left: 0;
    }
    &__link {
        color: $balck-gray-color;
    }
    &__small-text {
        color: #a9a9a9;
        font-family: $font-family;
        font-size: 12px;
        font-weight: 400;
	}
	@media(max-width: $breakpoint940) {
		& {
			font-size: 12px;
			margin-left: 16px;
			&__small-text {
				font-size: 10px;
				line-height: 1.2;
			}
		}
	}
}