<div class="telephone-wrap">
    <div class="telephone">
        <a href="tel:+88007653516" class="telephone__link">8 (800) 765-35-16</a>
        <div class="telephone__small-text">Ежедневно с 9:00 до 20:00</div>
    </div>
    <div class="telephone">
        <a href="tel:+88007653516" class="telephone__link">7 (465) 654-43-90</a>
        <div class="telephone__small-text">Звоните, это же бесплатно</div>
    </div>
</div>