.social{

	&__item{
		display: inline-block;
		vertical-align: middle;
		height: 52px;
		width: 52px;
		margin-left: 6px;
		&:first-child {
			margin-left: 0;
		}
	}

	&__link{
		display: block;
		height: 100%;
		font-size: 0;
		background-repeat: no-repeat;
		background-size: contain;
		&:hover {
			opacity: 0.7;
		}

		&_vk{
			background-image: url('https://icongr.am/entypo/vk-with-circle.svg?size=52&color=627698');
		}

		&_fb{
			background-image: url('https://icongr.am/entypo/facebook-with-circle.svg?size=52&color=6677ad');
		}

		&_twitter{
			background-image: url('https://icongr.am/entypo/twitter-with-circle.svg?size=52&color=83c9ff');
		}
	}
	
	&_footer .social__item{
		display: inline-block;
		vertical-align: middle;
		height: 29px;
		width: 29px;
		margin-left: 6px;
		&:first-child {
			margin-left: 0;
		}
	}
	&_footer &__link{
		display: block;
		height: 100%;
		font-size: 0;
		background-repeat: no-repeat;
		background-size: contain;
		&:hover {
			opacity: 1;
		}
		
		&_vk{
			background-image: url('https://icongr.am/entypo/vk-with-circle.svg?size=29&color=c6c6c6');

			&:hover{
				background-image: url('https://icongr.am/entypo/vk-with-circle.svg?color=627698');
			}
		}

		&_fb{
			background-image: url('https://icongr.am/entypo/facebook-with-circle.svg?size=29&color=c6c6c6');

			&:hover{
				background-image: url('https://icongr.am/entypo/facebook-with-circle.svg?color=6677ad');
			}
		}

		&_twitter{
			background-image: url('https://icongr.am/entypo/twitter-with-circle.svg?size=29&color=c6c6c6');

			&:hover{
				background-image: url('https://icongr.am/entypo/twitter-with-circle.svg?color=83c9ff');
			}
		}

		&_google-plus{
			background-image: url('https://icongr.am/entypo/google+-with-circle.svg?size=29&color=c6c6c6');

			&:hover{
				background-image: url('https://icongr.am/entypo/google+-with-circle.svg?color=dd4b39');
			}
		}
		&_instagram{
			background-image: url('https://icongr.am/jam/instagram-circle.svg?size=29&color=c6c6c6');

			&:hover{
				background-image: url('https://icongr.am/jam/instagram-circle.svg?color=cd486b');
			}
		}
	}
	@media(max-width: $breakpoint900) {
		&__item {
			height: 40px;
			width: 41px;
			margin-left: 0;
		}
	}
}