<div class="social">
	<ul class="social__list">
		<li class="social__item">
			<a class="social__link social__link_twitter" href="#">Twitter</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link_vk" href="#">Vk</a>
		</li>
		<li class="social__item">
			<a class="social__link social__link_fb" href="#">Facebook</a>
		</li>
	</ul>
</div>