.compare-product {
	position: relative;
	cursor: grab;;
	flex-shrink: 0;
	display: flex;
	color: #3b3b3b;
	font-family: $font-family-VagWorld;
	padding: 15px 18px 22px;
	width: 233px;
	margin-right: 16px;
	border-radius: 16px;
	border: 5px solid #e6e9ea;
	&__title {
		display: block;
		color: inherit;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 25px;
	}
	&__status {
		margin-bottom: 12px;
		.product-status {
			line-height: 1;
			font-size: 12px;
		}
	}
	&__price {
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -1.6px;
		line-height: 1;
		span {
			letter-spacing: normal;
		}
	}
	&__img-wrap {
		width: 64px;
		height: 81px;
		flex-shrink: 0;
		img {
			width: 100%;
		}
	}
	&__right {
		flex-shrink: 0;
		text-align: right;
	}
	&__add-cart {
		display: none;
	}
	@media(max-width: $breakpoint1000) {
		& {
			margin-right: 7px;
		}
	}
	@media(max-width: $breakpoint500) {
		& {
			width: 46%;
			flex-direction: column;
			padding-left: 15px;
			padding-right: 15px;
		}
		&__right {
			order: -1;
			display: flex;
			justify-content: center;
		}
		&__delete {
			position: absolute;
			top: 14px;
			right: 12px;
		}
		&__title {
			font-size: 13px;
			margin-bottom: 15px;
		}
		&__img-wrap {
			margin-bottom: 14px;
		}
		&__add-cart {
			cursor: pointer;
			padding: 0;
			margin: 0;
			appearance: none;
			border: none;
			outline: none;
			display: block;
			width: calc(100% + 10px);
			position: absolute;
			left: -5px;
			bottom: -55px;
			height: 39px;
			line-height: 39px;
			border-radius: 20px;
			background-color: #ffae55;
			color: #fff;
			font-family: $font-family-VagWorld;
			font-size: 15px;
			font-weight: 700;
			&:focus {
				outline: none;
			}
		}
	}
}