<div class="compare-product">
	<div class="compare-product__content">
		<a href="#" class="compare-product__title">Cybex Aton 4 Autumn Gold</a>
		<div class="compare-product__status">
			{% include 'product-status/product-status-active.html' %}
		</div>
		<div class="compare-product__price"><span>45.090</span><span>руб</span></div>
	</div>
	<div class="compare-product__right">
		<i class="icon icon_delete compare-product__delete"></i>
		<div class="compare-product__img-wrap">
			<img src="{{src}}compare-slider-img.png" alt="">
		</div>
	</div>
	<button class="compare-product__add-cart js-popup-added-cart" data-ajax data-url='ajax/popup-added-cart.html'>В корзину</button>
</div>