body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	color: $color;
	background-color: #e6e9ea;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

input, textarea {
	color: $gray-color;
}

a {
	color: $colorLink;
}

a:hover {
	text-decoration: underline;
}