.container{
	max-width: 1211px;
	padding-left: 38px;
	padding-right: 38px;
	margin-right:  auto;
	margin-left: auto;
	@media(max-width: $breakpoint580) {
		& {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.tags__img {
	@media(max-width: $breakpoint768) {
		& {
			margin-left: -38px;
			margin-right: -38px;
		}
	}
	@media(max-width: $breakpoint580) {
		& {
			margin-left: -15px;
			margin-right: -15px;	
		}
	}
}

.content-wrap {
	@media(max-width: $breakpoint768) {
		// стиль для отмены значения container
		&-page {
			.container {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.content-links, .content-page-top, .content, .content-right-block {
			padding-left: 38px;
			padding-right: 38px;
		}
	}
	@media(max-width: $breakpoint580) {
		.content-links, .content-page-top, .content, .content-right-block {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.content {
	@media(max-width: $breakpoint768) {
		&-img, &__banner-img {
			width: calc(100% + 76px) !important;
			max-width: none !important;
			margin-left: -38px;
			margin-right: -38px;
			border-radius: 0;
		}
		&__citys {
			margin-left: 38px;
			margin-right: 38px;
		}
	}
	@media(max-width: $breakpoint580) {
		&-img, &__banner-img {
			width: calc(100% + 30px) !important;
			margin-left: -15px;
			margin-right: -15px;
		}
		&__citys {
			margin-left: 15px;
			margin-right: 15px;
		}
	}
}

.menu-category {
	@media(max-width: $breakpoint730) {
		& .container {
			padding: 0;
		}
		&__name, &__sub-list, &__top-text { // padding контейнера который обнулили
			padding-left: 38px;
			padding-right: 38px;
		}
	}
	// чтобы отступы были на равне padding класса container
	@media(max-width: $breakpoint580) {
		&__name, &__sub-list, &__top-text { // padding контейнера который обнулили
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}