@font-face {
	font-family: PtSans;
	src: url("fonts/PtSans/PTSans-Regular.otf");
	font-weight: 400;
}

@font-face {
	font-family: PtSans;
	src: url("fonts/PtSans/PTSans-Bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: VagWorld;
	src: url("fonts/VagWorld/VAGWorld.ttf");
	font-weight: 700;
}

@font-face {
	font-family: AFuturaRound;
	src: url("fonts/AFuturaRound/AFuturaRoundBold.otf");
	font-weight: 700;
}