$font-family: 'PtSans', sans-serif;
$font-family-VagWorld: 'VagWorld', sans-serif;
$font-size: 16px;
$line-height: 24px;
$color: #3d3d3d;
$font-weight: 400;

$colorLink: #939393;
$colorPlaceholder: #babbbd;

$bluePageBg: #4cac9e;

$breakpoint1220: 1220px;
$breakpoint1150: 1150px;
$breakpoint1120: 1120px;
$breakpoint1100: 1100px;
$breakpoint1050: 1050px;
$breakpoint1000: 1000px;
$breakpoint940: 940px;
$breakpoint920: 920px;
$breakpoint900: 900px;
$breakpoint850: 850px;
$breakpoint830: 830px;
$breakpoint800: 800px;
$breakpoint768: 768px;
$breakpoint760: 760px;
$breakpoint750: 750px;
$breakpoint730: 730px;
$breakpoint700: 700px;
$breakpoint680: 680px;
$breakpoint640: 640px;
$breakpoint600: 600px;
$breakpoint580: 580px;
$breakpoint500: 500px;
$breakpoint450: 450px;
$breakpoint420: 420px;
$breakpoint400: 400px;
$breakpoint380: 380px;