.personal-data {
	& .content-right-block {
		background: url(personal-data-bg.png) bottom right, url(blue-bg-icons.png) $bluePageBg;
		background-repeat: no-repeat;
	}
	&__top {
		margin-bottom: 19px;
	}
	&__title {
		position: relative;
		margin-bottom: 0 !important;
	}
	@media (max-width: $breakpoint800) {		
		&__top {
			display: flex;
			align-items: center;
		}
		&__icon {
			flex-shrink: 0;
			width: 100%;
		}
	}
	@media (max-width: $breakpoint768) {
		&__icon {
			width: 28px;
		}
	}
	@media (max-width: $breakpoint380) {
		&__top {
			align-items: flex-start;
		}
		&__icon {
			width: 100%;
		}
	}
}