<div class="personal-data content-wrap-page">
	<div class="container">
		<div class="content-wrap clearfix">
			<div class="content-right-block">
				<h4 class="content-right-block__title">Защита данных</h4>
				<div class="content-right-block__text">Наши менеджеры ответят на любые вопросы и помогут подобрать нужный товар, оформить доставку и подключение.</div>
				<div class="content-right-block__text">Наши менеджеры ответят на любые вопросы и помогут подобрать нужный</div>
			</div>
			<div class="content-page-top personal-data__top">
				<h2 class="content-page-title personal-data__title">Персональные данные</h2>
				<i class="icon icon_user content-page-title-icon  personal-data__icon"></i>
			</div>
			{% include 'content-links/content-links.html' %}
			<div class="content">
				<p>Гарантийное обслуживание на крупную и малую бытовую технику DeLonghi составляет 1 год. На кофемашины DeLonghi распространяется гарантия сроком 2 года и сервисное обслуживание, действующее в течение 3-х лет после окончания гарантии.</p>
				<h3>А  что тут писать?</h3>
				<p>Гарантийное обслуживание на крупную и малую бытовую технику DeLonghi составляет 1 год. На кофемашины DeLonghi распространяется гарантия сроком 2 года и сервисное обслуживание, действующее в течение 3-х лет после окончания гарантии.</p>
				<h3>Мы вас защитим</h3>
				<p>Раньше столица региона Барбаджа – Оллолаи – оставалась самым нетронутым и аутентичным местом Сардинии. Но сейчас большинство местных жителей переезжают в более крупные города, из-за чего большинство каменных домов здесь давно пустуют и постепенно разрушаются.</p>
				<p>Для выживания местные пастухи продолжают изготавливать изысканный овечий сыр Casu Fiore Sardo, который известен в этом районе, а ремесленники все еще плетут корзины. Власти города связались с бывшими домовладельцами - пастухами, фермерами и ремесленниками – и попросили их подписать соглашение о передаче местных зданий.родское ведомство.</p>
				<br>
			</div>
		</div>
	</div>
</div>