.chat-icon {
    &::before {
        content: '';
        display: inline-block;
        background: url("chat-icon.png") no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 9px;
    }
}