<div class="ratings ratings_output ratings_green">
	<div class="ratings__section">
		<div class="ratings__start"></div>
		<div class="ratings__click" style="width: 80%;"></div>
	</div>
</div>
<!-- end ratings -->