.catalog {
	padding: 13px 0 0;
	background-color: #e6e9ea;
	&__wrap-tags {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 17px;
		margin-bottom: 17px;
	}
	&__tags {
		overflow: hidden;
		width: 73%;
		&-wrap {
			display: flex;
		}
		&-buttons {
			margin-right: auto;
			margin-left: 10px;
			display: flex;
			align-items: center;
			& .swiper-button-disabled {
				border-color:#d6dbdd;
				cursor: default;
			}
		}
		&-next, &-prev {
			cursor: pointer;
			height: 11px;
			width: 11px;
			border-bottom: 4px solid #fc9c4a;
		}
		&-prev {
			transform: rotate(45deg);
			border-left: 4px solid #fc9c4a;
		}
		&-next {
			margin-left: 2px;
			transform: rotate(-45deg);
			border-right: 4px solid #fc9c4a;
		}
	}
	&__tag {
		display: flex;
		flex-shrink: 0;
	}
	&__all-tags {
		margin: auto;
		&-link {
			border-radius: 16px;
			border: 3px solid #d6dbdd;
			padding: 6px 17px;
			display: inline-block;
			color: #92989a;
			font-size: 12px;
			line-height: 1.2;
			font-weight: 700;
		}
	}
	&-products {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
		&__item {
			width: calc(25% - 16px);
			margin: 0 8px 16px;
			&_size2 {
				width: calc(50% - 16px);
			}
		}
		&__line {
			width: 100%; // ширина линии 76%
			padding: 10px 12% 22px;
		}
	}
	
	&__load-more {
		padding: 17px 25% 0;
		width: 100%; // ширина кнопки 50%
		margin-bottom: 54px;
	}
	&__wrap-bottom {
		background: #fff;
		padding-top: 70px;
	}
	&__review-slider {
		overflow: hidden;
		padding-bottom: 32px;
		&-flex {
			display: flex;
		}
		&-wrap {
			overflow-x: hidden;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		position: relative;
	}
	& .banner__opacity-text {
		display: block;
	}
	@media(max-width: $breakpoint1150) {
		&-products {
			margin: 0 -3.5px;
			&__item {
				width: calc(33.33% - 7px);
				margin: 0 3.5px 7px;
				&_size2 {
					width: calc(66.66% - 7px);
				}
			}
		}
		&__all-tags {
			display: none;
		}
		&__select {
			display: none;
		}
	}
	@media(max-width: $breakpoint900) {
		& {
			padding-top: 0;
		}
		&__review-slider-wrap {
			display: none;
		}
	}
	@media(max-width: $breakpoint800) {
		&__tags {
			width: 100%;
			// iscroll
			-ms-touch-action: none;

			/* Prevent the callout on tap-hold and text selection */
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			/* Prevent text resize on orientation change, useful for web-apps */
			-webkit-text-size-adjust: none;
			-moz-text-size-adjust: none;
			-ms-text-size-adjust: none;
			-o-text-size-adjust: none;
			text-size-adjust: none;
			&-wrap {
				flex-wrap: wrap;
				&.swiper-wrapper {
					width: auto;
				}
				&.js-catalog-tags-wrap {
					margin-right: -11px;
				}

				//iscroll
				/* Prevent elements to be highlighted on tap */
				-webkit-tap-highlight-color: rgba(0,0,0,0);

				/* Put the scroller into the HW Compositing layer right from the start */
				-webkit-transform: translateZ(0);
				-moz-transform: translateZ(0);
				-ms-transform: translateZ(0);
				-o-transform: translateZ(0);
				transform: translateZ(0);
			}
			&-buttons {
				display: none;
			}
		}
		&__wrap-tags {
			margin-bottom: 6px;
		}
		&__tag {
			margin-right: 11px;
			margin-bottom: 11px;

			// iscroll
			-ms-touch-action: none;

			/* Prevent the callout on tap-hold and text selection */
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		&__load-more {
			padding: 12px 15% 0;
		}
	}
	@media(max-width: $breakpoint768) {
		&__load-more {
			margin-bottom: 57px;
		}
		&__wrap-bottom {
			padding-top: 54px;
		}
	}
	@media(max-width: $breakpoint760) {
		&-products {
			&__item {
				width: calc(50% - 7px);
				&_size2 {
					width: calc(100% - 7px);
				}
			}
		}
	}
	@media(max-width: $breakpoint600) {
		&__review-slider-wrap {
			display: block;
			padding-bottom: 0;
			& .swiper-scrollbar {
				display: none;
			}
			& .swiper-slide {
				width: 90%;
			}
		}
	}
	@media(max-width: $breakpoint420) {
		&-products {
			margin: 0;
			&__item {
				width: 100%;
				margin: 0 0 12px;
				&_size2 {
					width: 100%;
				}
			}
		}
		&__load-more {
			padding-left: 0;
			padding-right: 0;
		}
	}
}