{% import "tag/tag.html" as tag %}
<div class="catalog">
	<div class="catalog__category">
		{% include 'menu/menu-category/menu-category.html' %}
	</div>
	<div class="container">
		<div class="catalog__wrap-tags">
			<div class="catalog__tags js-catalog-tags">
				<div class="catalog__tags-wrap swiper-wrapper js-catalog-tags-wrap">
					<div class="catalog__tag js-catalog-tag">
						{{ tag.tag("автокресла", true) }}
					</div>
					<div class="catalog__tag js-catalog-tag">
						{{ tag.tag("стульчики для кормления") }}
					</div>
					<div class="catalog__tag js-catalog-tag">
						{{ tag.tag("коляски") }}
					</div>
					<div class="catalog__tag js-catalog-tag">
						{{ tag.tag("стульчики для кормления") }}
					</div>
					<div class="catalog__tag js-catalog-tag">
						{{ tag.tag("стульчики для кормления") }}
					</div>
					<div class="catalog__tag js-catalog-tag">
						{{ tag.tag("коляски") }}
					</div>
				</div>
			</div>
			<div class="catalog__tags-buttons">
				<div class="catalog__tags-prev js-catalog-tags-prev"></div>
				<div class="catalog__tags-next js-catalog-tags-next"></div>
			</div>
			<div class="catalog__all-tags">
				<a href="#" class="catalog__all-tags-link">Все теги</a>
			</div>
			<div class="catalog__select">
				{% include 'select/select.html' %}
			</div>
		</div>
		<div class="catalog-products">
			<div class="catalog-products__item">
				{% include 'card/card-slider.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card-slider.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card-slider.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item catalog-products__item_size2">
				{% include 'banner/banner-review-catalog/banner-review-catalog-without-rating.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item catalog-products__item_size2">
				{% include 'banner/banner-review-catalog/banner-review-catalog.html' %}
			</div>
			<div class="catalog-products__item catalog-products__item_size2">
				{% import "banner/banner-article/banner-article.html" as banner %}
				{{ banner.bannerArticle("banner-article-bg5.png") }}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__line">
				{% include 'line/line.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
			<div class="catalog-products__item">
				{% include 'card/card.html' %}
			</div>
		</div>
		<div class="catalog__load-more">
			{% include 'load-more/load-more.html' %}
		</div>
	</div>
	<div class="catalog__wrap-bottom">
		<div class="content">
			<div class="container">
				<h2>Педагогическая классификация детских игрушек</h2>
				<p>Воссоздавая реальные и воображаемые предметы, образы, игрушка служит целям умственного, нравственного, эстетического и физического воспитания. Игрушка помогает ребёнку познавать окружающий мир, приучает его к целенаправленной, осмысленной деятельности.</p>
				<div class="content__columns">
					<div class="content__column-img">
						<img src="{{src}}catalog-article-img.png" alt="">
					</div>
					<div class="content__column-img">
						<img src="{{src}}catalog-article-img2.png" alt="">
					</div>
				</div>
				<h2>Детские удерживающие автокресла</h2>
				<p>Воссоздавая реальные и воображаемые предметы, образы, игрушка служит целям умственного, нравственного, эстетического и физического воспитания. Игрушка помогает ребёнку познавать окружающий мир, приучает его к целенаправленной, осмысленной деятельности, способствует развитию мышления, памяти, речи, эмоций.</p>
				<p>Игрушка широко используется в учебно-воспитательной работе с детьми, в частности для развития детского, технического и художественного творчества (см. детские игры, детское творчество). Типы, характер, содержание и оформление игрушки определяются конкретными воспитательными задачами применительно к возрасту детей с учётом их развития и интересов. Как произведения декоративно-прикладного искусства игрушки, особенно национально-традиционные, используются в качестве декоративных элементов в современном интерьере.</p>
			</div>
		</div>
		<div class="catalog__review-slider-wrap">
			<div class="container">
				<div class="catalog__review-slider">
					<div class="swiper-wrapper catalog__review-slider-flex">
						<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
						<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
						<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
						<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
						<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
						<div class="swiper-slide">{% include 'banner/banner-review-catalog/banner-review-catalog-without-person.html' %}</div>
					</div>
					{% include 'swiper-scrollbar/swiper-scrollbar.html' %}
				</div>
			</div>
		</div>
	</div>
</div>