@mixin bg-label() {
    color: #fff;
    font-family: $font-family;
    line-height: 1;
    padding: 8px 22px 10px;
    border-radius: 15px;
    display: inline-block;
}

.bg-label {
    &-blue {
        @include bg-label();
        font-size: 10px;
        font-weight: 400;
		background-color: #9e91c9;
		text-transform: uppercase;
		@media(max-width: $breakpoint1000) {
			& {
				font-size: 8px;
				padding: 7px 17px 9px;
			}
		}
    }
    &-hit {
        @include bg-label();
        font-size: 13px;
        font-weight: 400;
		background-color: #ea3838;
	}
	&-new {
        @include bg-label();
        font-size: 13px;
        font-weight: 400;
        background-color: #8ab95f;
	}
	&-free-shipping {
        @include bg-label();
        font-size: 13px;
		font-weight: 400;
		background-color: #4cac9e;
    }
}