// стили для главного заголовка страницы
.content-page-title {
	color: $gray-color;
	font-family: $font-family-VagWorld;
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.36px;
	margin-bottom: 19px;
	display: inline-block;
	&-icon {
		margin-left: 10px;
	}
	@media (max-width: $breakpoint1150) {
		& {
			font-size: 30px;
		}
	}
	@media (max-width: $breakpoint1000) {
		& {
			font-size: 24px;
		}
	}
	@media (max-width: $breakpoint768) {
		& {
			margin-bottom: 15px;
		}
	}
}