// стили правого блока на контентнах страницах
.content-right-block {
	float: right;
	width: 460px;
	margin: 0 0 15px 30px;
	padding: 40px;
	min-height: 371px;
	border-radius: 16px;
	color: #fff;
	font-family: $font-family-VagWorld;
	&_form {
		background-color: #e7eaeb;
	}
	&__title {
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 0.26px;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__address-title {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0.16px;
		margin-bottom: 5px;
	}
	&__small-title {
		font-size: 14px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0.14px;
	}
	&__text, &__small-text {
		font-family: $font-family;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
	&__text {
		width: 180px; // чтобы текст не нализал на картинку
		margin-bottom: 16px;
	}
	&__small-text {
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 24px;
		}
	}
	&__link {
		color: inherit;
		display: inline-block;
		color: inherit;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0.16px;
	}
	&__phone {
		color: inherit;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.16px;
		line-height: 24px;
	}
	@media (max-width: $breakpoint1100) {
		& {
			padding: 25px;
			width: 400px;
			min-height: 256px;
			&_form {
				padding: 25px 30px 30px;
			}
		}
		&__title {
			font-size: 19px;
		}
		&__link {
			line-height: 1;
			font-size: 13px;
		}
		&__small-text {
			line-height: 1;
			margin-bottom: 6px;
		}
		&__phone {
			font-size: 13px;
			line-height: 1;
		}
	}
	@media (max-width: $breakpoint1000) {
		& {
			width: 360px;
			background-size: 147px 180px, auto !important;
		}
	}
	@media (max-width: $breakpoint900) {
		& {
			width: 317px;
			margin-left: 15px;
			background-size: 147px 180px, auto !important;
			&_form {
				width: 332px;
			}
		}
		&__small-text {
			&:last-of-type {
				margin-bottom: 14px;
			}
		}
		&__text {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: $breakpoint768) {
		& {
			border-radius: 0;
			float: none;
			margin-left: 0;
			width: 100%;
			min-height: 200px;
			background-size: 147px 180px, cover !important;
		}
		&__text {
			width: 70%;
		}
	}
	@media (max-width: $breakpoint400) {
		&__title {
			font-size: 21px;
			margin-bottom: 6px;
		}
		&__address-title {
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			letter-spacing: 0.16px;
			margin-bottom: 5px;
		}
		&__small-title {
			font-size: 14px;
			font-weight: 700;
			line-height: 22px;
			letter-spacing: 0.14px;
			&:last-of-type {
				margin-bottom: 15px;
			}
		}
		&__text, &__small-text, &__phone {
			font-size: 11px;
		}
		&__text {
			margin-bottom: 10px;
		}
		&__small-text {
			margin-bottom: 10px;
			&:last-of-type {
				margin-bottom: 10px;
			}
		}
		&__link {
			color: inherit;
			display: inline-block;
			color: inherit;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			letter-spacing: 0.16px;
		}
		&__phone, &__phone-wrap {
			line-height: 1;
		}
	}
}
// content вправом блоке для страницы help.html
.content-question-answer-block {
	color: #fff;
	font-family: $font-family-VagWorld;
	margin-bottom: 30px;
	&:last-of-type {
		margin-bottom: 40px;
	}
	&__question {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0.16px;
		margin-bottom: 5px;
	}
	&__answer {
		opacity: 0.8;
		color: #fff;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;	
	}
}
// cleafix
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
// style for acordions
.content-accordions {
	&__item {
		padding-left: 40px;
		position: relative;
		&::before {
			position: absolute;
			left: 0px;
			top: -2px;
			content: '?';
			width: 28px;
			height: 28px;
			line-height: 28px;
			text-align: center;
			border-radius: 50%;
			background-color: #cbced1;
			color: #ffffff;
			font-family: $font-family-VagWorld;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.16px;
		}
		&_active:before {
			background-color: #4cac9e;
		}
		margin-bottom: 35px;
	}
	&__title {
		cursor: pointer;
		color: #acafb1;
		font-family: $font-family-VagWorld;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0.18px;
	}
	&__text {
		color: lighten($gray-color, 10%);
		font-family: $font-family;
		font-size: 16px;
		font-weight: 400;
		line-height: 31px;
		display: none;
	}
	&__item_active &__title {
		color: #4cac9e;
		margin-bottom: 18px;
	}
}

.content {
	width: 100%;
	padding: 1px 0; // margin-colapse
	color: #3b3b3b;
	font-family: $font-family;
	&-img {
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
	}
	& {
		h1, h2, h3, h4, h5, h6 {
			font-family: $font-family-VagWorld;
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.24px;
			margin-bottom: 15px;
		}
		h3 {
			color: #45484a;
			font-size: 22px;
			letter-spacing: 0.22px;
			line-height: 32px;
			margin-bottom: 21px;
		}
		blockquote {
			position: relative;
			padding: 18px 0 18px 90px;
			color: #9d90c8;
			font-family: $font-family;
			font-size: 24px;
			font-weight: 700;
			font-style: italic;
			line-height: 36px;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url("blockquote-icon.png") no-repeat;
				background-size: 116px 93px;
			}
			@media (max-width: $breakpoint850) {
				& {
					font-size: 21px;
					padding-left: 60px;
				}
			}
		}
		img {
			max-width: 100%;
		}
		p {
			font-size: 18px;
			line-height: 31px;
		}
		p, img {
			margin-bottom: 30px;
		}
		ol {
			counter-reset: item;
			margin-left: 0;
			padding-left: 0;
			li {
				display: flex;
				margin-bottom: 12px;
			}
			li::before {
				flex-shrink: 0;
				color: #fff;
				margin-right: 12px;
				border-radius: 50%; 
				display: inline-block;
				content: counter(item);
				counter-increment: item;
				width: 28px;
				height: 28px;
				line-height: 28px;
				text-align: center;
				background-color: #4cac9e;
			}
		}
		ul li {
			margin-bottom: 12px;
			line-height: 20px;
		}
	}
	&__button {
		cursor: pointer;
		display: inline-block;
		border-radius: 20px;
		padding: 8px 18px;
		font-family: $font-family;
		font-size: 12px;
		font-weight: 700;
		color: #a5abad;
		background-color: #e6e9ea;
		&_active {
			color: #fff;
			background-color: #89b85f;
		}
	}
	&__table {
		display: table;
		font-family: $font-family;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 30px;
		&-row {
			display: table-row;
		}
		&-cell {
			display: table-cell;
			&:last-child {
				padding-left: 30px;
				font-weight: 700;
				line-height: 32px;
			}
		}
	}
	&__banners {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__banners-img {
		& .content__banner:last-child {
			width: 54%;
		}
	}
	&__banner-img {
		width: 44%;
		border-radius: 16px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__banner {
		width: 49%;
		.banner__frame {
			min-height: 371px;
		}
		.banner__opacity-text {
			display: block;
		}
	}
	&__columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		& > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
			width: 100%;
			margin-bottom: 16px;
		}
		ol {
			margin-right: 10px;
		}
	}
	&__characteristic {
		display: flex;
		color: #3d3d3d;
		font-family: $font-family;
		font-size: 16px;
		font-weight: 400;
		line-height: 23px;
		margin-bottom: 16px;
		&-type {
			flex-grow: 1;
			display: flex;
			&::after {
				flex-grow: 1;
				content: '';
				border-bottom: 3px dotted #ebeeef;
				margin-bottom: 5px;
			}
		}
	}
	&__file {
		width: 305px;
		display: inline-block;
		padding: 29px 58px 32px 87px;
		background: url("file-icon.png") no-repeat;
		background-position: 35px 50%;
		border-radius: 16px;
		background-color: #eceff0;
		&-name {
			color: $gray-color;
			font-family: $font-family-VagWorld;
			font-size: 12px;
			font-weight: 700;
			line-height: 16px;
			letter-spacing: 0.12px;
			display: block;
		}
		&-size {
			color: #b5babc;
			font-family: "AFuturaRound";
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			display: block;
		}
	}
	&__citys {
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		margin-bottom: 41px;
	}
	&__city {
		flex-shrink: 0;
		width: 217px;
		margin-right: 50px;
		&:last-of-type {
			margin-right: 0;
		}
		&-button {
			cursor: pointer;
			appearance: none;
			border: none;
			outline: none;
			margin-bottom: 25px;
			padding: 16px 35px;
			border-radius: 26px;
			background-color: #e6e9ea;
			color: #a5abad;
			font-family: $font-family-VagWorld;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.18px;
			&_active {
				color: #fff;
				background-color: #89b85f;
			}
			&:focus {
				outline: none
			}
		}
		&-text {
			color: #45484a;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			a {
				color: inherit;
			}
		}
	}
	&__column, &__column-img {
		width: 49%;
		margin-bottom: 47px;
		& img {
			margin-bottom: 0;
		}
	}
	&__column {
		width: 47%;
		&-list-title {
			margin-bottom: 10px;
		}
		&-img {
			& img {
				max-width: 100%;
			}
		}
	}
	@media (max-width: $breakpoint1000) {
		&__table {
			display: block;
			&-row {
				display: block;
				margin-bottom: 10px;
			}
			&-cell {
				display: block;
				&:last-child {
					padding-left: 0;
				}
			}
		}
	}
	@media(max-width: $breakpoint940) {
		& h1, h2, h4, h5, h6 {
			font-size: 20px;
		}
		&__column {
			width: 100%;
			margin-bottom: 30px;
			&_characteristic {
				width: 47%;
			}
		}
		&__banners {
			flex-wrap: wrap;
		}
		&__banner {
			width: 43%;
			&:last-child {
				width: 56%;
				// order: -1;
			}
			& .banner__frame {
				min-height: 306px;
			}
		}
	}
	&__advantage {
		display: none;
	}
	@media(max-width: $breakpoint768) {
		& h3 {
			font-size: 17px;
			line-height: 24px;
			margin-bottom: 10px;
		}
		&__column {
			margin-bottom: 16px;
			&_characteristic {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		&__banner {
			width: 100%;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
				width: 100%;
				// order: 1;
			}
		}
		&__banners-img, &-img {
			border-radius: 0;
		}
		&__banners-img {
			& .content__banner:last-child {
				width: 100%;
			}
		}
		&__banner-img {
			width: 100%;
			margin-bottom: 14px;
		}
	}
	@media(max-width: $breakpoint700) {
		&__advantage {
			display: block;
		}
	}
	@media(max-width: $breakpoint600) {
		&__column-img {
			width: 100%;
		}
	}
	@media(max-width: $breakpoint400) {
		&__file {
			width: 100%;
		}
	}
}