// стили для лайоута страницы
.content-wrap {
	background-color: #fff;
	border-radius: 16px;
	padding: 48px 50px 0;
	margin-bottom: 120px;
	@media (max-width: $breakpoint1000) {
		& {
			padding: 30px 30px 10px;
			margin-bottom: 87px;
		}
	}
	@media (max-width: $breakpoint768) {
		& {
			border-radius: 0;
			padding-left: 0;
			padding-right: 0;
			display: flex;
			flex-wrap: wrap;
			overflow: hidden;
			margin-bottom: 0;
			padding-bottom: 0;
			& .content-page-top, & .content-links {
				order: -1;
			}
		}
	}
}