.gender-input {
	display: none;
	&-all {
		cursor: pointer;
		& label:before, & label:after {
			content: '';
			display: inline-block;
			width: 51px;
			height: 47px;
			background-size: cover;
		}
		& label:before {
			background: url("menu-category-for-all.png") no-repeat;
		}
		& label:after {
			display: none;
			background: url("menu-category-for-all-active.png") no-repeat;
		}
		& .gender-input:checked + label:before {
			display: none;
		}
		& .gender-input:checked + label:after {
			display: inline-block;
		}
	}
	&-boy {
		cursor: pointer;
		& label:before, & label:after {
			content: '';
			display: inline-block;
			width: 50px;
			height: 47px;
			background-size: cover;
		}
		& label:before {
			background: url("menu-category-boy.png") no-repeat;
		}
		& label:after {
			display: none;
			background: url("menu-category-boy-active.png") no-repeat;
		}
		& .gender-input:checked + label:before {
			display: none;
		}
		& .gender-input:checked + label:after {
			display: inline-block;
		}
	}
	&-girl {
		cursor: pointer;
		& label:before, & label:after {
			content: '';
			display: inline-block;
			width: 49px;
			height: 52px;
			background-size: cover;
		}
		& label:before {
			background: url("menu-category-girl.png") no-repeat;
		}
		& label:after {
			display: none;
			background: url("menu-category-girl-active.png") no-repeat;
		}
		& .gender-input:checked + label:after {
			display: inline-block;
		}
		& .gender-input:checked + label:before {
			display: none;
		}
	}
}