.icon {
	display: inline-block;

	&_heart {
		background: url(https://icongr.am/fontawesome/heart.svg?size=18&color=d1d1d1) no-repeat;
		background-size: cover;
		&, &-active {
			height: 16px;
			width: 18px;
		}
		&::before { // заранеее загружаем картинку
			content: '';
			width: 0;
			height: 0;
			background: url(https://icongr.am/fontawesome/heart.svg?size=18&color=ea3a3a) no-repeat;
		}
		&:hover, &-active {
			background: url(https://icongr.am/fontawesome/heart.svg?size=18&color=ea3a3a) no-repeat;
		}
	}

	&_coments-like {
		& {
			background: url(https://icongr.am/fontawesome/heart.svg?size=21&color=dddddd);
		}
		&, &-active, &:hover {
			cursor: pointer;
			background-size: 21px 19px;
			height: 19px;
			width: 21px;
		}
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background: url(https://icongr.am/fontawesome/heart.svg?size=21&color=ea3838);
		}
		&-active, &:hover {
			background: url(https://icongr.am/fontawesome/heart.svg?size=21&color=ea3838);
		}
	}

	&_coments-reply {
		& {
			background: url(coments-reply-icon.png) no-repeat;
		}
		&, &-active, &:hover {
			cursor: pointer;
			background-size: cover;
			height: 17px;
			width: 24px;
		}
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background: url(coments-reply-icon-active.png);
		}
		&-active, &:hover {
			background: url(coments-reply-icon-active.png) no-repeat;
		}
	}

	&_coments-reply-mobile {
		& {
			background: url(coments-reply-icon.png) no-repeat;
		}
		&, &-active, &:hover {
			cursor: pointer;
			background-size: cover;
			height: 17px;
			width: 24px;
		}
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background: url(coments-reply-icon-mobile-active.png);
		}
		&-active, &:hover {
			background: url(coments-reply-icon-mobile-active.png) no-repeat;
		}
	}

	&_statistical-chart {
		background: url(statistical-chart.png) no-repeat;
		&, &-active {
			height: 20px;   
			width: 18px;
			background-size: cover;
		}
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background: url(statistical-chart-active.png);
		}
		&-active, &:hover {
			background: url(statistical-chart-active.png) no-repeat;
		}
	}
	&_statistical-chart-desktop {
		background: url(statistical-chart-destkop.png) no-repeat;
		&, &-active {
			height: 15px;   
			width: 17px;
		}
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background: url(statistical-chart-destkop-active.png);
		}
		&-active, &:hover {
			background: url(statistical-chart-destkop-active.png) no-repeat;
		}
	}

	&_refresh {
		background: url(https://icongr.am/fontawesome/refresh.svg?size=32&color=4cac9e) no-repeat;
		width: 32px;
		height: 32px;
		vertical-align: text-bottom;
	}

	&_fast-delivery {
		background: url(fast-delivery-icon.png) no-repeat;
		width: 49px;
		height: 32px;
		vertical-align: text-bottom;
	}

	&_phone {
		background: url(https://icongr.am/material/phone.svg?size=31&color=4cac9e) no-repeat;
		width: 31px;
		height: 31px;
		vertical-align: text-bottom;
	}

	&_user {
		background: url(user-icon.png) no-repeat;
		width: 28px;
		height: 31px;
		vertical-align: text-bottom;
	}

	&_medal {
		background: url(medal-icon.png) no-repeat;
		width: 31px;
		height: 32px;
		vertical-align: text-bottom;
	}

	&_shop-tag {
		background: url(https://icongr.am/material/tag.svg?size=30&color=4cac9e) no-repeat;
		width: 30px;
		height: 30px;
		vertical-align: text-bottom;
	}

	&_question {
		background: url(question-icon.png) no-repeat;
		width: 20px;
		height: 31px;
		vertical-align: text-bottom;
	}

	&_home {
		background: url(home-icon.png) no-repeat;
		width: 31px;
		height: 29px;
		vertical-align: text-bottom;
	}

	&_fire {
		background: url(fire-icon.png) no-repeat; 
		height: 21px;   
		width: 16px;
	}

	&_delete {
		cursor: pointer;
		width: 19px;
		height: 19px;
		background: url("https://icongr.am/material/close-circle-outline.svg?size=19&color=e6e9ea") no-repeat;
		background-size: cover;
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background-image: url(https://icongr.am/material/close-circle-outline.svg?size=19&color=ea3838);
		}
		&:hover {
			background-image: url(https://icongr.am/material/close-circle-outline.svg?size=19&color=ea3838);
		}
	}

	&_close {
		cursor: pointer;
		width: 28px;
		height: 28px;
		background: url("https://icongr.am/material/close-circle-outline.svg?size=28&color=e6e9ea") no-repeat;
		background-size: cover;
		&::before { // заранее загружаем картинку
			content: '';
			height: 0;
			width: 0;
			visibility: hidden;
			background-image: url(https://icongr.am/material/close-circle-outline.svg?size=28&color=ea3838);
		}
		&:hover {
			background-image: url(https://icongr.am/material/close-circle-outline.svg?size=28&color=ea3838);
		}
	}
}
