.info-text {
	display: flex;
	align-items: center;
	color: #3b3b3b;
	font-family: $font-family;
	font-size: 14px;
	font-weight: 400;
	&::before {
		content: '';
		flex-shrink: 0;
		width: 31px;
		height: 31px;
		background: url("info-icon.png") no-repeat;
		background-size: cover;
		margin-right: 13px;
	}
	@media(max-width: $breakpoint900) {
		& {
			font-size: 13px;
		}
	}
}