@mixin inputPlaceholder() {
	color: $colorPlaceholder;
	font-family: $font-family;
	font-size: 16px;
	font-weight: 700;
}
.input {
	font-family: $font-family;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding-right: 35px;
	&, &-textarea {
		width: 100%;
		position: relative;
		appearance: none;
		outline: none;
		font-family: $font-family;
		width: 100%;
		height: 47px;
		border-radius: 24px;
		border: 4px solid #ebeeef;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		padding-left: 24px;
	}
	&-textarea {
		height: 175px;
		border-radius: 16px;
		padding: 10px;
		resize: none;
	}
	&-wrap {
		margin-bottom: 25px;
		&:last-of-type {
			margin-bottom: 0;
		}
		&::before { // заранее подгружаем картинку
			content: '';
			display: none;
			background: url("https://icongr.am/material/check-circle.svg?size=29&color=8ab95f") no-repeat;
		}
	}
	&:valid {
		background: url("https://icongr.am/material/check-circle.svg?size=29&color=8ab95f") no-repeat;
	}
	&:invalid  {
		background: url("https://icongr.am/material/close-circle.svg?size=29&color=ea3838") no-repeat;
	}
	&:invalid, &:valid {
		background-position: 99% 50%;
		background-size: 29px;
	}
	&:optional {
		background-image: none;
	}
 	&-text {
		color: $gray-color;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 5px;
	}
	&-phone-wrap {
		display: block;
		position: relative;
		&:before {
			content: attr(data-phone);
			position: absolute;
			width: 60px;
			height: 31px;
			line-height: 31px;
			top: 50%;
			left: 9px;
			z-index: 1;
			margin-top: -15.5px;
			border-radius: 16px;
			background-color: #e6e9ea;
			color: #909495;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
		}
		& .input {
			padding-left: 77px;
		}
	}
	&:focus {
		outline: none;
	}
	&::-webkit-input-placeholder {
		@include inputPlaceholder();
	}
	&::-moz-placeholder {
		@include inputPlaceholder();
	}
	&:-moz-placeholder {
		@include inputPlaceholder();
	}
	&:-ms-input-placeholder {
		@include inputPlaceholder();
	}
	@media(max-width: $breakpoint768) {
		&-wrap {
			margin-bottom: 18px;
		}
	}
}