.popup-block {
	// margin: 20px auto;
	display: none;
	& .input-wrap {
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 20px;
		}
	}
	& .input-textarea {
		height: 128px;
	}
	&__frame {
		overflow: hidden;
		border-radius: 16px;
		background-color: #fff;
		position: relative;
	}
	&__content {
		padding: 48px 43px 50px;
	}
	&__close {
		position: absolute;
		right: 27px;
		top: 25px;
	}
	&__title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0.3px;
		margin-bottom: 14px;
	}
	&__text {
		color: $gray-color;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.14px;
		margin-bottom: 25px;
	}
	&__bottom {
		display: flex;
		align-items: center;
		padding-top: 12px;
		& .popup-block__checkbox {
			margin-bottom: 0 !important;
		}
		& .popup-block__button {
			flex-shrink: 0;
			width: 226px;
			margin-right: 19px;
		}
	}
	&__button {
		cursor: pointer;
		width: 100%;
		border: none;
		outline: none;
		text-align: center;
		height: 61px;
		line-height: 61px;
		border-radius: 31px;
		background-color: #89b85f;
		color: #fff;
		font-family: $font-family-VagWorld;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.18px;
		&:focus {
			outline: none;
		}
	}
	&__checkbox {
		display: flex;
		cursor: pointer;
		margin-bottom: 20px;
		&-input {
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		&-icon {
			margin-top: 5px;
			flex-shrink: 0;
			display: inline-block;
			position: relative;
			width: 17px;
			height: 17px;
			border: 1px solid #ced2d3;
		}
		&-input:checked ~ &-icon {
			&::before {
				content: '';
				width: 17px;
				height: 17px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -8.5px;
				margin-left: -8.5px;
				background: url(https://icongr.am/entypo/check.svg?size=17&color=89b85f);
			}
		}
		&-input:checked ~ &-text {
			text-decoration: underline;
		}
		&-text {
			margin-left: 10px;
			color: #a5a6a7;
			font-family: $font-family;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.12px;
			line-height: 1.2;
			a {
				color: #89b85f;
				font-weight: 700;
				letter-spacing: 0.12px;
			}
		}
		&_required &-icon { // класс добавляется через js
			border: 1px solid #fb0000;
		}
	}
	@media(max-width: $breakpoint768) {
		&__content {
			padding: 24px 21px 26px;
		}
		&__close {
			right: 14px;
			top: 14px;
		}
		&__title {
			font-size: 23px;
			letter-spacing: 0.23px;
			margin-bottom: 11px;
		}
		&__text {
			color: $gray-color;
			font-family: $font-family;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.14px;
			margin-bottom: 22px;
		}
		&__bottom {
			flex-wrap: wrap;
			padding-top: 0;
			.popup-block__checkbox {
				padding-top: 0;
				margin-bottom: 17px !important;
			}
			.popup-block__button {
				margin-right: 0;
				order: 2;
				width: 100%;
			}
		}
	}
}