.radio-input {
	display: none;
	&_bluelighten {
		& label:before {
			background-color: #9d90c8 !important;
		}
	}
	&_red {
		& label:before {
			background-color:#d24a43 !important;
		}
	}
	&_green {
		& label:before {
			background-color: #76a76d !important;
		}
	}
	&_blue {
		& label:before {
			background-color: #6682d3 !important;
		}
	}
	&_white {
		& label {
			&::before {
				background-color: #eff1f4 !important;
			}
			&::after {
				background-color: #7b7b7b !important;
			}
		}
	}
	&_violet {
		& label:before {
			background-color: #d7569c !important;
		}
	}
	&_yellow {
		& label:before {
			background-color: #ffe84b !important;
		}
	}
	&_black {
		& label:before {
			background-color: #434343 !important;
		}
	}
	&_gray {
		& label:before {
			background-color: #7b7b7b !important;
		}
	}
	& + label
	{
		position: relative;
		width: 29px;
		height: 29px;
		line-height: 29px;
		cursor: pointer;
		display: inline-block;
		color: #666;
	}
	& + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		background: #000;
	}
	& + label:after {
		content: '';
		width: 13px;
		height: 13px;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -6.5px;
		margin-left: -6.5px;
		border-radius: 100%;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	&:not(:checked) + label:after {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	&:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}