.title-block {
	color: #3b3b3b;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 22px;
	font-family: $font-family-VagWorld;
	letter-spacing: 0.3px;
	@media(max-width: $breakpoint400) {
		& {
			font-size: 21px;
		}
	}
}