<div class="top-menu">
    <div class="container">
        <ul class="top-menu__list">
			{% for item in data.menu.top %}
			<li class="top-menu__item"><a href="#" class="top-menu__link">{{ item }}</a></li>
			{% endfor %}
        </ul>
    </div>
</div>