.top-menu {
    background-color: #eeeeee;
    padding: 7px 0;
    &__item {
        display: inline-block;
        margin-left: 2.29%;
        &:first-child {
            margin-left: 0;
        }
    }
    &__link {
        font-size: 12px;
        font-weight: 700;
        color: #999;
	}
	@media(max-width: $breakpoint940) {
		& {
			padding: 0;
		}
		&__link {
			font-size: 10px;
		}
	}
}