<div class="breadcrumbs-gray">
	<div class="container">
		<div class="breadcrumbs-gray__content">
			<a href="#" class="breadcrumbs__link breadcrumbs-gray_link">Главная</a>
			<span class="breadcrumbs__sep breadcrumbs-gray_sep"></span>
			<span class="breadcrumbs__text breadcrumbs-gray_text">Новости</span>
		</div>
	</div>
</div>
<!-- /.breadcrumbs-gray -->