.breadcrumbs {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #fff;
	display: flex;
	align-items: center;

	&__link {
		color: #fff;
	}

	&__sep {
		display: inline-block;
		margin: 0 5px;
		width: 5px;
		height: 5px;
		background-color: #ffffff;
		border-radius: 50%;
	}
	&-gray {
		padding: 18px 0;
		&__content {
			display: flex;
			align-items: center;
		}
		&_link {
			color: #a3a8aa;
		}
		&_sep {
			margin-top: 2px;
			background-color: #adb1b3;
		}
		&_text {
			color: #606466;
		}
	}
}