<div class="popup-block popup-add-comments js-popup-block" id="js-popup-add-comments-content">
	<div class="popup-block__frame">
		<i class="icon icon_close popup-block__close js-popup-close"></i>
		<div class="popup-block__content">
			<h3 class="popup-block__title">Создание комментария</h3>
			<p class="popup-block__text">Встреча кандидата в президенты от КПРФ Павла Грудинина с жителями Екатеринбурга 
					в Театре эстрады обернулась скандалом. После демонстрации ролика о кандидате, где
					он представлен в роли спасителя России</p>
			<form action="#">
				<div class="input-wrap">
					<label class="input-text">Как вас зовут?*</label>
					<input type="text" name="fullname" class="input" required pattern="[a-zA-Zа-яёА-ЯЁ]{3,}(\s{1}([a-zA-Zа-яёА-ЯЁ]+))?(\s{1}([a-zA-Zа-яёА-ЯЁ]+))?" placeholder="Как вас зовут?">
				</div>
				<div class="input-wrap">
					<label class="input-text">Чего случилось-то?*</label>
					<textarea name="dop-info" class="input-textarea" required></textarea>
				</div>
				<div class="popup-block__bottom">
					<button class="popup-block__button js-popup-block__button">Отправить</button>
					{% include 'popups/popup-checkbox/popup-checkbox.html' %}
				</div>
			</form>
		</div>
	</div>
</div>