.popup-added-cart {
	width: 673px;
	&__product {
		display: flex;
		padding-top: 20px;
		padding-right: 26px;
		margin-bottom: 22px;
		&-img {
			width: 226px;
			height: 260px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&-desc {
			margin-left: 30px;
		}
		&-category {
			color: #8b8b8b;
			font-family: $font-family;
			font-size: 15px;
			line-height: 1.2;
			font-weight: 400;
			margin-bottom: 12px;
		}
		&-name {
			color: #3b3b3b;
			font-family: $font-family-VagWorld;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.2;
			letter-spacing: 0.6px;
			margin-bottom: 30px;
		}
		&-old-price {
			color: #c0c0c0;
			font-family: $font-family-VagWorld;
			font-size: 18px;
			font-weight: 700;
			line-height: 1;
			text-decoration: line-through;
			letter-spacing: 0.18px;
			margin-bottom: 11px;
		}
		&-price {
			color: #4f4f4f;
			font-family: $font-family-VagWorld;
			font-size: 36px;
			font-weight: 700;
			line-height: 1;
			letter-spacing: 0.36px;
			margin-bottom: 18px;
		}
		&-link {
			display: inline-block;
			text-align: center;
			width: 226px;
			height: 61px;
			line-height: 61px;
			border-radius: 31px;
			background-color: #fc9c4a;
			color: #fff;
			font-family: $font-family-VagWorld;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.18px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.2px;
		margin-bottom: 14px;
	}
	&__products {
		display: flex;
		justify-content: space-between;
	}
	&__product-block {
		width: 186px;
		border-radius: 16px;
		border: 5px solid #e6e9ea;
		padding: 17px 12px 16px 16px;
		font-family: $font-family-VagWorld;
		font-weight: 700;
		&-category {
			color: #8b8b8b;
			font-family: $font-family;
			font-size: 12px;
			font-weight: 400;
			line-height: 1.2;
			margin-bottom: 11px;
		}
		&-flex {
			display: flex;
			margin-bottom: 4px;
		}
		&-name {
			color: #3b3b3b;
			font-size: 12px;
			line-height: 1.2;
			margin-bottom: 12px;
		}
		&-price {
			color: #4f4f4f;
			font-size: 12px;
			letter-spacing: -1.2px;
		}
		&-img {
			flex-shrink: 0;
			width: 60px;
			height: 68px;
			& img {
				width: 100%;
				height: 100%;
			}
		}
		&-button {
			appearance: none;
			border: none;
			outline: none;
			cursor: pointer;
			text-align: center;
			width: 96px;
			height: 38px;
			border-radius: 19px;
			background-color: #fc9c4a;
			color: #fff;
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 0.12px;
			&:focus {
				outline: none;
			}
		}
	}
	&__visible {
		display: none;
	}
	@media(max-width: $breakpoint768) {
		& {
			width: 276px;
		}
		&__visible {
			display: block;
		}
		&__hidden {
			display: none;
		}
		&__product {
			padding-right: 0;
			flex-wrap: wrap;
			&-desc {
				margin-left: 0;
			}
			&-category {
				font-size: 13px;
				margin-bottom: 9px;
			}
			&-name {
				font-size: 17px;
				margin-bottom: 18px;
			}
			&-img {
				width: 216px;
				height: 249px;
				margin: 0 auto 19px;
			}
			&-price {
				margin-bottom: 12px;
			}
			&-block {
				width: 100%;
				margin-bottom: 14px;
				&-flex {
					align-items: center;
				}
				&-category {
					font-size: 10px;
					margin-bottom: 10px;
				}
				&-img {
					width: 96px;
					height: 108px;
					margin-left: 11px;
				}
				&-price, &-name {
					font-size: 15px;
				}
				&-button {
					width: 100%;
				}
				&:nth-child(2) {
					margin-bottom: 0;
				}
				&:nth-child(3) {
					display: none;
				}
			}
		}
		&__products {
			flex-wrap: wrap;
		}
		&__title {
			font-size: 21px;
			margin-bottom: 21px;
		}
	}
}