<div class="popup-block popup-added-cart" id="js-popup-added-cart-content">
	<div class="popup-block__frame">
		<i class="icon icon_close popup-block__close js-popup-close"></i>
		<div class="popup-block__content">
			<h3 class="popup-block__title">Товар добавлен в корзину</h3>
			<div class="popup-added-cart__product">
				<div class="popup-added-cart__product-img popup-added-cart__hidden">
					<img src="{{src}}popup-product-added-img.png" alt="">
				</div>
				<div class="popup-added-cart__product-desc">
					<div class="popup-added-cart__product-category">Детское автокресло</div>
					<h4 class="popup-added-cart__product-name equal-height">Cybex Aton 4 Autumn Gold</h4>
					<div class="popup-added-cart__product-img popup-added-cart__visible">
						<img src="{{src}}popup-product-added-img.png" alt="">
					</div>
					<div class="popup-added-cart__product-old-price">109.990 руб</div>
					<div class="popup-added-cart__product-price">99.990 руб</div>
					<a href="#" class="popup-added-cart__product-link">Перейти в корзину</a>
				</div>
			</div>
			<h3 class="popup-added-cart__title">С этим товаров часто покупают:</h3>
			<div class="popup-added-cart__products">
				<div class="popup-added-cart__product-block">
					<div class="popup-added-cart__product-block-category popup-added-cart__hidden">Детское автокресло</div>
					<div class="popup-added-cart__product-block-flex">
						<div>
							<div class="popup-added-cart__product-block-category popup-added-cart__visible">Детское автокресло</div>
							<h5 class="popup-added-cart__product-block-name equal-height">Cybex Aton 4 Autumn Gold</h5>
							<div class="popup-added-cart__product-block-price">109.990 руб</div>
						</div>
						<div class="popup-added-cart__product-block-img">
							<img src="{{src}}popup-added-cart-small-img.png" alt="">
						</div>
					</div>
					<button class="popup-added-cart__product-block-button" data-ajax data-url="ajax/popup-added-cart.html">Добавить</a>
				</div>

				<div class="popup-added-cart__product-block">
					<div class="popup-added-cart__product-block-category">Детское автокресло</div>
					<div class="popup-added-cart__product-block-flex">
						<div>
							<h5 class="popup-added-cart__product-block-name equal-height">Cybex Aton 4 Autumn Gold</h5>
							<div class="popup-added-cart__product-block-price">109.990 руб</div>
						</div>
						<div class="popup-added-cart__product-block-img">
							<img src="{{src}}popup-added-cart-small-img.png" alt="">
						</div>
					</div>
					<button class="popup-added-cart__product-block-button" data-ajax data-url="ajax/popup-added-cart.html">Добавить</a>
				</div>

				<div class="popup-added-cart__product-block">
					<div class="popup-added-cart__product-block-category">Детское автокресло</div>
					<div class="popup-added-cart__product-block-flex">
						<div>
							<h5 class="popup-added-cart__product-block-name equal-height">Cybex Aton 4 Autumn Gold</h5>
							<div class="popup-added-cart__product-block-price">109.990 руб</div>
						</div>
						<div class="popup-added-cart__product-block-img">
							<img src="{{src}}popup-added-cart-small-img.png" alt="">
						</div>
					</div>
					<button class="popup-added-cart__product-block-button" data-ajax data-url="ajax/popup-added-cart.html">Добавить</a>
				</div>
			</div>
		</div>
	</div>
</div>