<div class="tabs-menu">

	<a class="tabs-menu__link js-tabs-menu__link" href="#js-tabs-1">
		ОПИСАНИЕ
	</a>
	<a class="tabs-menu__link js-tabs-menu__link" href="#js-tabs-2">
		ХАРАКТЕРИСТИКИ
	</a>
	<a class="tabs-menu__link js-tabs-menu__link active" href="#js-tabs-3">
		ОТЗЫВЫ
		<span class="tabs-menu__count">25</span>
	</a>
	<a class="tabs-menu__link js-tabs-menu__link" href="#js-tabs-4">
		ДОСТАВКА
	</a>
	<a class="tabs-menu__link js-tabs-menu__link" href="#js-tabs-5">
		ОПЛАТА
	</a>
	<a class="tabs-menu__link js-tabs-menu__link" href="#js-tabs-6">
		АКСЕССУАРЫ
	</a>
	<a class="tabs-menu__link js-tabs-menu__link" href="#js-tabs-7">
		ВИДЕО
	</a>
	<div class="tabs-line"></div>
</div>
<!-- /.tabs-menu -->
<div class="tabs">
	<div class="tabs__inner" id="js-tabs-1">
		<div class="content">
			<p>Минусы есть и у него. Но их число не так уж и велико, а сами недостатки не носят фатального характера. В частности это
				типичный почти для всех любительских моделей неоперативный интерфейс управления. Слишком много лишних, а иногда и не
				совсем логичных действий, нужно сделать, чтобы поменять те или иные настройки. Особенно это касается съемки видео. Спорным
				моментом является также применение 24-мегапиксельной матрицы.</p>
			<p>Ситуация меняется, начиная с f/2,8. Мягкость уходит вместе с хроматическим аберрациями. Детализация возрастает по всему
				полю кадра. При дальнейшем диафрагмировании.</p>
			<div class="content__columns">
				<div class="content__column">
					<h2>Соответствие возрастным группам:</h2>

					<ul>
						<li>— автокресло предназначено для младенцев до полутора лет</li>
						<li>— допустимый вес ребенка – 13 кг</li>
					</ul>
				</div>
				<div class="content__column">
					<h2>Соответствие возрастным группам:</h2>

					<ul>
						<li>— автокресло предназначено для младенцев до полутора лет</li>
						<li>— допустимый вес ребенка – 13 кг</li>
					</ul>
				</div>
				<div class="content__column">
					<h2>Соответствие возрастным группам:</h2>

					<ul>
						<li>— автокресло предназначено для младенцев до полутора лет</li>
						<li>— допустимый вес ребенка – 13 кг</li>
					</ul>
				</div>
			</div>
			<div class="content__advantage">
				{% include 'advantage/advantage.html' %}
			</div>
			<div class="content__banners">
				<div class="content__banner">
					{% import "banner/banner-article/banner-article.html" as banner %}
					{{ banner.bannerArticle("banner-article-bg5.png") }}
				</div>
				<div class="content__banner">
					{% include 'banner/banner-review-catalog/banner-review-catalog.html' %}
				</div>
			</div>
		</div>
	</div>
	<div class="tabs__inner" id="js-tabs-2">
		<div class="content">
			<div class="content__columns">
				<div class="content__column content__column_characteristic">
					<h2>Общие характеристики</h2>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Тип установки</div>
						<div class="content__characteristic-value">ручной</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Габариты (ВхШхГ)</div>
						<div class="content__characteristic-value">34x56x45</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Тип установки</div>
						<div class="content__characteristic-value">ручной</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Габариты (ВхШхГ)</div>
						<div class="content__characteristic-value">34x56x45</div>
					</div>
				</div>
				<div class="content__column content__column_characteristic">
					<h2>Общие характеристики</h2>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Тип установки</div>
						<div class="content__characteristic-value">ручной</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Габариты (ВхШхГ)</div>
						<div class="content__characteristic-value">34x56x45</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Тип установки</div>
						<div class="content__characteristic-value">ручной</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Габариты (ВхШхГ)</div>
						<div class="content__characteristic-value">34x56x45</div>
					</div>
				</div>
				<div class="content__column content__column_characteristic">
					<h2>Общие характеристики</h2>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Тип установки</div>
						<div class="content__characteristic-value">ручной</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Габариты (ВхШхГ)</div>
						<div class="content__characteristic-value">34x56x45</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Тип установки</div>
						<div class="content__characteristic-value">ручной</div>
					</div>
					<div class="content__characteristic">
						<div class="content__characteristic-type">Габариты (ВхШхГ)</div>
						<div class="content__characteristic-value">34x56x45</div>
					</div>
				</div>
				<div class="content__column content__column_characteristic">
					<a href="#" class="content__file">
						<span class="content__file-name">Sparco F500k инструкция	на русском языке</span>
						<span class="content__file-size">8.6 мб</span>
					</a>
				</div>
			</div>
			<div class="content__advantage">
				{% include 'advantage/advantage.html' %}
			</div>
		</div>
	</div>
	<div class="tabs__inner" id="js-tabs-3">
		Tabs 3
	</div>
	<div class="tabs__inner" id="js-tabs-4">
		Tabs 4
	</div>
	<div class="tabs__inner" id="js-tabs-5">
		Tabs 5
	</div>
	<div class="tabs__inner" id="js-tabs-6">
		Tabs 6
	</div>
	<div class="tabs__inner" id="js-tabs-7">
		Tabs 7
	</div>
</div>
<!-- /.tabs  -->