.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
  }
  .tabs_indent {
	margin-bottom: 30px;
  }
  .tabs__inner {
	position: absolute;
	left: -1000%;
	z-index: 0;
	opacity: 0;
	top: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
  }
  .tabs__inner.active {
	left: 0;
	opacity: 1;
	z-index: 1;
	position: relative;
  }
  .tabs__block {
	padding: 30px;
	border-bottom: 1px solid #666;
  }
  .tabs-menu {
	line-height: 1;
	display: flex;
	border-radius: 2px;
	border-bottom: 4px solid #ebeeef;
	margin-bottom: 30px;
	&__count {
		color: #9d90c8;
		letter-spacing: 0.56px;
	}
  }
  .tabs-menu__link {
	display: block;
	padding: 10px 25px;
	text-decoration: none;
	cursor: pointer;
	transition: background 500ms, color 500ms;
	color: $gray-color;
	font-family: $font-family-VagWorld;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.56px;
	&:hover {
		text-decoration: none;
	}
  }
  @media (max-width: 767px) {
	.tabs-menu__link {
	  display: none;
	}
  }
  .tabs-menu__link:hover,
  .tabs-menu__link.active,
  .tabs-menu__xslink:hover,
  .tabs-menu__xslink.active {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		border-bottom: 4px solid #a5c46c;
	}
	&:first-child::before {
		border-top-left-radius: 4px; 
		border-bottom-left-radius: 4px;
	}
  }
  .tabs-menu__xslink {
	color: $gray-color;
	font-family: $font-family-VagWorld;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.56px;
	display: none;
	padding: 10px 30px;
	margin: 0 0 1px;
	cursor: pointer;
	transition: background 500ms, color 500ms;
  }
  @media (max-width: $breakpoint1100) {
	.tabs-menu__link {
		font-size: 12px;
		padding-left: 15px; 
		padding-right: 15px; 
	}
  }
  @media (max-width: $breakpoint900) {
	.tabs-menu__link {
		font-size: 10px;
		padding-left: 14px; 
		padding-right: 14px; 
	}
  }
  @media (max-width: 767px) {
	.tabs {
		width: auto;
		display: flex;
		flex-wrap: wrap;
		margin-left: -14px;
		margin-right: -14px;
		&-menu {
			border-bottom: none;
			margin-bottom: 0;
		}
	}
	.tabs-menu__xslink {
		padding-left: 14px; 
		padding-right: 14px;
		font-size: 14px;
		font-weight: 700;
		display: block;
		order: -1;
		&.active, &:hover {
			&::before {
				content: none;
			}
		}
		&.active {
			color: #8ab95f;
		}
	}
	.tabs__inner {
		margin: 29px 15px 0;
		width: 100%;
	}
  }