<div class="advantage-small">
	<div class="advantage-small__list">
		<div class="advantage-small__item">
			<img src="{{src}}fast-delivery.png" class="advantage-small__img advantage-small__fast-delivery-icon" alt="">
			<h4 class="advantage-small__title">Доставка по <br> всей России</h4>
		</div>
		<div class="advantage-small__item">
			<img src="{{src}}badge-with-ribbon.png" class="advantage-small__img advantage-small__badge-with-ribbon-icon" alt="">
			<h4 class="advantage-small__title">Мы – официальные <br> представители</h4>
		</div>
		<div class="advantage-small__item">
			<img src="{{src}}shopping-bag.png" class="advantage-small__img advantage-small__shopping-bag-icon" alt="">
			<h4 class="advantage-small__title">Возврат и <br> обмен товара</h4>
		</div>
	</div>
</div>