<div class="advantage">
	<div class="container">
		<div class="advantage__list">
			<div class="advantage__item">
				<img src="{{src}}fast-delivery.png" class="advantage__img advantage__fast-delivery-icon" alt="">
				<div class="advantage__text-wrap">
					<h4 class="advantage__title advantage__title_small">Доставка по <span class="advantage__breack"></span> всей России</h4>
					<div class="advantage__text">Бесплатно доставляем заказы на <br> сумму от 5000 рублей по Москве и <br> Санкт-Петербургу.</div>
				</div>
			</div>
			<div class="advantage__item">
				<img src="{{src}}badge-with-ribbon.png" class="advantage__img advantage__badge-with-ribbon-icon" alt="">
				<div class="advantage__text-wrap">
					<h4 class="advantage__title advantage__title_small">Мы – официальные <br> представители</h4>
					<div class="advantage__text">Мы являемся официальными <br>  представителями многих брендов.</div>
				</div>
			</div>
			<div class="advantage__item">
				<img src="{{src}}shopping-bag.png" class="advantage__img advantage__shopping-bag-icon" alt="">
				<div class="advantage__text-wrap">
					<h4 class="advantage__title advantage__title_small">Возврат и <span class="advantage__breack"></span> обмен товара</h4>
					<div class="advantage__text">Мы являемся официальными <br> представителями многих брендов.</div>
				</div>
			</div>
		</div>
	</div>
</div>