<div class="advantage">
	<div class="container">
		<div class="advantage__list">
			<div class="advantage__item">
				<img src="{{src}}fast-delivery.png" class="advantage__img advantage__fast-delivery-icon" alt="">
				<h4 class="advantage__title">Доставка по <br> всей России</h4>
			</div>
			<div class="advantage__item">
				<img src="{{src}}badge-with-ribbon.png" class="advantage__img advantage__badge-with-ribbon-icon" alt="">
				<h4 class="advantage__title">Мы – официальные <br> представители</h4>
			</div>
			<div class="advantage__item">
				<img src="{{src}}shopping-bag.png" class="advantage__img advantage__shopping-bag-icon" alt="">
				<h4 class="advantage__title">Возврат и <br> обмен товара</h4>
			</div>
		</div>
	</div>
</div>