.advantage {
	padding: 72px 0 50px; //66px
	background-color: #fff;
    &__list {
        display: flex;
		justify-content: space-between;
		align-items: flex-start;
    }
    &__title {
        margin: 0 0 0 25px;
        color: #3b3b3b;
        font-family: $font-family-VagWorld;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.2;
		letter-spacing: 0.22px;
		&_small {
			font-size: 18px;
			letter-spacing: 0.18px;
			margin: 0 0 7px 0;
		}
	}
    &__item {
        display: flex;
        align-items: center;
	}
	&__text {
		color: #6e6e6e;
		font-family: $font-family;
		font-size: 14px;
		line-height: 19px;
		&-wrap {
			margin-left: 20px;
			margin-right: 15px;
		}
	}
	@media(max-width: $breakpoint1050) {
		&__text {
			display: none;
			&-wrap {
				margin-right: 5px;
			}
		}
		&__title_small {
			font-size: 16px;
		}
	}
	@media(max-width: $breakpoint900) {
		&__text-wrap {
			margin-left: 16px;
		}
		&__title {
			font-size: 15px;
		}
		&__fast-delivery-icon {
			width: 61px;
			height:	40px;
		}
		&__badge-with-ribbon-icon {
			width: 35px;
			height: 41px;
		}
		&__shopping-bag-icon {
			width: 30px;
			height: 44px;
		}
	}
	@media(max-width: $breakpoint800) {
		&__breack {
			display: block;
		}
	}
	@media(max-width: $breakpoint700) {
		& {
			padding: 57px 0 55px;
		}
		&__list {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			width: 100%;
			flex-direction: column;
			margin-bottom: 57px;
			text-align: center;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__img {
			margin-bottom: 25px;
		}
		&__title {
			font-size: 21px;
			margin-left: 0;
		}
		&__fast-delivery-icon {
			width: 91px;
			height:	60px;
		}
		&__badge-with-ribbon-icon {
			width: 53px;
			height: 61px;
		}
		&__shopping-bag-icon {
			width: 45px;
			height: 66px;
		}
	}
	&-small {
		&__list {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__item {
			display: flex;
			align-items: center;
		}
		&__title {
			color: $gray-color;
			font-family: $font-family;
			font-size: 12px;
			font-weight: 700;
			margin: 0 0 0 13px;
		}
		&__fast-delivery-icon {
			width: 42px;
			height: 28px;
		}
		&__badge-with-ribbon-icon {
			width: 24px;
			height: 28px;
		}
		&__shopping-bag-icon {
			width: 20px;
			height: 29px;
		}
		@media (max-width: $breakpoint1100) {
			&__item {
				text-align: center;
				flex-wrap: wrap;
				flex-direction: column;
			}
			&__img {
				margin-bottom: 11px;
			}
			&__title {
				margin-left: 0;
			}
		}
		@media (max-width: $breakpoint900) {
			&__title {
				font-size: 10px;
			}
		}
	}
}