<div class="banner__frame banner__small-height banner-car-seat">
    <div class="banner__small-height__title banner__title">Подборка кресел от эксперта</div>
	<div class="banner__text">Детские автокресла для безопасной перевозки детей</div>
	<a href="#" class="banner__full-link"></a>
</div>