.banner-car-seat {
	background: #fc9ca1 url("bannner-car-seat.png") no-repeat;
	background-size: 49.86% 89.47%; // 183px 187px
	background-position: right bottom;
	padding: 36px 114px 10px 28px;
	@media(max-width: $breakpoint940) {
		& {
			background-size: 140px auto;
			padding: 36px 52px 10px 19px;
		}
	}
	@media(max-width: $breakpoint900) {
		& .banner__text {
			font-size: 13px;
			margin-bottom: 0;
		}
	}
	@media(max-width: $breakpoint580) {
		& {
			padding-left: 21px;
			& .banner__title, & .banner__text {
				width: 70%;
			}
			& .banner__text {
				font-size: 10px;
			}
		}
	}
}