.cart-header {
    display: flex;
    &__content {
		margin-left: 11px;
		margin-right: 7px;
    }
    &__icon {
        display: block;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background: url("shopping-cart.png") no-repeat;
        background-position: 50%;
        background-color: #fc9c4a;
    }
    &__count {
        color: $balck-gray-color;
        font-family: $font-family-VagWorld;
		font-weight: 700;
		&-visble-mobile {
			display: none;
		}
    }
    &__price {
        color: #a9a9a9;
        font-family: $font-family;
        font-size: 14px;
	}
	&__mobile {
		display: flex;
		&:hover {
			text-decoration: none;
		}
	}
	@media(max-width: $breakpoint940) {
		&__content {
			margin-left: 8px;
		}
		&__count {
			font-size: 12px;
			line-height: 1.2;
		}
		&__price {
			font-size: 10px;
			line-height: 1.2;
		}
		&__icon {
			width: 34px;
			height: 34px;
		}
	}
	@media(max-width: $breakpoint768) {
		&__content {
			display: none;
		}
		&__count-visble-mobile {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-family: $font-family-VagWorld;
			font-size: 17px;
			font-weight: 700;
			width: 34px;
			height: 34px;
			line-height: 35px;
			border-radius: 50%; 
			background-color: #fc9b4b;
		}
		&__icon {
			background: url("shopping-cart-mobile.png") no-repeat;
			background-position: center;
		}
	}
}