<div class="cart-header">
	<a href="#" class="cart-header__mobile">
		<i class="cart-header__icon"></i>
		<span class="cart-header__count-visble-mobile">5</span>
	</a>
    <div class="cart-header__content">
        <a href="#" class="cart-header__count">Корзина (5)</a>
        <div class="cart-header__price">5 321 руб</div>
	</div>
</div>