.product-detail {
	&__product {
		line-height: 1.2;
		padding: 45px;
		border-radius: 16px;
		background-color: #fff;
		&-wrap {
			display: flex;
			margin-bottom: 40px;
		}
	}
	&__w100 {
		width: 100%;
	}
	&__product-images {
		display: flex;
		flex-shrink: 0;
		width: 56%;
		height: 444px;
		&-wrap {
			flex-grow: 1;
			position: relative;
		}
	}
	&__gallery {
		&-top {
			flex-grow: 1;
		}
		&-thumbs {
			order: -1;
			width: 100px;
		}
	}
	&__navigation {
		display: none;
	}
	&__labels {
		position: absolute;
		top: 0;
		left: 10px;
	}
	&__img {
		position: relative;
		min-height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		& img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__small {
		&-images {
			margin-top: -7px !important; // нужен чтобы был на равне с большим слайдером
			display: flex;
			align-items: center;
			flex-direction: column;
			.swiper-slide-active {
				min-width: 95px;
				max-width: 95px;
				min-height: 92px;
				max-height: 92px;
				width: 95px;
				height: 92px;
				border-radius: 12px;
				border: 4px solid #f07a39;
				// &::after {
					// content: '';
					// position: absolute;
					// top: 0;
					// right: 0;
					// width: 50px;
					// height: 48px;
					// background:url("line-slider-active.png") no-repeat;
					// background-position: right top;
				// }
			}
		}
		&-img {
			position: relative;
			cursor: pointer;
			border-radius: 12px;
			overflow: hidden;
			min-width: 83px;
			max-width: 83px;
			min-height: 78px;
			max-height: 78px;
			width: 83px;
			height: 78px;
			border: 4px solid #e8ebec;
			// padding: 4px;
			// &::before {
				// content: '';
				// position: absolute;
				// left: 0;
				// top: 0;
				// width: 100%;
				// height: 100%;
			// }
			& img {
				width: 100%;
				height: 100%;
			}
		}
	}
	&__product-description {
		position: relative;
		flex-grow: 1;
		margin-left: 10px;
	}
	&__articul {
		margin-bottom: 10px;
	}
	&__icons {
		position: absolute;
		right: 0;
		top: 0;
		& .icon {
			margin-left: 5px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&__name {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0.3px;
		margin-bottom: 19px;
	}
	&__status {
		margin-bottom: 23px;
		& .product-status::before {
			width: 10px;
			height: 10px;
		}
	}
	&__line {
		margin-bottom: 25px;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: #ebeeef;
	}
	&__curency {
		font-size: 18px;
	}
	&__colors {
		display: flex;
		align-items: center;
		margin-bottom: 21px;
		&-text {
			color: #9a9a9a;
			font-size: 14px;
			font-weight: 400;
			margin-right: 8px;
		}
	}
	&__color {
		margin-left: 5px;
		&:first-of-type {
			margin-left: 0;
		}
	}
	&__old-price {
		margin-bottom: 15px;
		color: #cdcdcd;
		font-family: $font-family-VagWorld;
		font-size: 24px;
		font-weight: 700;
		line-height: 1;
		text-decoration: line-through;
		letter-spacing: -3.6px;
		span {
			letter-spacing: normal;
		}
	}
	&__price {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 42px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -6.3px;
		margin-bottom: 31px;
		span {
			letter-spacing: normal;
		}
		&__curency {
			color: #3b3b3b;
			font-family: $font-family-VagWorld;
			font-weight: 700;
		}
	}
	&__price, &__quantity {
		display: inline-block;
	}
	&__quantity {
		position: relative;
		top: -16px;
		margin-left: 29px;
	}
	&__button-cart {
		padding: 19px 93px;
		cursor: pointer;
		outline: none;
		border: none;
		appearance: none;
		border-radius: 32px;
		background-color: #fc9c4a;
		color: #ffffff;
		font-family: $font-family-VagWorld;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 0.22px;
		margin-bottom: 32px;
		&:focus {
			outline: none;
		}
	}
	&__related-products {
		padding-top: 65px;
		padding-bottom: 20px;
	}
	@media (max-width: $breakpoint1100) {
		&__product-images {
			flex-wrap: wrap;
			height: auto;
		}
		&__gallery-top {
			width: 100%;
			margin-bottom: 38px !important;
		}
		&__gallery-thumbs {
			order: 1;
			min-width: 100%;
		}
		&__img {
			flex-shrink: 0;
			min-width: 100%;
		}
		&__small {
			&-images {
				margin-top: 0px !important;
				margin-left: -10px !important;
				align-items: center;
				flex-direction: row;
				flex-shrink: 0;
				.swiper-slide-active {
					min-width: calc(22% - 10px); // 95
					max-width: calc(22% - 10px);
					min-height: 80%; // 92
					max-height: 80%;
					width: calc(22% - 10px);
					height: 80%;
				}
			}
			&-img {
				min-width: calc(19.5% - 10px); // 83
				max-width: calc(19.5% - 10px);
				min-height: 70%; // 78
				max-height: 70%;
				width: calc(19.5% - 10px);
				height: 70%;
			}
		}
	}
	@media (max-width: $breakpoint1000) {
		&__product {
			padding: 35px;
		}
		&__product-images {
			width: 58%;
		}
		&__img {
			max-height: 370px;
		}
		&__name {
			font-size: 23px;
		}
		&__price {
			margin-bottom: 12px;
		}
		&__quantity {
			display: block;
			margin-left: 0;
			top: 0;
			margin-bottom: 21px;
		}
		&__button-cart {
			padding-left: 65px;
			padding-right: 65px;
		}
		&__articul {
			margin-bottom: 14px;
		}
		&__status {
			margin-bottom: 30px;
		}
		&__related-products {
			padding-top: 26px;
		}
	}
	@media (max-width: $breakpoint768) {
		&__product {
			padding: 27px 0;
			border-radius: 0;
			&-bg-white {
				background-color: #fff;
			}
			&-wrap {
				flex-wrap: wrap;
			}
			&-description {
				width: 100%;
				margin-left: 0;
			}
			&-images {
				position: relative;
				width: 100%;
				height: auto;
				margin-bottom: 0;
			}
		}
		&__gallery-top {
			margin-bottom: 18px !important;
		}
		&__gallery-thumbs {
			height: 75px;
			margin-bottom: 20px !important;
		}
		&__line {
			margin-bottom: 23px;
		}
		&__img {
			max-height: 320px;
		}
		&__navigation {
			display: block;
			& .swiper-button-prev, & .swiper-button-next {
				width: 17px;
				height: 18px;
				top: 50%;
				margin-top: -83px !important; //gallery-thumbs берем высоту.  gallery-top берем margin-bottom высоту потом саму высоту половины иконки
			}
			& .swiper-button-next {
				right: -15px;
				background: svg-load('slider-arrow-right.svg', fill='#000', fill-opacity='.5', width='17', height='18') no-repeat;
			}
			& .swiper-button-prev {
				left: -15px;
				background: svg-load('slider-arrow-left.svg', fill='#000', fill-opacity='.5', width='17', height='18') no-repeat;
			}
		}
		&__status {
			margin-bottom: 0;
		}
		&__old-price {
			margin-bottom: 8px;
		}
		&__price {
			font-size: 46px;
			margin-bottom: 4px;
		}
		&__tablet-flex {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 18px;
		}
		&__line {
			border-width: 2px;
		}
		&__icons {
			position: static;
		}
		&__small {
			&-images {
				margin-left: 0 !important;
				.swiper-slide-active {
					min-width: calc(14.32% - 10px);
					max-width: calc(14.32% - 10px);
					min-height: 95%;
					max-height: 95%;
					width: calc(14.32% - 10px);
					height: 95%;
				}
			}
			&-img {
				min-width: calc(14.28% - 10px);
				max-width: calc(14.28% - 10px);
				min-height: 90%; // 78
				max-height: 90%;
				width: calc(14.28% - 10px);
				height: 90%;
			}
		}
		&__related-products {
			padding-top: 0;
			padding-bottom: 0;
			& .related-products {
				padding-top: 30px;
				padding-bottom: 38px;
			}
		}
		&__button-cart {
			margin-bottom: 0;
		}
	}
	@media (max-width: $breakpoint700) {
		&__advantage {
			display: none;
		}
		& .recently-viewed {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	@media (max-width: $breakpoint600) {
		&__small {
			&-images {
				margin-left: -10px !important;
				.swiper-slide-active {
					min-width: calc(22% - 10px);
					max-width: calc(22% - 10px);
					min-height: 95%;
					max-height: 95%;
					width: calc(22% - 10px);
					height: 95%;
				}
			}
			&-img {
				min-width: calc(19.5% - 10px);
				max-width: calc(19.5% - 10px);
				min-height: 90%;
				max-height: 90%;
				width: calc(19.5% - 10px);
				height: 90%;
			}
		}
	}
	@media (max-width: $breakpoint500) {
		&__button-cart {
			width: 100%;
		}
	}
	@media (max-width: $breakpoint400) {
		&__small {
			&-images {
				margin-left: 0 !important;
				.swiper-slide-active {
					min-width: calc(22% - 5px);
					max-width: calc(22% - 5px);
					min-height: 75%;
					max-height: 75%;
					width: calc(22% - 5px);
					height: 75%;
				}
			}
			&-img {
				min-width: calc(19.5% - 5px);
				max-width: calc(19.5% - 5px);
				min-height: 70%;
				max-height: 70%;
				width: calc(19.5% - 5px);
				height: 70%;
			}
		}
	}
}