<div class="product-detail">
	<div class="product-detail__product-bg-white">
		<div class="container">
			<div class="product-detail__product">
				<div class="product-detail__product-wrap">
					<div class="visible-tablet product-detail__w100">
						<div class="articul-text product-detail__articul">Артикул: №45549</div>
						<h2 class="product-detail__name">Детское автокресло Sparco F500K</h2>
						<div class="product-detail__tablet-flex">
							<div class="product-detail__status">
								{% include 'product-status/product-status-active.html' %}
								<!-- {% include 'product-status/product-status-unactive.html' %} -->
							</div>
							<div class="product-detail__icons">
								<a href="#" class="icon icon_statistical-chart"></a>
								<!-- <a href="#" class="icon icon_heart"></a> -->
								<a href="#" class="icon icon_heart-active"></a>
							</div>
						</div>
					</div>

					<!-- sliders -->
					<div class="product-detail__product-images js-product-detail__pagination-relative">
						<div class="product-detail__gallery-top swiper-container">
							<div class="product-detail__product-images-wrap swiper-wrapper">
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels  hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider -->
								<div class="product-detail__img">
									<div class="product-detail__labels hidden-tablet">
										<div class="bg-label-new">Новинка</div>
										<div class="bg-label-hit">Хит</div>
										<div class="bg-label-free-shipping">Бесплатная доставка</div>
									</div>
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
							</div>
						</div>

						<!-- slider thumbs -->
						<div class="product-detail__gallery-thumbs swiper-container">
							<div class="product-detail__small-images swiper-wrapper">
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
								<!-- slider thumb -->
								<div class="product-detail__small-img">
									<img src="{{src}}product-detail-image.png" alt="">
								</div>
							</div>
						</div>

						<!-- navigtaion in detail img -->
						<div class="product-detail__navigation">
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
					<!-- end -->

					<!-- product description -->
					<div class="product-detail__product-description">
						<div class="articul-text product-detail__articul hidden-tablet">Артикул: №45549</div>
						<div class="product-detail__icons hidden-tablet">
							<a href="#" class="icon icon_statistical-chart-desktop"></a>
							<!-- <a href="#" class="icon icon_statistical-chart-desktop-active"></a> -->
							<a href="#" class="icon icon_heart"></a>
							<!-- <a href="#" class="icon icon_heart-active"></a> -->
						</div>
						<h2 class="product-detail__name hidden-tablet">Детское автокресло <br> Sparco F500K</h2>
						<div class="product-detail__status hidden-tablet">
							{% include 'product-status/product-status-active.html' %}
							<!-- {% include 'product-status/product-status-unactive.html' %} -->
						</div>
						<div class="product-detail__line"></div>
						<div class="product-detail__old-price">
							<span>7</span><span>890</span>
							<span class="product-detail__curency">руб</span>
						</div>
						<div class="product-detail__price">
							<span>5</span><span>900</span>
							<span class="product-detail__curency">руб.</span>
						</div>
						<div class="product-detail__quantity">
							{% include 'quantity-input/quantity-input.html' %}
						</div>
						<button type="button" class="product-detail__button-cart" data-ajax data-url="ajax/popup-added-cart.html">В корзину</button>
						<div class="hidden-tablet">
							{% include 'advantage/advantage-small.html' %}
						</div>
					</div>

				</div>

				<!-- product tabs -->
				<div class="product-detail__product-tabs">
					{% include 'tabs/tabs.html' %}
				</div>
			</div>
		</div>
	</div>
	<div class="product-detail__related-products">
		{% include 'related-products/related-products.html' %}
	</div>
	<div class="product-detail__recently-viewed">
		{% include 'recently-viewed/recently-viewed.html' %}
	</div>
	<div class="product-detail__advantage">
		{% include 'advantage/advantage-text.html' %}
	</div>
</div>
