.radio {
	position: relative;
	display: inline-block;
	width: 29px;
	height: 29px;
	line-height: 1;
	cursor: pointer;

	&__input {
		visibility: hidden;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__icon {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: rgb(0, 83, 167);
	}

	&__input:checked ~ &__icon {
		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			margin-top: -6.5px;
			margin-left: -6.5px;
			width: 13px;
			height: 13px;
			background-color: #fff;
		}
	}
	&_product-detail {
		width: 22px;
		height: 22px;
		margin-bottom: 0;
	}
	&_product-detail &__input:checked ~ &__icon {
		&::before {
			margin-top: -5px;
			margin-left: -5px;
			width: 10px;
			height: 10px;
		}
	}
	&__input:checked ~ &__white, &__input:checked ~ &_bg-white {
		&::before {
			background-color: #7b7b7b;
		}
	}
	&_bg-white {
		border: 1px solid #7b7b7b;
		border-radius: 50%;
	}
}