.compare {
	margin-bottom: 100px;
	&__top, &-haracteristic {
		padding: 48px;
	}
	&-haracteristic {
		padding-top: 20px;
	}
	&__content {
		background: #fff;
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 16px;
	}
	&-sticky {
		overflow: visible;
	}
	&__top {
		position: sticky;
		top: 0;
		z-index: 1000;
		padding-bottom: 16px;
		display: flex;
		background: #fff;
		box-shadow: 1px 4px 29px rgba(96, 100, 105, 0.25);
		&-left {
			flex-shrink: 0;
			width: 250px;
			margin-right: 21px;
		}
		&-right {	
			overflow: auto;
		}
	}
	&__page-title {
		color: $gray-color;
		font-family: $font-family-VagWorld;
		font-size: 36px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 9px;
	}
	&__count {
		color: #fc9c4a;
		font-family: $font-family-VagWorld;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0.2px;
		margin-bottom: 13px;
	}
	&__select {
		&-wrap {
			position: relative;
			margin-bottom: 19px;
			&::after {
				pointer-events: none;
				content: '';
				width: 12px;
				height: 8px;
				position: absolute;
				right: 22px;
				top: 50%;
				margin-top: -4px;
				background: url(triangle-select-icon.png) no-repeat;
			}
		}
		cursor: pointer;
		appearance: none;
		border: none;
		outline: none;
		position: relative;
		width: 100%;
		height: 39px;
		line-height: 39px;
		padding-left: 23px;
		padding-right: 36px;
		color: #a5abad;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 700;
		border-radius: 20px;
		background-color: #eff1f1;
		&:focus {
			outline: none;
		}
	}
	&__sort {
		&-wrap {
			display: flex;
		}
		&-item {
			color: #cacccd;
			font-family: $font-family-VagWorld;
			font-size: 16px;
			font-weight: 700;
			&:last-of-type {
				margin-left: 15px;
			}
			&_active {
				color: #89b85f;
			}
		}
	}
	&__products {
		position: relative;
		padding-bottom: 28px;
	}
	&__products-wrap {
		display: flex;
	}
	&-haracteristic {
		&__title {
			color: $gray-color;
			font-family: $font-family-VagWorld;
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.2px;
			margin-bottom: 22px;
		}
		&__blocks {
			overflow: hidden;
		}
		&__block {
			margin-bottom: 35px;
			display: flex;
			width: 100%;
			&-types {
				flex-shrink: 0;
				width: 271px; // ширина равна блоку compare__top-left
			}
			&-values {
				flex-grow: 1;
				overflow: hidden;
				cursor: grab;
			}
			&-item {
				position: relative;
				display: flex;
				align-items: center;
				margin-bottom: 12px;
			}
		}
		&__block-item:nth-child(even)
		&__column-value {
			background-color: #eff1f1;
		}
		&__block-item:nth-child(even)
		&__column-content-one:first-of-type
		&__column-value {
			border-top-left-radius: 17px;
			border-bottom-left-radius: 17px;
		}
		&__block-item:nth-child(even)
		&__column-content-one:last-of-type
		&__column-value {
			border-top-right-radius: 17px;
			border-bottom-right-radius: 17px;
		}
		&__column {
			&-type {
				display: flex;
				align-items: center;
				width: 100%;
				color: #6b6f72;
				font-family: $font-family;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.2;
				margin-bottom: 12px;
			}
			&-content {
				display: flex;
				flex-shrink: 0;
				flex-grow: 1;
				&-one {
					flex-shrink: 0;
					width: 249px; // ширина равна блоку compare-product + margin
				}
			}
			&-value {
				width: 100%;
				padding: 6px 21px;
				color: $gray-color;
				font-family: $font-family;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
			}
		}
	}
	&__visible-mobile {
		display: none;
	}
	
	@media(max-width: $breakpoint1000) {
		&__content {
			padding: 38px 30px;
			border-top-right-radius: 16px;
			border-top-left-radius: 16px;
		}
		&__top, &-haracteristic {
			padding: 0;
		}
		&-sticky {
			overflow: hidden;
		}
		&__top  {
			position: static;
			box-shadow: none;
			&-left {
				width: 200px;
			}
		}
		&__page-title {
			font-size: 25px;
		}
		&__sort-item {
			font-size: 14px;
		}
		&-haracteristic {
			&__title {
				font-size: 18px;
			}
			&__block-types {
				width: 214px; // ширина равна блоку compare__top-left
				margin-right: 7px;
			}
			&__column {
				&-content-one {
					width: 240px; // ширина равна блоку compare-product
				}
			}
		}
	}
	@media(max-width: $breakpoint900) {
		& {
			margin-bottom: 87px;
		}
		&__count {
			margin-bottom: 20px;
		}
		&__select-wrap {
			margin-bottom: 21px;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			background-color: #fff;
			overflow: hidden;
			margin-bottom: 0;
		}
		&__hidden-mobile {
			display: none;
		}
		&__visible-mobile {
			display: block;
		}
		&__content {
			padding: 28px 0 20px;
			border-radius: 0;
		}
		&__top {
			flex-wrap: wrap;
			&-left, &-right {
				width: 100%;
			}
			&-right {
				margin-bottom: 20px;
			}
		}
		&__select-wrap {
			width: 50%;
			margin-bottom: 15px;
		}
		&__count {
			margin-bottom: 13px;
		}
		&__sort-wrap {
			margin-bottom: 21px;
		}
		&__products {
			padding-bottom: 0;
		}
		&-haracteristic, &__top-right {
			padding-right: 0;
		}
		.js-characteristic-open {
			&::after {
				transform: rotate(0deg);
			}
		}
		&-haracteristic {
			&__blocks {
				overflow: visible;
			}
			&__item {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					width: 500%;
					right: -100%;
					height: 3px;
					background-color: #e6e9ea;
				}
			}
			&__block {
				height: 0; // нужен чтобы корректно работалы плагин syncscroll
				overflow: auto;
				margin-bottom: 0;
				&-types {
					width: 100%;
				}
			}
			&__title {
				padding: 25px 0;
				position: relative;
				cursor: pointer;
				margin-bottom: 0;
				&::after {
					transition: 0.7s all;
					transform: rotate(-180deg);
					content: '';
					position: absolute;
					width: 17px;
					height: 11px;
					background: url(green-triangle-icon.png) no-repeat;
					top: 50%;
					right: 0;
					margin-top: -5.5px;
				}
			}
			&__column {
				&-value {
					font-size: 15px;
					width: 100%;
					padding-left: 0;
					padding-right: 0;
					background-color: transparent !important;
					border-radius: 0 !important;
				}
				&-type {
					font-size: 13px;
					margin-bottom: 0;
				}
				&-content {
					width: 100%;
					&-one {
						padding-right: 10px;
					}
				}
			}
		}
	}
	@media(max-width: $breakpoint600) {
		&-haracteristic {
			&__column {
				&-content {
					&-one {
						width: 245px; // ширина равна блоку compare-product
					}
				}
			}
		}
		&-haracteristic, &__top-right {
			padding-right: 12px;
			margin-right: -12px;
		}
	}
	@media(max-width: $breakpoint500) {
		&__products {
			padding-bottom: 55px;
		}
		&__select-wrap {
			width: 100%;
		}
		&-haracteristic {
			&__column {
				&-content {
					&-one {
						width: calc(46% + 12px); // ширина равна блоку compare-product
					}
				}
			}
		}
	}
	@media(min-width: $breakpoint768 + 1) {
		&-haracteristic__block {
			height: auto !important;
		}
	}
}