<div class="compare">
	<div class="container">
		<div class="compare__content">
			<div class="compare__top js-compare-sticky">
				<div class="compare__top-left">
					<h2 class="compare__page-title">Сравнение</h2>
					<div class="compare__count">25 товаров</div>
					<div class="compare__select-wrap">
						<select name="" class="compare__select">
							<option value="">Коляски</option>
							<option value="">Коляски</option>
							<option value="">Коляски</option>
						</select>
					</div>
					<div class="compare__sort-wrap">
						<a href="#" class="compare__sort-item compare__sort-item_active">Все </a>
						<a href="#" class="compare__sort-item">Только отличия</a>
					</div>
				</div>
				<div class="compare__top-right dragscroll syncscroll js-compare-product-scroll" name="syncscroll">
					<div class="compare__products">
						<div class="compare__products-wrap">
							{% include 'compare/compare-product/compare-product.html' %}
							{% include 'compare/compare-product/compare-product.html' %}
							{% include 'compare/compare-product/compare-product.html' %}
						</div>
					</div>
				</div>
			</div>
			<div class="compare-haracteristic">
				<div class="compare-haracteristic__blocks">

					<!-- Один блок -->
					<div class="compare-haracteristic__item js-compare-height-wrap">
						<h4 class="compare-haracteristic__title js-characteristic-item">Характеристики</h4>
						<div class="compare-haracteristic__block">

							<div class="compare-haracteristic__block-types compare__hidden-mobile">
								<!-- пункуты -->
								<div class="compare-haracteristic__column-type js-compare-equal-height-1">Производитель</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-2">Ширина (см)</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-3">Глубина (см)</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-4">Габариты (ВхШхГ)</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-5">Максимальный загрузка (кг)</div>
							</div>

							<div class="compare-haracteristic__block-values dragscroll syncscroll" name="syncscroll">
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-1">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Производитель</div>
											<div class="compare-haracteristic__column-value">Lego</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Производитель</div>
											<div class="compare-haracteristic__column-value">SweetToys</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Производитель</div>
											<div class="compare-haracteristic__column-value">Mazda</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-2">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина (см)</div>
											<div class="compare-haracteristic__column-value">14</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина (см)</div>
											<div class="compare-haracteristic__column-value">17</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина (см)</div>
											<div class="compare-haracteristic__column-value">18</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-3">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина (см)</div>
											<div class="compare-haracteristic__column-value">14</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина (см)</div>
											<div class="compare-haracteristic__column-value">17</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина (см)</div>
											<div class="compare-haracteristic__column-value">18</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-4">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Габариты (ВхШхГ)</div>
											<div class="compare-haracteristic__column-value">One</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Габариты (ВхШхГ)</div>
											<div class="compare-haracteristic__column-value">Two</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Габариты (ВхШхГ)</div>
											<div class="compare-haracteristic__column-value">Three</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-5">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Максимальный загрузка (кг)</div>
											<div class="compare-haracteristic__column-value">14</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Максимальный загрузка (кг)</div>
											<div class="compare-haracteristic__column-value">17</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Максимальный загрузка (кг)</div>
											<div class="compare-haracteristic__column-value">18</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end -->
					<!-- Один блок -->
					<div class="compare-haracteristic__item js-compare-height-wrap">
						<h4 class="compare-haracteristic__title js-characteristic-item">Конструкция</h4>
						<div class="compare-haracteristic__block">

							<div class="compare-haracteristic__block-types compare__hidden-mobile">
								<!-- пункуты -->
								<div class="compare-haracteristic__column-type js-compare-equal-height-1">Тип установки</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-2">Ширина</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-3">Глубина</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-4">Тип установки</div>
							</div>

							<div class="compare-haracteristic__block-values dragscroll syncscroll" name="syncscroll">
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-1">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">Lego</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">SweetToys</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">Mazda</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-2">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина</div>
											<div class="compare-haracteristic__column-value">14</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина</div>
											<div class="compare-haracteristic__column-value">17</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина</div>
											<div class="compare-haracteristic__column-value">18</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-3">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина</div>
											<div class="compare-haracteristic__column-value">14</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина</div>
											<div class="compare-haracteristic__column-value">17</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина</div>
											<div class="compare-haracteristic__column-value">18</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-4">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">One</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">Two</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">Three</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end -->
					<!-- Один блок -->
					<div class="compare-haracteristic__item js-compare-height-wrap">
						<h4 class="compare-haracteristic__title js-characteristic-item">Дизайн</h4>
						<div class="compare-haracteristic__block">

							<div class="compare-haracteristic__block-types compare__hidden-mobile">
								<!-- пункуты -->
								<div class="compare-haracteristic__column-type js-compare-equal-height-1">Тип установки</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-2">Ширина</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-3">Глубина</div>
								<div class="compare-haracteristic__column-type js-compare-equal-height-4">Тип установки</div>
							</div>

							<div class="compare-haracteristic__block-values dragscroll syncscroll" name="syncscroll">
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-1">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">Lego</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">SweetToys</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">Mazda</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-2">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина</div>
											<div class="compare-haracteristic__column-value">14</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина</div>
											<div class="compare-haracteristic__column-value">17</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Ширина</div>
											<div class="compare-haracteristic__column-value">18</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-3">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина</div>
											<div class="compare-haracteristic__column-value">14</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина</div>
											<div class="compare-haracteristic__column-value">17</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Глубина</div>
											<div class="compare-haracteristic__column-value">18</div>
										</div>
									</div>
								</div>
								<!-- Один пункут -->
								<div class="compare-haracteristic__block-item js-compare-height js-compare-equal-height-4">
									<div class="compare-haracteristic__column-content">
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">One</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">Two</div>
										</div>
										<div class="compare-haracteristic__column-content-one">
											<div class="compare-haracteristic__column-type compare__visible-mobile">Тип установки</div>
											<div class="compare-haracteristic__column-value">Three</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end -->
				</div>
			</div>
		</div>
	</div>
</div>