<div class="popup-block popup-thank-purchase" id="js-popup-thank-purchase-content">
	<div class="popup-block__frame">
		<i class="icon icon_close popup-block__close js-popup-close"></i>
		<div class="popup-thank-purchase__content">
			<h3 class="popup-block__title">Спасибо за покупку</h3>
			<p class="popup-thank-purchase__text">Ваш заказ №3456 от 07.11.2017  успешно сформирован.<br>В ближайшее время с Вами свяжется менеджер.</p>
			<p class="popup-thank-purchase__small-text">Через <span class="popup-thank-purchase__small-text-green">5 секунд</span>&nbsp; вы будете перенаправлены на <a href="#" class="popup-thank-purchase__small-text-link">главную страницу.</a></p>
		</div>
		<div class="popup-thank-purchase__bg-visible-mobile"></div>
	</div>
</div>