@mixin subscribePlaceholder() {
	color: $colorPlaceholder;
	font-family: $font-family;
	font-size: 16px;
	font-weight: 700;
}

.subscribe {
	background: url("subscribe-bg.png");
	background-position: center;
	background-size: cover;
	padding: 56px 0 48px;
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__wrap-text {
		color: #ffffff;
		background: url("mail-icon.png") no-repeat;
		padding-left: 127px;
		margin-right: 5px;
	}
	&__title {
		font-family: $font-family-VagWorld;
		color: #ffffff;
		font-size: 34px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 2px;
		margin-bottom: 11px;
	}
	&__text {
		font-size: 20px;
		font-weight: 400;
	}
	&__form {
		position: relative;
	}
	&__input, &__submit {
		border: none;
		outline: none;
		&:focus {
			outline: none;
		}
	}
	&__input {
		width: 420px;
		height: 61px;
		border-radius: 31px;
		background-color: #ffffff;
		padding-left: 34px;
		font-family: $font-family;
		font-size: 16px;
		font-weight: 700;
		&::-webkit-input-placeholder {
			@include subscribePlaceholder();
		}
		&::-moz-placeholder {
			@include subscribePlaceholder();
		}
		&:-moz-placeholder {
			@include subscribePlaceholder();
		}
		&:-ms-input-placeholder {
			@include subscribePlaceholder();
		}
	}
	&__submit {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		border: 6.5px solid #fff;
		padding: 16px 26px 16px 29px;
		appearance: none;
		border-radius: 30px;
		background-color: #8ab95f;
		color: #ffffff;
		font-family: $font-family-VagWorld;
		font-size: 16px;
		line-height: 1;
		font-weight: 700;
		letter-spacing: 0.16px;
		vertical-align: middle;
		&-span {
			display: inline-block;
			// line-height: 1;
		}
	}
	&__visible-mobile {
		display: none;
	}
	@media(max-width: $breakpoint900) {
		&__title {
			font-size: 23px;
		}
		&__text {
			font-size: 15px;
		}
		&__form {
			width: 49%;
		}
		&__input {
			width: 100%;
			padding-left: 32px;
		}
		&__submit {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
	@media(max-width: $breakpoint768) {
		& {
			padding: 40px 0;
		}
		&__input {
			padding-left: 20px;
		}
	}
	@media(max-width: $breakpoint750) {
		&__content {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__wrap-text {
			margin-right: 0;
			margin-bottom: 22px;
		}
		&__title {
			margin-top: 0;
		}
	}
	@media(max-width: $breakpoint680) {
		&__wrap-text {
			background-size: 82px 49px;
			padding-left: 103px;
		}
		&__title {
			font-size: 21px;
			letter-spacing: 0.22px;
			line-height: 1.2;
			margin-bottom: 0;
		}
		&__text {
			margin-bottom: 0;
			line-height: 1.2;
		}
		&__form {
			width: 100%;
		}
	}
	@media(max-width: $breakpoint450) {
		&__hidden-mobile {
			display: none;
		}
		&__visible-mobile {
			display: block;
		}
	}
}