<div class="subscribe">
    <div class="container">
		<div class="subscribe__content">
			<div class="subscribe__wrap-text">
				<h2 class="subscribe__title">Подпишитесь на рассылку</h2>
				<p class="subscribe__text">и ваш ребенок скажет вам спасибо!</p>
			</div>
			<div class="subscribe__form">
				<form action="#">
					<input type="text" autocomplete="off" placeholder="Введите вашу почту" class="subscribe__input" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
					<button type="submit" class="subscribe__submit"><span class="subscribe__submit-span subscribe__hidden-mobile">Отправить</span><span class="subscribe__submit-span subscribe__visible-mobile">Ок</span></button>
				</form>
			</div>
		</div>
    </div>
</div>